<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>questions</title>
</head>
<body>
<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<section class="questions">
    <div class="questions__title">Вопросы-ответы</div>
    <div class="questions__container">
        <div class="info__main--accordion accordion">
            <div class="a-container active">
                <p class="a-btn">
                    <span class="a-btn__text">Как правильно принимать пробиотики?</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel">
                    Пробиотики и пребиотики созданы для того, чтобы защищать микрофлору кишечника. А так как они "играют"против более сильного
                    соперника - антибиотиков, то и время их приема должно быть таким, как указано на упаковке. Бросив принимать препараты
                    одновременно с антибиотиками, люди часто остаются недовольны тем, что "это вот все не работает"
                   <br/> ⠀
                   <br/> ⠀
                    В инструкциях к применению большинства пробиотиков и пребиотиков указан курс приема в 14, 20 и даже 30 дней. И не стоит
                    экспериментировать со своим здоровьем и самочувствием и заканчивать принимать их раньше. Лечитесь до конца, будьт
                    внимательнее к своему организму и будет вам счастье!
                </div>
            </div>
            <div class="a-container">
                <p class="a-btn">
                    <span class="a-btn__text">Как часто стоит их употреблять?</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel">
                    Пробиотики и пребиотики созданы для того, чтобы защищать микрофлору кишечника. А так как они "играют"против более сильного
                    соперника - антибиотиков, то и время их приема должно быть таким, как указано на упаковке. Бросив принимать препараты
                    одновременно с антибиотиками, люди часто остаются недовольны тем, что "это вот все не работает"
                    <br/> ⠀
                    <br/> ⠀
                    В инструкциях к применению большинства пробиотиков и пребиотиков указан курс приема в 14, 20 и даже 30 дней. И не стоит
                    экспериментировать со своим здоровьем и самочувствием и заканчивать принимать их раньше. Лечитесь до конца, будьт
                    внимательнее к своему организму и будет вам счастье!
                </div>
            </div>
            <div class="a-container">
                <p class="a-btn">
                    <span class="a-btn__text">Нужен ли рецепт врача?</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel">
                    Пробиотики и пребиотики созданы для того, чтобы защищать микрофлору кишечника. А так как они "играют"против более сильного
                    соперника - антибиотиков, то и время их приема должно быть таким, как указано на упаковке. Бросив принимать препараты
                    одновременно с антибиотиками, люди часто остаются недовольны тем, что "это вот все не работает"
                    <br/> ⠀
                    <br/> ⠀
                    В инструкциях к применению большинства пробиотиков и пребиотиков указан курс приема в 14, 20 и даже 30 дней. И не стоит
                    экспериментировать со своим здоровьем и самочувствием и заканчивать принимать их раньше. Лечитесь до конца, будьт
                    внимательнее к своему организму и будет вам счастье!
                </div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('../includes/footer.html').default)() %>

</body>
</html>

