<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contacts</title>
</head>
<body>


<%= _.template(require('../includes/header.html').default)() %>


<section class="contacts">
    <div class="contacts__title">АО «Нобел Алматинская <br>
        Фармацевтическая Фабрика»
    </div>
    <div class="contacts__container">
        <div class="сontact-details">
            <div class="сontact-details__item">
                <span class="сontact-details__strong">Адрес:</span> Республика Казахстан, 050008, <br>
                г. Алматы, ул. Шевченко, 162 Е.
            </div>
            <div class="сontact-details__item">
                <span class="сontact-details__strong">тел:</span> +7 (727) 399 50 50 <br>
                <span class="сontact-details__strong">факс:</span> +7 (727) 399 60 60
            </div>
            <div class="сontact-details__item">
                Лицензия № ИПОР 64604515Р от 09.09.2003 г. ISO <br>
                9001: 2015 от 10.05.18 г.
            </div>
        </div>
        <div class="contacts__form">
            <div class="contacts__form--title">Свяжитесь с нами</div>
            <%= _.template(require('../includes/contacts-form.html').default)() %>
        </div>
    </div>
</section>

<section class="map">
    <img class="map__img" src="<%=require('../../resources/images/map.png').default%>" alt="map"/>

</section>

<section class="contacts">
    <div class="contacts__form--title">Список дилеров в России</div>
    <div class="contacts__container">
        <div class="accordion">
            <button class="new-accordion__button">Татарстан</button>
            <div class="new-accordion__panel">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore ea incidunt itaque, nam quam sit.
                Adipisci dicta dignissimos ea odio repellendus. Ab aspernatur at, culpa eos fuga tempora temporibus.
            </div>

            <button class="new-accordion__button">Чувашия</button>
            <div class="new-accordion__panel">
                ...
            </div>

            <button class="new-accordion__button">Нижний Новгород</button>
            <div class="new-accordion__panel">
...
            </div>

            <button class="new-accordion__button">Ульяновск</button>
            <div class="new-accordion__panel">
                ...
            </div>
        </div>
    </div>
</section>


<%= _.template(require('../includes/footer.html').default)() %>

</body>
</html>

