<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>delivery</title>
</head>
<body>
<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>

<section class="delivery">
    <div class="delivery__title">Доставка и оплата</div>
    <div class="delivery__container">
        <div class="delivery__container--list-title">Доставка</div>
        <div class="delivery__container--list">
            <p>Доставка по всей России</p>
            <ul>
                <li> Почтой России</li>
                <li> Курьерскими службами</li>
                <li> Транспортными компаниями.</li>
            </ul>
            <br>
            <br>
            Заказы, оформленные до 15.00, будут отправлены на следующий день, оформленные <br>
            после 15.00, будут отправлены через день.
        </div>
    </div>
    <div class="payment__container">
        <div class="mytabs">
            <input type="radio" id="tabfree" name="mytabs" checked="checked">
            <label for="tabfree">Оплата картой</label>
            <div class="tab">
                Онлайн-оплата банковской картой через системы электронных платежей. <br>
                Мы принимаем платежи с сайта по следующим банковским картам
            </div>

            <input type="radio" id="tabsilver" name="mytabs">
            <label for="tabsilver">Наличными </label>
            <div class="tab flex__column">
                Оплата при получении:
                <br>
                <ul>
                    <li> Самовывозом;</li>
                    <li>При получении курьером.</li>
                </ul>
            </div>
            <input type="radio" id="tabgold" name="mytabs">
            <label for="tabgold">С банковского счета</label>
            <div class="tab">
                Для юридических лиц оплата производится только по безналичному расчету путем перечисления денежных<br>
                средств с расчетного счета покупателя на расчетный счет ООО «Корейское Здоровье».
                <br>
                <br>
                — Минимальная сумма заказа для выставления счёта составляет 3 500 рублей.<br>
                — Счет на оплату товара Вы получите по электронной почте, указанной в заказе.<br>
                — Счет действителен в течение 3 банковских дней.<br>
                — Перед оплатой внимательно проверьте реквизиты организации.
                <br>
                <br>
                После оплаты счета с вами свяжется оператор «Корейское Здоровье» для уточнения даты доставки.<br>
                Если товар находится на удаленном складе, ближайшая дата доставки возможна на пятый день после<br>
                поступления денежных средств.

                При получении заказа необходимо иметь при себе главную печать организации или доверенность (формы
                М-2)<br>
                с главной печатью организации. Вместе с товаром Вы получите все необходимые документы: счет,
                счет-фактура<br>
                и накладная.
                <br>
                <br>
                Оплата производится только в российских рублях.
            </div>
        </div>

        <div class="accordion">
            <div class="a-container active">
                <p class="a-btn">
                    <span class="a-btn__text">Оплата картой</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel">
                    Онлайн-оплата банковской картой через системы электронных платежей. <br>
                    Мы принимаем платежи с сайта по следующим банковским картам
                </div>
            </div>
            <div class="a-container">
                <p class="a-btn">
                    <span class="a-btn__text">Наличными</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel">
                    Оплата при получении:
                    <br>
                    <ul>
                        <li> Самовывозом;</li>
                        <li>При получении курьером.</li>
                    </ul>
                </div>
            </div>
            <div class="a-container">
                <p class="a-btn">
                    <span class="a-btn__text">С банковского счета</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel">
                    Для юридических лиц оплата производится только по безналичному расчету путем перечисления
                    денежных<br>
                    средств с расчетного счета покупателя на расчетный счет ООО «Корейское Здоровье».
                    <br>
                    <br>
                    — Минимальная сумма заказа для выставления счёта составляет 3 500 рублей.<br>
                    — Счет на оплату товара Вы получите по электронной почте, указанной в заказе.<br>
                    — Счет действителен в течение 3 банковских дней.<br>
                    — Перед оплатой внимательно проверьте реквизиты организации.
                    <br>
                    <br>
                    После оплаты счета с вами свяжется оператор «Корейское Здоровье» для уточнения даты доставки.<br>
                    Если товар находится на удаленном складе, ближайшая дата доставки возможна на пятый день после<br>
                    поступления денежных средств.

                    При получении заказа необходимо иметь при себе главную печать организации или доверенность (формы
                    М-2)<br>
                    с главной печатью организации. Вместе с товаром Вы получите все необходимые документы: счет,
                    счет-фактура<br>
                    и накладная.
                    <br>
                    <br>
                    Оплата производится только в российских рублях.
                </div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('../includes/footer.html').default)() %>

</body>
</html>

