<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>delivery</title>
</head>
<body>
<%= _.template(require('../includes/header.html').default)() %>

<section class="delivery">
    <div class="delivery__title">Доставка и оплата</div>
    <div class="delivery__container">
        <div class="delivery__container--list-title">Доставка</div>
        <div class="delivery__container--list">
            <p>Доставка по всей России</p>
            <ul>
                <li> Почтой России</li>
                <li> Курьерскими службами</li>
                <li> Транспортными компаниями.</li>
            </ul>
            <br>
            <br>
            Заказы, оформленные до 15.00, будут отправлены на следующий день, оформленные <br>
            после 15.00, будут отправлены через день.
        </div>
    </div>
    <div class="payment__container">
        <div class="tab-js payment__tab">
            <div class="tab-js__links-container payment__links">
                <button class="tab-js__link active">Оплата картой </button>
                <button class="tab-js__link">Наличными</button>
                <button class="tab-js__link">С банковского счета</button>
            </div>
            <div class="tab-js__content-container">
                <div class="tab-js__content-item active">
                    Онлайн-оплата банковской картой через системы электронных платежей. <br>
                    Мы принимаем платежи с сайта по следующим банковским картам
                </div>

                <div class="tab-js__content-item">
                    Оплата при получении:
                    <br>
                    <ul>
                        <li>Самовывозом;</li>
                        <li>При получении курьером.</li>
                    </ul>
                </div>
                <div class="tab-js__content-item">
                    Для юридических лиц оплата производится только по безналичному расчету путем перечисления
                    денежных<br>
                    средств с расчетного счета покупателя на расчетный счет ООО «Корейское Здоровье».
                    <br>
                    <br>
                    — Минимальная сумма заказа для выставления счёта составляет 3 500 рублей.<br>
                    — Счет на оплату товара Вы получите по электронной почте, указанной в заказе.<br>
                    — Счет действителен в течение 3 банковских дней.<br>
                    — Перед оплатой внимательно проверьте реквизиты организации.
                    <br>
                    <br>
                    После оплаты счета с вами свяжется оператор «Корейское Здоровье» для уточнения даты доставки.<br>
                    Если товар находится на удаленном складе, ближайшая дата доставки возможна на пятый день после<br>
                    поступления денежных средств.

                    При получении заказа необходимо иметь при себе главную печать организации или доверенность (формы
                    М-2)<br>
                    с главной печатью организации. Вместе с товаром Вы получите все необходимые документы: счет,
                    счет-фактура<br>
                    и накладная.
                    <br>
                    <br>
                    Оплата производится только в российских рублях.
                </div>
            </div>
        </div>


        <div class="accordion">
            <button class="new-accordion__button">
                Оплата картой
            </button>
            <div class="new-accordion__panel">
                Онлайн-оплата банковской картой через системы электронных платежей. <br>
                Мы принимаем платежи с сайта по следующим банковским картам
            </div>

            <button class="new-accordion__button">
                Наличными
            </button>
            <div class="new-accordion__panel">
                Оплата при получении:
                <br>
                <ul>
                    <li>Самовывозом;</li>
                    <li>При получении курьером.</li>
                </ul>
            </div>

            <button class="new-accordion__button">
                С банковского счета
            </button>
            <div class="new-accordion__panel">
                Для юридических лиц оплата производится только по безналичному расчету путем перечисления
                денежных<br>
                средств с расчетного счета покупателя на расчетный счет ООО «Корейское Здоровье».
                <br>
                <br>
                — Минимальная сумма заказа для выставления счёта составляет 3 500 рублей.<br>
                — Счет на оплату товара Вы получите по электронной почте, указанной в заказе.<br>
                — Счет действителен в течение 3 банковских дней.<br>
                — Перед оплатой внимательно проверьте реквизиты организации.
                <br>
                <br>
                После оплаты счета с вами свяжется оператор «Корейское Здоровье» для уточнения даты доставки.<br>
                Если товар находится на удаленном складе, ближайшая дата доставки возможна на пятый день после<br>
                поступления денежных средств.

                При получении заказа необходимо иметь при себе главную печать организации или доверенность (формы
                М-2)<br>
                с главной печатью организации. Вместе с товаром Вы получите все необходимые документы: счет,
                счет-фактура<br>
                и накладная.
                <br>
                <br>
                Оплата производится только в российских рублях.
            </div>
        </div>
    </div>
</section>


<%= _.template(require('../includes/footer.html').default)() %>

</body>
</html>

