<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Документы</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<main class="main">
    <section class="documents">
        <div class="documents__header">
            Документы
        </div>

        <div class="documents__select">
            <div class="documents__select_item documents__select_item_default">Сертификаты</div>
            <div class="vertical_line"></div>
            <div class="documents__select_item">Свидетельства</div>
        </div>

        <div class="documents__main">
            <div class="tab-js nbl_atp__container--tab">
                <div class="tab-js__links-container">
                    <button class="tab-js__link" data-target="London" data-active="true">
                        <svg class="tab-js__link--arrow">
                            <use href="#Arrow-1"></use>
                        </svg>
                        <img src="<%=require('../../resources/images/doc1.png').default%>"/>
                    </button>
                    <button class="tab-js__link" data-target="Paris" data-active="false">
                        <svg class="tab-js__link--arrow">
                            <use href="#Arrow-1"></use>
                        </svg>
                        <img src="<%=require('../../resources/images/doc2.png').default%>"/>
                    </button>
                    <button class="tab-js__link" data-target="Tokyo" data-active="false">
                        <svg class="tab-js__link--arrow">
                            <use href="#Arrow-1"></use>
                        </svg>
                        <img src="<%=require('../../resources/images/doc3.png').default%>"/>
                    </button>
                    <button class="tab-js__link" data-target="Moscow" data-active="false">
                        <svg class="tab-js__link--arrow">
                            <use href="#Arrow-1"></use>
                        </svg>
                        <img src="<%=require('../../resources/images/doc4.png').default%>"/>
                    </button>
                </div>
                <div class="tab-js__content-container nbl_atp__tab-content">
                    <div id="London" class="tab-js__content-item nbl_atp__tab-content--item tab-js__content-item--active">
                        <div class="documents__main_description">
                            <div class="documents__main_description_header">
                                Запатентованная технология нанесения покрытий1
                            </div>
                            <div class="documents__main_description_text">
                                Наша ультрасовременная технология двойного покрытия запатентована во всем мире, включая Южную Корею, Соединенные Штаты, Европу, Китай и Японию.
                            </div>
                            <div class="documents__main_description_text">
                                Различные глобальные сертификаты позволяют нам экспортировать продукцию более чем в сорок стран.
                            </div>
                        </div>
                        <div class="nbl_atp__img-burger">
                            <img
                                    class="nbl_atp__img-burger--img-front"
                                    src="<%=require('../../resources/images/doc.png').default%>"
                                    alt="nbl_atp__image_big"
                            />
                            <div class="nbl_atp__img-burger--img-back"></div>
                            <div class="nbl_atp__img-burger--img-back"></div>
                            <div class="documents__dots">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>

                    <div id="Paris" class="tab-js__content-item nbl_atp__tab-content--item">
                        <div class="documents__main_description">
                            <div class="documents__main_description_header">
                                Запатентованная технология нанесения покрытий2
                            </div>
                            <div class="documents__main_description_text">
                                Наша ультрасовременная технология двойного покрытия запатентована во всем мире, включая Южную Корею, Соединенные Штаты, Европу, Китай и Японию.
                            </div>
                            <div class="documents__main_description_text">
                                Различные глобальные сертификаты позволяют нам экспортировать продукцию более чем в сорок стран.
                            </div>
                        </div>
                        <div class="nbl_atp__img-burger">
                            <img
                                    class="nbl_atp__img-burger--img-front"
                                    src="<%=require('../../resources/images/doc.png').default%>"
                                    alt="nbl_atp__image_big"
                            />
                            <div class="nbl_atp__img-burger--img-back"></div>
                            <div class="nbl_atp__img-burger--img-back"></div>
                        </div>
                    </div>

                    <div id="Tokyo" class="tab-js__content-item nbl_atp__tab-content--item">
                        <div class="documents__main_description">
                            <div class="documents__main_description_header">
                                Запатентованная технология нанесения покрытий3
                            </div>
                            <div class="documents__main_description_text">
                                Наша ультрасовременная технология двойного покрытия запатентована во всем мире, включая Южную Корею, Соединенные Штаты, Европу, Китай и Японию.
                            </div>
                            <div class="documents__main_description_text">
                                Различные глобальные сертификаты позволяют нам экспортировать продукцию более чем в сорок стран.
                            </div>
                        </div>
                        <div class="nbl_atp__img-burger">
                            <img
                                    class="nbl_atp__img-burger--img-front"
                                    src="<%=require('../../resources/images/doc.png').default%>"
                                    alt="nbl_atp__image_big"
                            />
                            <div class="nbl_atp__img-burger--img-back"></div>
                            <div class="nbl_atp__img-burger--img-back"></div
                        </div>
                    </div>

                    <div id="Moscow" class="tab-js__content-item nbl_atp__tab-content--item">
                        <div class="documents__main_description">
                            <div class="documents__main_description_header">
                                Запатентованная технология нанесения покрытий3
                            </div>
                            <div class="documents__main_description_text">
                                Наша ультрасовременная технология двойного покрытия запатентована во всем мире, включая Южную Корею, Соединенные Штаты, Европу, Китай и Японию.
                            </div>
                            <div class="documents__main_description_text">
                                Различные глобальные сертификаты позволяют нам экспортировать продукцию более чем в сорок стран.
                            </div>
                        </div>
                        <div class="nbl_atp__img-burger">
                            <img
                                    class="nbl_atp__img-burger--img-front"
                                    src="<%=require('../../resources/images/doc.png').default%>"
                                    alt="nbl_atp__image_big"
                            />
                            <div class="nbl_atp__img-burger--img-back"></div>
                            <div class="nbl_atp__img-burger--img-back"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="documents__nlb_img-wrap">
            <img
                    src="<%=require('../../resources/images/nlb.png').default%>"
                    alt="NLB"
            />
        </div>
    </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>

</body>
</html>

