<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBL</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<section id="effective" class="effective">
    <div class="effective__main">
        <div class="effective__title">Бактерии, которые дойдут до цели</div>
        <div class="effective__description">До 60% клеток иммунитета находится
            в кишечнике. Эффективность каждого
            пробиотика зависит от кол-ва
            доставленных в кишечник бактерий
        </div>
        <div class="effective__action">Узнать больше</div>
    </div>
    <div class="effective__img-box">
        <img src="<%=require('../../resources/images/probiotic-group-main.png').default%>"/>
    </div>
</section>
<section class="Lab2Pro">Lab2Pro
    <svg>
        <use href="#Arrow-1"></use>
    </svg>
</section>

<!--ЖИЗНЕСПОСОБНОСТЬ-->
<section id="effective1" class="viability">
    <div class="viability__title">Жизнеспособность</div>
    <div class="viability__description">Запатентованная технология двойного покрытия Lab2Pro, обеспечивает
        выживаемость полезных бактерий в кишечной микрофлоре
    </div>
    <div class="viability__details">
        <div class="viability__details--img-box">
            <img class="viability__details--img-iPhone"
                 src="<%=require('../../resources/images/home__viability--iPhone.png').default%>"/>
            <img class="viability__details--img-iPad"
                 src="<%=require('../../resources/images/home__viability--iPad.png').default%>"/>
            <img class="viability__details--img-main"
                 src="<%=require('../../resources/images/home__viability.png').default%>"/>
        </div>
        <div class="viability__details--content-box">
            <div class="viability__details--item">
                <div class="viability__details--header">
                    <span class="viability__details--number">1</span>
                    <div class="viability__details--row">
                        <div class="viability__details--title">ПЕПТИДный слой</div>
                        <div class="viability__details--description">защищает живые бактерии от:</div>
                    </div>
                </div>
                <div class="viability__details--list">
                    <ul>
                        <li>Соляной кислоты;</li>
                        <li> Солей желчных кислот;</li>
                        <li>Пищеварительных ферментов;</li>
                    </ul>
                </div>
            </div>
            <div class="viability__details--item">
                <div class="viability__details--header">
                    <span class="viability__details--number">2</span>
                    <div class="viability__details--row">
                        <div class="viability__details--title">ПОЛИСАХАРИДНЫЙ Слой</div>
                        <div class="viability__details--description">защищает живые бактерии от:</div>
                    </div>
                </div>
                <div class="viability__details--list">
                    <ul>
                        <li>Влаги;</li>
                        <li>Температуры;</li>
                        <li>Механического давления;</li>
                        <li>Увеличивает стабильность;</li>
                    </ul>
                </div>
            </div>
            <div class="viability__details--item">
                <div class="viability__details--header">
                    <span class="viability__details--number">3</span>
                    <div class="viability__details--row">
                        <div class="viability__details--title">пробиотики</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Почему важно двойное покрытие?-->
<section id="double-cover" class="double-cover">
    <div class="double-cover__title">Почему важно двойное покрытие?</div>
    <div class="double-cover__description">Cистема двойного покрытия Lab2Pro защищает пробиотики от агрессивных факторов
        организма, и высвобождают их в кишечнике по pH-зависимому механизму
    </div>
    <div class="double-cover__details">
        <div class="tab-js double-cover__details--tab">
            <div class="tab-js__links-container double-cover__details--links">
                <button class="tab-js__link" data-target="PH2.0" data-active="true">
                    PH2.0
                </button>
                <svg>
                    <use href="#Arrow-1"></use>
                </svg>
                <button class="tab-js__link" data-target="PH4.0" data-active="false">
                    PH4.0
                </button>
                <svg>
                    <use href="#Arrow-1"></use>
                </svg>
                <button class="tab-js__link" data-target="PH7.0" data-active="false">
                    PH7.0
                </button>
            </div>
            <div class="tab-js__content-container">
                <div id="PH2.0"
                     class="tab-js__content-item tab-js__content-item--active double-cover__details--content">
                    <div class="double-cover__content--img">
                        <img src="<%=require('../../resources/images/double-cover__stomach.png').default%>"/>
                    </div>
                    <div class="double-cover__content--description">Благодаря пептидно-белковой матрице покрытие
                        остается неповрежденным
                    </div>
                </div>

                <div id="PH4.0"
                     class="tab-js__content-item double-cover__details--content">
                    <div class="double-cover__content--img">
                        <img src="<%=require('../../resources/images/double-cover__stomach.png').default%>"/>
                    </div>
                    <div class="double-cover__content--description">Благодаря пептидно-белковой матрице покрытие
                        остается неповрежденным
                    </div>
                </div>
                <div id="PH7.0"
                     class="tab-js__content-item double-cover__details--content">
                    <div class="double-cover__content--img">
                        <img src="<%=require('../../resources/images/double-cover__stomach.png').default%>"/>
                    </div>
                    <div class="double-cover__content--description">Благодаря пептидно-белковой матрице покрытие
                        остается неповрежденным
                    </div>
                </div>
            </div>
        </div>

        <div class="double-cover__details--accordion">
            <button class="new-accordion__button">PH2.0</button>
            <div class="new-accordion__panel nbl_atp__accordion--content">
                <div class="double-cover__details--content">
                    <div class="double-cover__content--description">Благодаря пептидно-белковой матрице покрытие
                        остается неповрежденным
                    </div>
                    <div class="double-cover__content--img">
                        <img src="<%=require('../../resources/images/double-cover__stomach.png').default%>"/>
                    </div>
                </div>
            </div>

            <button class="new-accordion__button">PH4.0</button>
            <div class="new-accordion__panel double-cover__details--content">
                <div class="double-cover__content--description">Благодаря пептидно-белковой матрице покрытие
                    остается неповрежденным
                </div>
                <div class="double-cover__content--img">
                    <img src="<%=require('../../resources/images/double-cover__stomach.png').default%>"/>
                </div>
            </div>

            <button class="new-accordion__button">PH7.0</button>
            <div class="new-accordion__panel double-cover__details--content">
                <div class="double-cover__content--description">Благодаря пептидно-белковой матрице покрытие
                    остается неповрежденным
                </div>
                <div class="double-cover__content--img">
                    <img src="<%=require('../../resources/images/double-cover__stomach.png').default%>"/>
                </div>
            </div>
        </div>


    </div>
</section>

<!--Выживаемость бактерий-->
<section class="bacterial-survival">
    <div class="bacterial-survival__header">
        <div class="bacterial-survival__header--title">Выживаемость бактерий</div>
        <div class="bacterial-survival__header--info">
            <div class="bacterial-survival__header-icon-box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="bacterial-survival__header-number-box">
                <div class="bacterial-survival__header-number">100</div>
                <div class="bacterial-survival__header-text-number">раз выше</div>
            </div>
            <div class="bacterial-survival__header-text-number2">чем у пробиотиков без покрытия</div>
        </div>
    </div>
    <div class="bacterial-survival__body">
        <img src="<%=require('../../resources/images/home__bacterial-survival--table.png').default%>"/>
    </div>
</section>

<!--Классификация пробиотиков-->
<section id="classification" class="classification">
    <div class="classification__title">Классификация пробиотиков</div>
    <div class="classification__list">
        <div class="classification__list--item">
            <span class="classification__list--number">I</span>
            <div class="">
                <div class="classification__list--title">Без покрытия</div>
                <div class="classification__list--description">Большинство пробиотиков</div>
            </div>
        </div>
        <div class="classification__list--item">
            <span class="classification__list--number">II</span>
            <div class="">
                <div class="classification__list--title">С кишечнорастворимой оболочкой</div>
                <div class="classification__list--description">Некоторые производители</div>
            </div>
        </div>
        <div class="classification__list--item">
            <span class="classification__list--number">III</span>
            <div class="">
                <div class="classification__list--title">Микрокапсулированные</div>
                <div class="classification__list--description">Некоторые производители</div>
            </div>
        </div>
    </div>
    <div class="classification__age">
        <div class="classification__age--title">Поколение</div>
        <div class="classification__age--box ">
            <img src="<%=require('../../resources/images/home__classification.png').default%>"/>
            <div class="classification__age--description">NBL пробиотики с двойным покрытием. Штаммы
                пробиотиков NBL, были выделены из организма младенцев и женского грудного молока.
            </div>
        </div>
    </div>
</section>

<!--АТП-->
<section class="nbl_atp">
    <div class="tab-js nbl_atp__container--tab">
        <div class="tab-js__links-container">
            <button class="tab-js__link" data-target="London" data-active="true">
                <svg class="tab-js__link--arrow">
                    <use href="#Arrow-1"></use>
                </svg>
                <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
            </button>
            <button class="tab-js__link" data-target="Paris" data-active="false">
                <svg class="tab-js__link--arrow">
                    <use href="#Arrow-1"></use>
                </svg>
                <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
            </button>
            <button class="tab-js__link" data-target="Tokyo" data-active="false">
                <svg class="tab-js__link--arrow">
                    <use href="#Arrow-1"></use>
                </svg>
                <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
            </button>
        </div>
        <div class="tab-js__content-container nbl_atp__tab-content">
            <div id="London" class="tab-js__content-item nbl_atp__tab-content--item tab-js__content-item--active">
                <div class="nbl_atp__about">
                    <div class="nbl_atp__about--title">NBL ATP</div>
                    <div class="nbl_atp__about--description">рекомендовано при:</div>
                    <div class="nbl_atp__about--list">
                        <ul>
                            <li>Атопический дерматит;</li>
                            <li>Аллергический ринит;</li>
                            <li>Бронхиальная астма;</li>
                            <li>Крапивница;</li>
                            <li>Себорейный дерматит;</li>
                            <li>Частые простудные заболевания;</li>
                            <li>Проблемы со стулом (запоры, поносы);</li>
                            <li>Метеоризм;</li>
                        </ul>
                    </div>
                    <div class="nbl_atp__about--action">Подробнее</div>
                </div>
                <div class="nbl_atp__img-burger">
                    <img
                            class="nbl_atp__img-burger--img-front"
                            src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                            alt="nbl_atp__image_big"
                    />
                    <div class="nbl_atp__img-burger--img-back"></div>
                    <div class="nbl_atp__img-burger--img-back"></div>
                </div>
            </div>

            <div id="Paris" class="tab-js__content-item nbl_atp__tab-content--item">
                <div class="nbl_atp__about">
                    <div class="nbl_atp__about--title">NBL ATP</div>
                    <div class="nbl_atp__about--description">рекомендовано при:</div>
                    <div class="nbl_atp__about--list">
                        <ul>
                            <li>Атопический дерматит;</li>
                            <li>Аллергический ринит;</li>
                            <li>Бронхиальная астма;</li>
                            <li>Крапивница;</li>
                            <li>Себорейный дерматит;</li>
                            <li>Частые простудные заболевания;</li>
                            <li>Проблемы со стулом (запоры, поносы);</li>
                            <li>Метеоризм;</li>
                        </ul>
                    </div>
                    <div class="nbl_atp__about--action">Подробнее</div>
                </div>
                <div class="nbl_atp__img-burger">
                    <img
                            class="nbl_atp__img-burger--img-front"
                            src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                            alt="nbl_atp__image_big"
                    />
                    <div class="nbl_atp__img-burger--img-back"></div>
                    <div class="nbl_atp__img-burger--img-back"></div>
                </div>
            </div>

            <div id="Tokyo" class="tab-js__content-item nbl_atp__tab-content--item">
                <div class="nbl_atp__about">
                    <div class="nbl_atp__about--title">NBL ATP</div>
                    <div class="nbl_atp__about--description">рекомендовано при:</div>
                    <div class="nbl_atp__about--list">
                        <ul>
                            <li>Атопический дерматит;</li>
                            <li>Аллергический ринит;</li>
                            <li>Бронхиальная астма;</li>
                            <li>Крапивница;</li>
                            <li>Себорейный дерматит;</li>
                            <li>Частые простудные заболевания;</li>
                            <li>Проблемы со стулом (запоры, поносы);</li>
                            <li>Метеоризм;</li>
                        </ul>
                    </div>
                    <div class="nbl_atp__about--action">Подробнее</div>
                </div>
                <div class="nbl_atp__img-burger">
                    <img
                            class="nbl_atp__img-burger--img-front"
                            src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                            alt="nbl_atp__image_big"
                    />
                    <div class="nbl_atp__img-burger--img-back"></div>
                    <div class="nbl_atp__img-burger--img-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="nbl_atp__container--accordion">
        <button class="new-accordion__button" data-is-hide-active>
            <img
                    class="nbl_atp__accordion-header--button-img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
        </button>
        <div class="new-accordion__panel nbl_atp__accordion-content">
            <div class="nbl_atp__accordion-content--title">NBL ATP</div>
            <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
            <img
                    class="nbl_atp__accordion-content--img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-content--list">
                <ul>
                    <li>Атопический дерматит;</li>
                    <li>Аллергический ринит;</li>
                    <li>Бронхиальная астма;</li>
                    <li>Крапивница;</li>
                    <li>Себорейный дерматит;</li>
                    <li>Частые простудные заболевания;</li>
                    <li>Проблемы со стулом (запоры, поносы);</li>
                    <li>Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__accordion-content--action">Подробнее</div>
        </div>

        <button class="new-accordion__button" data-is-hide-active>
            <img
                    class="nbl_atp__accordion-header--button-img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
        </button>
        <div class="new-accordion__panel nbl_atp__accordion-content">
            <div class="nbl_atp__accordion-content--title">NBL ATP</div>
            <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
            <img
                    class="nbl_atp__accordion-content--img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-content--list">
                <ul>
                    <li>Атопический дерматит;</li>
                    <li>Аллергический ринит;</li>
                    <li>Бронхиальная астма;</li>
                    <li>Крапивница;</li>
                    <li>Себорейный дерматит;</li>
                    <li>Частые простудные заболевания;</li>
                    <li>Проблемы со стулом (запоры, поносы);</li>
                    <li>Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__accordion-content--action">Подробнее</div>
        </div>

        <button class="new-accordion__button" data-is-hide-active>
            <img
                    class="nbl_atp__accordion-header--button-img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
        </button>
        <div class="new-accordion__panel nbl_atp__accordion-content">
            <div class="nbl_atp__accordion-content--title">NBL ATP</div>
            <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
            <img
                    class="nbl_atp__accordion-content--img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-content--list">
                <ul>
                    <li>Атопический дерматит;</li>
                    <li>Аллергический ринит;</li>
                    <li>Бронхиальная астма;</li>
                    <li>Крапивница;</li>
                    <li>Себорейный дерматит;</li>
                    <li>Частые простудные заболевания;</li>
                    <li>Проблемы со стулом (запоры, поносы);</li>
                    <li>Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__accordion-content--action">Подробнее</div>
        </div>
    </div>
</section>

<!--Доктора рекомендуют-->
<section class="doctor-recommendation">
    <div class="doctor-recommendation__title">ДОКТОРА РЕКОМЕНДУЮТ</div>
    <div class="doctor-recommendation__container">
        <button>
            <svg class="">
                <use href="#Arrow-1"></use>
            </svg>
        </button>
        <div class="mytabs doctor-recommendation__tab-container">
            <input type="radio" id="tabimmun" name="mytabs" checked>
            <label for="tabimmun">
                Иммунолог – аллерголог
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>

            <input type="radio" id="tabped" name="mytabs">
            <label for="tabped">
                Педиатр
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>


            <input type="radio" id="tabcosm" name="mytabs">
            <label for="tabcosm">
                Косметолог
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>

            <input type="radio" id="tabgin" name="mytabs">
            <label for="tabgin">
                Гинеколог
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Отзывы-->
<section class="reviews">
    <div class="reviews__title">Отзывы</div>
    <div class="tab-js reviews__container">
        <div class="tab-js__links-container">
            <button class="tab-js__link" data-target="all" data-active="true">
                все
            </button>
            <button class="tab-js__link" data-target="instagram" data-active="false">
                instagram
            </button>
            <button class="tab-js__link" data-target="facebook" data-active="false">
                facebook
            </button>
            <button class="tab-js__link" data-target="vk" data-active="false">
                Вконтакте
            </button>
            <button class="tab-js__link" data-target="Whatsupp" data-active="false">
                Whatsupp
            </button>
        </div>
        <div class="tab-js__content-container">
            <div id="all" class="tab-js__content-item tab-js__content-item--active">
                <div class="reviews__container--img-box">
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-1.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-2.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-3.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-4.png').default%>"/>
                    </div>
                </div>
                <div class="reviews__fetch-more">Смотреть все</div>
            </div>

            <div id="instagram" class="tab-js__content-item">
                <div class="reviews__container--img-box">
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-1.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-2.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-3.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-4.png').default%>"/>
                    </div>
                </div>
                <div class="reviews__fetch-more">Смотреть все</div>
            </div>

            <div id="facebook" class="tab-js__content-item">
                <div class="reviews__container--img-box">
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-1.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-2.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-3.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-4.png').default%>"/>
                    </div>
                </div>
                <div class="reviews__fetch-more">Смотреть все</div>
            </div>
        </div>
    </div>
</section>

<!--Наука-->
<section class="states">
    <div class="states__title">Наука
        <div class="states__science">
            <img src="<%=require('../../resources/images/science.png').default%>"/>
            <button>
                <svg>
                    <use href="#Arrow-1"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="states__container">
        <div class="states__container--item">
            <div class="states-item__img-box">
                <img src="<%=require('../../resources/images/state1.png').default%>"/>
            </div>
            <div class="states-item__box">
                <div class="states-item__box--date">03.06</div>
                <div class="states-item__box--title">Пробиотики и пребиотики:
                    какие бактерии полезны
                </div>
                <div class="states-item__box--description">Диетологи называют кишечник
                    вторым мозгом, хотя он скорее ...
                </div>
            </div>
        </div>
        <div class="states__container--item">
            <div class="states-item__img-box">
                <img src="<%=require('../../resources/images/state1.png').default%>"/>
            </div>
            <div class="states-item__box">
                <div class="states-item__box--date">03.06</div>
                <div class="states-item__box--title">Пробиотики и пребиотики:
                    какие бактерии полезны
                </div>
                <div class="states-item__box--description">Диетологи называют кишечник
                    вторым мозгом, хотя он скорее ...
                </div>
            </div>
        </div>
        <button class="states__container--action">Смотреть все</button>
    </div>
</section>

<%= _.template(require('../includes/footer.html').default)() %>
</body>
</html>

