<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBL</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<main class="main">
    <section id="effective" class="effective flex flex__wrap">
        <div class="flex flex__column flex__self-start description">
            <div class="title__main">Бактерии, которые дойдут до цели</div>
            <div class="title__main-text">До 60% клеток иммунитета находится в кишечнике.
                Эффективность каждого пробиотика зависит
                от кол-ва доставленных в кишечник бактерий
            </div>
            <div class="title__main-action">Узнать больше</div>
        </div>
        <div class="flex__self-start probiotic-group"></div>
        <div class="w-100 flex flex__justify-center Lab2Pro">Lab2Pro</div>
    </section>
    <section id="effective1" class="viability">
        <div class="viability__title">
            <div class="title__section">Жизнеспособность</div>
            <div class="title__section-text">Запатентованная технология двойного покрытия Lab2Pro, обеспечивает
                выживаемость полезных бактерий в кишечной микрофлоре
            </div>
        </div>
        <div class="viability__details">
            <div class="viability__details-item viability__details-first">
                <div class="w-100 flex">
                    <div class="viability--number">1</div>
                    <div class="flex flex__column">
                        <div class="viability__details-title">Пептидный слой</div>
                        <div class="viability__details-description">защищает живые бактерии от:</div>
                        <div class="viability__details-list">
                            <ul>
                                <li>Соляной кислоты;</li>
                                <li>Солей желчных кислот;</li>
                                <li>Пищеварительных ферментов;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 flex flex__justify-center absolute viability__details-img-box">
                <div class="viability__details-img"></div>
            </div>
            <div class="viability__details-item viability__details-second">
                <div class="w-100 flex">
                    <div class="viability--number">2</div>
                    <div class="flex flex__column">
                        <div class="viability__details-title">Полисахаридный слой</div>
                        <div class="viability__details-description">защищает живые бактерии от:</div>
                        <div class="viability__details-list">
                            <ul>
                                <li>Влаги;</li>
                                <li>Температуры;</li>
                                <li>Маханического давления;</li>
                                <li>Увеличивает стабильность;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="double-cover" class="double-cover">
        <div class="double-cover__title">
            <div class="title__section">Почему важно двойное покрытие?</div>
            <div class="title__section-text">Запатентованная технология двойного покрытия Lab2Pro, обеспечивает
                выживаемость полезных бактерий в кишечной микрофлоре
            </div>
        </div>
        <div class="double-cover__details">
            <div id="tab" class="double-cover__details-tab"></div>
            <div id="accordion" class="double-cover__details-accordion"></div>
        </div>
    </section>
    <section id="bacterial-survival" class="bacterial-survival">
        <div class="bacterial-survival__header">
            <div class="title__section bacterial-survival__header-title">Выживаемость бактерий</div>
            <div class="bacterial-survival__header-info flex">
                <div class="flex bacterial-survival__header-icon-box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="flex flex__column bacterial-survival__header-number-box">
                    <div class="bacterial-survival__header-number">100</div>
                    <div class="bacterial-survival__header-text-number">раз выше</div>
                </div>
                <div class="bacterial-survival__header-text-number2">чем у пробиотиков без покрытия</div>
            </div>
        </div>
        <div class="bacterial-survival__body">
            <svg>
                <use href="#table"></use>
            </svg>
        </div>
    </section>
    <section id="classification" class="classification flex flex__justify-center flex__wrap">
        <div class="w-100 title__section flex flex__justify-center">Классификация пробиотиков</div>
        <div class="w-100 classification__list">
            <div class="classification__list-item flex">
                <span class="classification__list-number">I</span>
                <div class="flex flex__column flex__justify-center">
                    <div class="classification__list-title">Без покрытия</div>
                    <div class="classification__list-description">Большинство пробиотиков</div>
                </div>
            </div>
            <div class="classification__list-item flex">
                <span class="classification__list-number">II</span>
                <div class="flex flex__column flex__justify-center">
                    <div class="classification__list-title">С кишечнорастворимой оболочкой</div>
                    <div class="classification__list-description">Некоторые производители</div>
                </div>
            </div>
            <div class="classification__list-item flex">
                <span class="classification__list-number">III</span>
                <div class="flex flex__column flex__justify-center">
                    <div class="classification__list-title">Микрокапсулированные</div>
                    <div class="classification__list-description">Некоторые производители</div>
                </div>
            </div>
        </div>
        <div class="classification__age flex flex__wrap">
            <div class="classification__age-title w-100 flex__justify-center">Поколение</div>
            <div class="classification__age-box w-100 ">
                <div class="flex__justify-center flex">
                    <svg class="classification__age-img">
                        <use href="#classification"></use>
                    </svg>
                    <span class="back-box">
                        <svg class="back-box-img">
                            <use href="#back3"></use>
                        </svg>
                    </span>
                </div>
                <div class="flex flex__justify-center text-align__center">NBL пробиотики с двойным покрытием. Штаммы
                    пробиотиков NBL, были выделены из организма младенцев и женского грудного молока.
                </div>
            </div>
        </div>
    </section>

</main>

<section class="nbl_atp">
    <div class="tab-js nbl_atp__container--tab">
        <div class="tab-js__links-container">
            <button class="tab-js__link" data-target="London" data-active="true">
                <svg class="tab-js__link--arrow">
                    <use href="#Arrow-1"></use>
                </svg>
                <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
            </button>
            <button class="tab-js__link" data-target="Paris" data-active="false">
                <svg class="tab-js__link--arrow">
                    <use href="#Arrow-1"></use>
                </svg>
                <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
            </button>
            <button class="tab-js__link" data-target="Tokyo" data-active="false">
                <svg class="tab-js__link--arrow">
                    <use href="#Arrow-1"></use>
                </svg>
                <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
            </button>
        </div>
        <div class="tab-js__content-container nbl_atp__tab-content">
            <div id="London" class="tab-js__content-item nbl_atp__tab-content--item tab-js__content-item--active">
                <div class="nbl_atp__about">
                    <div class="nbl_atp__about--title">NBL ATP</div>
                    <div class="nbl_atp__about--description">рекомендовано при:</div>
                    <div class="nbl_atp__about--list">
                        <ul>
                            <li>Атопический дерматит;</li>
                            <li>Аллергический ринит;</li>
                            <li>Бронхиальная астма;</li>
                            <li>Крапивница;</li>
                            <li>Себорейный дерматит;</li>
                            <li>Частые простудные заболевания;</li>
                            <li>Проблемы со стулом (запоры, поносы);</li>
                            <li>Метеоризм;</li>
                        </ul>
                    </div>
                    <div class="nbl_atp__about--action">Подробнее</div>
                </div>
                <div class="nbl_atp__img-burger">
                    <img
                            class="nbl_atp__img-burger--img-front"
                            src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                            alt="nbl_atp__image_big"
                    />
                    <div class="nbl_atp__img-burger--img-back"></div>
                    <div class="nbl_atp__img-burger--img-back"></div>
                </div>
            </div>

            <div id="Paris" class="tab-js__content-item nbl_atp__tab-content--item">
                <div class="nbl_atp__about">
                    <div class="nbl_atp__about--title">NBL ATP</div>
                    <div class="nbl_atp__about--description">рекомендовано при:</div>
                    <div class="nbl_atp__about--list">
                        <ul>
                            <li>Атопический дерматит;</li>
                            <li>Аллергический ринит;</li>
                            <li>Бронхиальная астма;</li>
                            <li>Крапивница;</li>
                            <li>Себорейный дерматит;</li>
                            <li>Частые простудные заболевания;</li>
                            <li>Проблемы со стулом (запоры, поносы);</li>
                            <li>Метеоризм;</li>
                        </ul>
                    </div>
                    <div class="nbl_atp__about--action">Подробнее</div>
                </div>
                <div class="nbl_atp__img-burger">
                    <img
                            class="nbl_atp__img-burger--img-front"
                            src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                            alt="nbl_atp__image_big"
                    />
                    <div class="nbl_atp__img-burger--img-back"></div>
                    <div class="nbl_atp__img-burger--img-back"></div>
                </div>
            </div>

            <div id="Tokyo" class="tab-js__content-item nbl_atp__tab-content--item">
                <div class="nbl_atp__about">
                    <div class="nbl_atp__about--title">NBL ATP</div>
                    <div class="nbl_atp__about--description">рекомендовано при:</div>
                    <div class="nbl_atp__about--list">
                        <ul>
                            <li>Атопический дерматит;</li>
                            <li>Аллергический ринит;</li>
                            <li>Бронхиальная астма;</li>
                            <li>Крапивница;</li>
                            <li>Себорейный дерматит;</li>
                            <li>Частые простудные заболевания;</li>
                            <li>Проблемы со стулом (запоры, поносы);</li>
                            <li>Метеоризм;</li>
                        </ul>
                    </div>
                    <div class="nbl_atp__about--action">Подробнее</div>
                </div>
                <div class="nbl_atp__img-burger">
                    <img
                            class="nbl_atp__img-burger--img-front"
                            src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                            alt="nbl_atp__image_big"
                    />
                    <div class="nbl_atp__img-burger--img-back"></div>
                    <div class="nbl_atp__img-burger--img-back"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="nbl_atp__container--accordion">
        <button class="new-accordion__button" data-is-hide-active>
            <img
                    class="nbl_atp__accordion-header--button-img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
        </button>
        <div class="new-accordion__panel nbl_atp__accordion-content">
            <div class="nbl_atp__accordion-content--title">NBL ATP</div>
            <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
            <img
                    class="nbl_atp__accordion-content--img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-content--list">
                <ul>
                    <li>Атопический дерматит;</li>
                    <li>Аллергический ринит;</li>
                    <li>Бронхиальная астма;</li>
                    <li>Крапивница;</li>
                    <li>Себорейный дерматит;</li>
                    <li>Частые простудные заболевания;</li>
                    <li>Проблемы со стулом (запоры, поносы);</li>
                    <li>Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__accordion-content--action">Подробнее</div>
        </div>

        <button class="new-accordion__button" data-is-hide-active>
            <img
                    class="nbl_atp__accordion-header--button-img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
        </button>
        <div class="new-accordion__panel nbl_atp__accordion-content">
            <div class="nbl_atp__accordion-content--title">NBL ATP</div>
            <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
            <img
                    class="nbl_atp__accordion-content--img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-content--list">
                <ul>
                    <li>Атопический дерматит;</li>
                    <li>Аллергический ринит;</li>
                    <li>Бронхиальная астма;</li>
                    <li>Крапивница;</li>
                    <li>Себорейный дерматит;</li>
                    <li>Частые простудные заболевания;</li>
                    <li>Проблемы со стулом (запоры, поносы);</li>
                    <li>Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__accordion-content--action">Подробнее</div>
        </div>

        <button class="new-accordion__button" data-is-hide-active>
            <img
                    class="nbl_atp__accordion-header--button-img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
        </button>
        <div class="new-accordion__panel nbl_atp__accordion-content">
            <div class="nbl_atp__accordion-content--title">NBL ATP</div>
            <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
            <img
                    class="nbl_atp__accordion-content--img"
                    src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__accordion-content--list">
                <ul>
                    <li>Атопический дерматит;</li>
                    <li>Аллергический ринит;</li>
                    <li>Бронхиальная астма;</li>
                    <li>Крапивница;</li>
                    <li>Себорейный дерматит;</li>
                    <li>Частые простудные заболевания;</li>
                    <li>Проблемы со стулом (запоры, поносы);</li>
                    <li>Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__accordion-content--action">Подробнее</div>
        </div>
    </div>
</section>

<section class="doctor-recommendation">
    <div class="doctor-recommendation__title">ДОКТОРА РЕКОМЕНДУЮТ</div>
    <div class="doctor-recommendation__container">
        <button>
            <svg class="">
                <use href="#Arrow-1"></use>
            </svg>
        </button>
        <div class="mytabs doctor-recommendation__tab-container">
            <input type="radio" id="tabimmun" name="mytabs" checked>
            <label for="tabimmun">
                Иммунолог – аллерголог
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>

            <input type="radio" id="tabped" name="mytabs">
            <label for="tabped">
                Педиатр
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>


            <input type="radio" id="tabcosm" name="mytabs">
            <label for="tabcosm">
                Косметолог
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>

            <input type="radio" id="tabgin" name="mytabs">
            <label for="tabgin">
                Гинеколог
            </label>
            <div class="tab doctor-recommendation__tab-box">
                <div class="doctor-recommendation__tab-item active">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--title">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
                <div class="doctor-recommendation__tab-item">
                    <img
                            class="doctor-recommendation__tab-item--img"
                            src="<%=require('../../resources/images/recomendation_pic1.png').default%>"/>
                    <div class="doctor-recommendation__tab-item--description"> Зачем нужны пробиотики?</div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="reviews">
    <div class="reviews__title">Отзывы</div>
    <div class="tab-js reviews__container">
        <div class="tab-js__links-container">
            <button class="tab-js__link" data-target="all" data-active="true">
                все
            </button>
            <button class="tab-js__link" data-target="instagram" data-active="false">
                instagram
            </button>
            <button class="tab-js__link" data-target="facebook" data-active="false">
                facebook
            </button>
            <button class="tab-js__link" data-target="vk" data-active="false">
                Вконтакте
            </button>
            <button class="tab-js__link" data-target="Whatsupp" data-active="false">
                Whatsupp
            </button>
        </div>
        <div class="tab-js__content-container">
            <div id="all" class="tab-js__content-item tab-js__content-item--active">
                <div class="reviews__container--img-box">
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-1.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-2.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-3.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-4.png').default%>"/>
                    </div>
                </div>
                <div class="reviews__fetch-more">Смотреть все</div>
            </div>

            <div id="instagram" class="tab-js__content-item">
                <div class="reviews__container--img-box">
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-1.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-2.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-3.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-4.png').default%>"/>
                    </div>
                </div>
                <div class="reviews__fetch-more">Смотреть все</div>
            </div>

            <div id="facebook" class="tab-js__content-item">
                <div class="reviews__container--img-box">
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-1.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-2.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-3.png').default%>"/>
                    </div>
                    <div class="reviews__container--img-item">
                        <img src="<%=require('../../resources/images/reviews-4.png').default%>"/>
                    </div>
                </div>
                <div class="reviews__fetch-more">Смотреть все</div>
            </div>
        </div>
    </div>
</section>

<section class="states">
    <div class="states__title">Наука
        <div class="states__science">
            <img src="<%=require('../../resources/images/science.png').default%>"/>
            <button>
                <svg>
                    <use href="#Arrow-1"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="states__container">
        <div class="states__container--item">
            <div class="states-item__img-box">
                <img src="<%=require('../../resources/images/state1.png').default%>"/>
            </div>
            <div class="states-item__box">
                <div class="states-item__box--date">03.06</div>
                <div class="states-item__box--title">Пробиотики и пребиотики:
                    какие бактерии полезны
                </div>
                <div class="states-item__box--description">Диетологи называют кишечник
                    вторым мозгом, хотя он скорее ...
                </div>
            </div>
        </div>
        <div class="states__container--item">
            <div class="states-item__img-box">
                <img src="<%=require('../../resources/images/state1.png').default%>"/>
            </div>
            <div class="states-item__box">
                <div class="states-item__box--date">03.06</div>
                <div class="states-item__box--title">Пробиотики и пребиотики:
                    какие бактерии полезны
                </div>
                <div class="states-item__box--description">Диетологи называют кишечник
                    вторым мозгом, хотя он скорее ...
                </div>
            </div>
        </div>
        <button class="states__container--action">Смотреть все</button>
    </div>
</section>

<%= _.template(require('../includes/footer.html').default)() %>
</body>
</html>

