<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBL</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<main class="main">
    <section id="effective" class="effective flex flex__wrap">
        <div class="flex flex__column flex__self-start description">
            <div class="title__main">Бактерии, которые дойдут до цели</div>
            <div class="title__main-text">До 60% клеток иммунитета находится в кишечнике.
                Эффективность каждого пробиотика зависит
                от кол-ва доставленных в кишечник бактерий
            </div>
            <div class="title__main-action">Узнать больше</div>
        </div>
        <div class="flex__self-start probiotic-group"></div>
        <div class="w-100 flex flex__justify-center Lab2Pro">Lab2Pro</div>
    </section>
    <section id="effective1" class="viability">
        <div class="viability__title">
            <div class="title__section">Жизнеспособность</div>
            <div class="title__section-text">Запатентованная технология двойного покрытия Lab2Pro, обеспечивает
                выживаемость полезных бактерий в кишечной микрофлоре
            </div>
        </div>
        <div class="viability__details">
            <div class="viability__details-item viability__details-first">
                <div class="w-100 flex">
                    <div class="viability--number">1</div>
                    <div class="flex flex__column">
                        <div class="viability__details-title">Пептидный слой</div>
                        <div class="viability__details-description">защищает живые бактерии от:</div>
                        <div class="viability__details-list">
                            <ul>
                                <li>Соляной кислоты;</li>
                                <li>Солей желчных кислот;</li>
                                <li>Пищеварительных ферментов;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 flex flex__justify-center absolute viability__details-img-box">
                <div class="viability__details-img"></div>
            </div>
            <div class="viability__details-item viability__details-second">
                <div class="w-100 flex">
                    <div class="viability--number">2</div>
                    <div class="flex flex__column">
                        <div class="viability__details-title">Полисахаридный слой</div>
                        <div class="viability__details-description">защищает живые бактерии от:</div>
                        <div class="viability__details-list">
                            <ul>
                                <li>Влаги;</li>
                                <li>Температуры;</li>
                                <li>Маханического давления;</li>
                                <li>Увеличивает стабильность;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="double-cover" class="double-cover">
        <div class="double-cover__title">
            <div class="title__section">Почему важно двойное покрытие?</div>
            <div class="title__section-text">Запатентованная технология двойного покрытия Lab2Pro, обеспечивает
                выживаемость полезных бактерий в кишечной микрофлоре
            </div>
        </div>
        <div class="double-cover__details">
            <div id="tab" class="double-cover__details-tab"></div>
            <div id="accordion" class="double-cover__details-accordion"></div>
        </div>
    </section>
    <section id="bacterial-survival" class="bacterial-survival">
        <div class="bacterial-survival__header">
            <div class="title__section bacterial-survival__header-title">Выживаемость бактерий</div>
            <div class="bacterial-survival__header-info flex">
                <div class="flex bacterial-survival__header-icon-box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="flex flex__column bacterial-survival__header-number-box">
                    <div class="bacterial-survival__header-number">100</div>
                    <div class="bacterial-survival__header-text-number">раз выше</div>
                </div>
                <div class="bacterial-survival__header-text-number2">чем у пробиотиков без покрытия</div>
            </div>
        </div>
        <div class="bacterial-survival__body">
            <svg>
                <use href="#table"></use>
            </svg>
        </div>
    </section>
    <section id="classification" class="classification flex flex__justify-center flex__wrap">
        <div class="w-100 title__section flex flex__justify-center">Классификация пробиотиков</div>
        <div class="w-100 classification__list">
            <div class="classification__list-item flex">
                <span class="classification__list-number">I</span>
                <div class="flex flex__column flex__justify-center">
                    <div class="classification__list-title">Без покрытия</div>
                    <div class="classification__list-description">Большинство пробиотиков</div>
                </div>
            </div>
            <div class="classification__list-item flex">
                <span class="classification__list-number">II</span>
                <div class="flex flex__column flex__justify-center">
                    <div class="classification__list-title">С кишечнорастворимой оболочкой</div>
                    <div class="classification__list-description">Некоторые производители</div>
                </div>
            </div>
            <div class="classification__list-item flex">
                <span class="classification__list-number">III</span>
                <div class="flex flex__column flex__justify-center">
                    <div class="classification__list-title">Микрокапсулированные</div>
                    <div class="classification__list-description">Некоторые производители</div>
                </div>
            </div>
        </div>
        <div class="classification__age flex flex__wrap">
            <div class="classification__age-title w-100 flex__justify-center">Поколение</div>
            <div class="classification__age-box w-100 ">
                <div class="flex__justify-center flex">
                    <svg class="classification__age-img">
                        <use href="#classification"></use>
                    </svg>
                    <span class="back-box">
                        <svg class="back-box-img">
                            <use href="#back3"></use>
                        </svg>
                    </span>
                </div>
                <div class="flex flex__justify-center text-align__center">NBL пробиотики с двойным покрытием. Штаммы
                    пробиотиков NBL, были выделены из организма младенцев и женского грудного молока.
                </div>
            </div>
        </div>
    </section>

    <section id="nbl_apt" class="flex flex__justify-center w-100">
        <div class="nbl_apt__recommendation">
            <div class="nbl_apt__header">
                <div class="nbl_atp">
                    NBL ATP
                </div>

                <div class="nbl_atp__blue_text">
                    рекомендовано при:
                </div>
            </div>
            <ul class="nbl_atp__list">
                <li class="nbl_atp__about_list_item">Атопический дерматит;</li>
                <li class="nbl_atp__list-item">Аллергический ринит;</li>
                <li class="nbl_atp__list-item">Бронхиальная астма;</li>
                <li class="nbl_atp__list-item">Крапивница;</li>
                <li class="nbl_atp__list-item">Себорейный дерматит;</li>
                <li class="nbl_atp__list-item">Частые простудные заболевания;</li>
                <li class="nbl_atp__list-item">Проблемы со стулом (запоры, поносы);</li>
                <li class="nbl_atp__list-item">Метеоризм;</li>
            </ul>
            <button class="nbl_apt__recommendation__button ">
                Подробнее
            </button>
        </div>
        <div class="nbl_apt__big-image-wrap flex flex__justify-center"></div>
        <div class="nbl_apt__images">
            <div id="img-wrap1" class="img-wrap"></div>
            <div id="img-wrap2" class="img-wrap"></div>
            <div id="img-wrap3" class="img-wrap"></div>
        </div>
    </section>
    <section id="doctor_recommendation" class="w-100">
        <div class="doctor_recommendation__header">
            Доктора рекомендуют
        </div>

        <ul class="doctor_recommendation__list">
            <li class="doctor_recommendation__list_item">
                <button>
                    Иммунолог – аллерголог
                </button>
            </li>
            <li class="doctor_recommendation__list_item">
                <button>
                    Педиатр
                </button>
            </li>
            <li class="doctor_recommendation__list_item">
                <button>
                    Косметолог
                </button>
            </li>
            <li class="doctor_recommendation__list_item">
                <button>
                    Гинеколог
                </button>
            </li>
        </ul>

        <div class="doctor_recommendation__cards">
            <div class="doctor_recommendation__card">
                <div class="doctor_recommendation__img"></div>
                <div class="doctor_recommendation__description">
                    <div class="doctor_recommendation__card_header">
                        Доктор иммунолог-аллерголог Арман Байдилов
                    </div>
                    <div class="doctor_recommendation__description_small">
                        Зачем нужны пробиотики?
                    </div>
                </div>
            </div>
            <div class="doctor_recommendation__card">
                <div class="doctor_recommendation__img"></div>
                <div class="doctor_recommendation__description">
                    <div class="doctor_recommendation__card_header">
                    </div>
                    <div class="doctor_recommendation__description_small">
                        Зачем нужны пробиотики?
                    </div>
                </div>
            </div>
            <div class="doctor_recommendation__card">
                <div class="doctor_recommendation__img"></div>
                <div class="doctor_recommendation__description">
                    <div class="doctor_recommendation__card_header">
                    </div>
                    <div class="doctor_recommendation__description_small">
                        Почему NBL?
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="feedback">
        <div class="feedback__header">
            Отзывы
        </div>
        <ul class="feedback__list">
            <li class="feedback__list_item">
                <button>Все</button>
            </li>
            <li class="feedback__list_item">
                <button>Instagram</button>
            </li>
            <li class="feedback__list_item">
                <button>Facebook</button>
            </li>
            <li class="feedback__list_item">
                <button>Вконтакте</button>
            </li>
            <li class="feedback__list_item">
                <button>Whatsupp</button>
            </li>
        </ul>
        <ul class="feedback__image_list">
            <li class="feedback__image_list_item">

            </li>
            <li class="feedback__image_list_item">

            </li>
            <li class="feedback__image_list_item">

            </li>
            <li class="feedback__image_list_item">

            </li>
        </ul>
        <div class="feedback__more">
            <button>
                Смотреть все
            </button>
        </div>
    </section>
    <section id="science">
        <div class="science__header">
            Наука
        </div>
        <ul class="science__list">
            <li class="science__item">
                <div class="science__item_img"></div>
                <div class="science__item_text">
                    <div class="science__item_date">
                        03.06
                    </div>
                    <div class="science__item_header">
                        Пробиотики и пребиотики:<br/>
                        какие бактерии полезны
                    </div>
                    <div class="science__item_description">
                        Диетологи называют кишечник<br/>
                        вторым мозгом, хотя он скорее ...
                    </div>
                </div>
            </li>

            <li class="science__item">
                <div class="science__item_img"></div>
                <div class="science__item_text">
                    <div class="science__item_date">
                        08.06
                    </div>
                    <div class="science__item_header">
                        Что такое про- и пребиотики</br>
                        и зачем они нужны организму?
                    </div>
                    <div class="science__item_description">
                        Пробиотики — это полезные бактерии,</br>
                        которые живут в кишечнике ...
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <footer>
        <ul class="footer__list">
            <li class="footer__item">Применение</li>
            <li class="footer__item"> Документы</li>
            <li class="footer__item"> Инструкции</li>
            <li class="footer__item">Условия хранения</li>
            <li class="footer__item">Стать дилером</li>
            <li class="footer__item">Статьи</li>
            <li class="footer__item">
                <ul class="footer__icons_list">
                    <li class="footer__icons_item">И1</li>
                    <li class="footer__icons_item">И2</li>
                    <li class="footer__icons_item">И3</li>
                    <li class="footer__icons_item">И4</li>
                </ul>
            </li>
        </ul>

        <ul class="footer__info">
            <li class="footer__info_item">
                Производитель: Cell Biotech Co., Ltd, Южная Корея, 397,<br/>
                Aegibong-ro, Wolgot-myeon, Gimpo-si, Gyeonggi-do, 415-872<br/>
                <br/>
                Импортер/Адрес организации, принимающей<br/>
                на территории Республики Казахстан претензии<br/>
                от потребителей по качеству продукции<br/>
                <br/>
                <a>
                    Политика конфиденциальности
                </a>


            </li>
            <li class="footer__info_item">
                АО «Нобел Алматинская Фармацевтическая Фабрика»<br/>
                Республика Казахстан, 050008, г. Алматы, ул. Шевченко, 162 Е.<br/>
                тел: +7 (727) 399-50-50, факс: +7 (727) 399-60-60<br/>
                <br/>
                Лицензия № ИПОР 64604515Р от 09.09.2003 г.<br/>
                ISO 9001: 2015 от 10.05.18 г.<br/>
                <br/>
                <a>
                    Пользовательское соглашение
                </a>

            </li>
        </ul>

        <img src="" alt="Не лекарственное средство">
    </footer>
</main>
</body>
</html>

