<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBL11111111111111111</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu">
        <div class="logo--container"></div>
    </div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О 333333333</div>
    </div>
</header>


<main class="main">
    content11111111111111
</main>

</body>
</html>

