<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product-detail</title>
</head>
<body>
<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>

<svg class="info-iPad__box-img" width="382" height="406" viewBox="0 0 382 406">
    <use href="#probiotic-gold"></use>
</svg>
<svg class="info-MacBook__box-img" width="545" height="498" viewBox="0 0 545 498">
    <use href="#probiotic-gold"></use>
</svg>
<svg class="info-Main__box-img" width="674" height="574" viewBox="0 0 674 574">
    <use href="#probiotic-gold"></use>
</svg>
<svg class="info-Desktop__box-img" width="701" height="590" viewBox="0 0 674 574">
    <use href="#probiotic-gold"></use>
</svg>
<section class="products-detail">
    <div class="products-detail__left">
        <div class="info__first">
            <div class="info-iPhone8__box-img">
                <svg>
                    <use href="#probiotic-gold"></use>
                </svg>
            </div>
            <div class="info__container-second">
                <div class="info-iPhone8__title">
                    <div class="info-iPhone8__title-text">NBL PROBIOTIC GOLD</div>
                    <div class="info-iPhone8__title-sub">Саше</div>
                </div>
                <div class="info__description">
                    <div class="title__main-text">
                        Пробиотики — это живые микроорганизмы, которые положительно влияют на хозяина при приеме в
                        достаточном
                        количестве.
                    </div>
                    <div class="info__description--list">
                        <ul>
                            <li>Соляной кислоты;</li>
                            <li>Помогают регулировать пищеварительную систему и поддерживают иммунную систему.</li>
                            <li>Принимать 1 раз в день, утром или вечером после еды, смешивая с едой.</li>
                        </ul>
                    </div>
                </div>
                <div class="info__action-buy">Купить</div>
            </div>
            <div class="info__first__box-save">
                <svg class="info-iPhone8__box-save-icon">
                    <use href="#paper"></use>
                </svg>
                <div class="info-iPhone8__box-save-box">
                    <div class="info-iPhone8__box-save-text">Скачать брошюру</div>
                    <svg class="info-iPhone8__box-save-arrow">
                        <use href="#Arrow-1"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="info__main--accordion accordion">
            <div class="a-container active">
                <p class="a-btn">
                    <span class="a-btn__text info-iPhone8__accordion-title">Преимущества</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel info__benefits">
                    <div class="info__benefits-item">
                        <div class="info__benefits-header">
                            <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                            <div class="info-iPhone8__accordion-content-icon">
                                <svg>
                                    <use href="#cup"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="info__benefits-description">
                            Запатентованная технология
                            во всем мире. Обеспечивает выживаемость этих бактерий в кишечнике в 100 раз выше, чем у
                            бактерий, лишенных этой защиты.
                        </div>
                    </div>
                    <div class="info__benefits-item">
                        <div class="info__benefits-header">
                            <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                            <div class="info-iPhone8__accordion-content-icon">
                                <svg>
                                    <use href="#cup"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="info__benefits-description"></div>
                    </div>
                    <div class="info__benefits-item">
                        <div class="info__benefits-header">
                            <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                            <div class="info-iPhone8__accordion-content-icon">
                                <svg>
                                    <use href="#cup"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="info__benefits-description"></div>
                    </div>
                </div>
            </div>
            <div class="a-container">
                <p class="a-btn">
                    <span class="a-btn__text info-iPhone8__accordion-title">Состав</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel info-iPhone8__accordion-panel">
                    <div class="info-iPhone8__accordion-content-row">
                        <div class="info-iPhone8__accordion-content-icon">
                            <svg>
                                <use href="#lactic-bacteria"></use>
                            </svg>
                        </div>
                        <div class="info-iPhone8__accordion-content-box">
                            <div class="info-iPhone8__accordion-content-title">Молочные бактерии</div>
                            <div class="info-iPhone8__accordion-content-description">
                                2,5 млрд активных пробиотиков
                            </div>
                        </div>
                    </div>
                    <div class="info-iPhone8__accordion-content-row">
                        <div class="info-iPhone8__accordion-content-icon">
                            <svg>
                                <use href="#pipette"></use>
                            </svg>
                        </div>
                        <div class="info-iPhone8__accordion-content-box">
                            <div class="info-iPhone8__accordion-content-title">Молочные бактерии</div>
                            <div class="info-iPhone8__accordion-content-description">
                                2,5 млрд активных пробиотиков
                            </div>
                        </div>
                    </div>
                    <div class="info-iPhone8__accordion-content-table">

                        <div class="table table__color-purple">
                            <div>Активные ингредиенты</div>
                            <div>Количество в 1 саше</div>
                        </div>

                        <div class="table table__header table__color-blue ">
                            <div>Пробиотические микроорганизмы</div>
                            <div>2,5 млрд полезных бактерий</div>
                        </div>
                        <div class="table table__color-blue ">
                            <div>Streptococcus thermophilus</div>
                            <div>&nbsp &nbsp 8,2 х 108 КОЕ</div>
                        </div>
                        <div class="table table__color-blue ">
                            <div>Streptococcus thermophilus</div>
                            <div>&nbsp &nbsp 8,2 х 108 КОЕ</div>
                        </div>
                        <div class="table table__color-blue ">
                            <div>Streptococcus thermophilus</div>
                            <div>&nbsp &nbsp 8,2 х 108 КОЕ</div>
                        </div>
                        <div class="table table__color-blue ">
                            <div>Streptococcus thermophilus</div>
                            <div>&nbsp &nbsp8,2 х 108 КОЕ</div>
                        </div>

                        <div class="table table__header table__color-yellow table__row">
                            <div>Пребиотики</div>
                        </div>
                        <div class="table table__color-yellow table__row">
                            <div>Полидкстроза (клечатка 74%)</div>
                            <div>&nbsp &nbsp 562,5 мг</div>
                        </div>

                        <div class="table table__header table__color-red table__row">
                            <div>Витамины</div>
                        </div>
                        <div class="table table__color-red table__row">
                            <div>L-аскорбиновая кислота (Витамин С)</div>
                            <div>&nbsp &nbsp75 мг</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a-container">
                <p class="a-btn">
                    <span class="a-btn__text info-iPhone8__accordion-title">Использование</span>
                    <span class="a-btn__icon"></span>
                </p>
                <div class="a-panel info-iPhone8__accordion-panel">
                    <div class="info-iPhone8__accordion-content-row">
                        <div class="info-iPhone8__accordion-content-icon">
                            <svg>
                                <use href="#cup"></use>
                            </svg>
                        </div>
                        <div class="info-iPhone8__accordion-content-box">
                            <div class="info-iPhone8__accordion-content-title">Совет</div>
                            <div class="info-iPhone8__accordion-content-description">
                                1–2 капсулы в день или 2 капсулы в день утром или вечером, курс 5 дней.
                            </div>
                        </div>
                    </div>
                    <div class="info-iPhone8__accordion-content-row">
                        <div class="info-iPhone8__accordion-content-icon">
                            <svg>
                                <use href="#thermometer"></use>
                            </svg>
                        </div>
                        <div class="info-iPhone8__accordion-content-box">
                            <div class="info-iPhone8__accordion-content-title">Условие хранения</div>
                            <div class="info-iPhone8__accordion-content-description">
                                Хранить при комнатной температуре,
                                в сухом прохладном месте.
                                Хранить в недоступном для маленьких детей месте.

                            </div>
                        </div>
                    </div>
                    <div class="info-iPhone8__accordion-content-row">
                        <div class="info-iPhone8__accordion-content-icon">
                            <svg>
                                <use href="#warning"></use>
                            </svg>
                        </div>
                        <div class="info-iPhone8__accordion-content-box">
                            <div class="info-iPhone8__accordion-content-title">Меры предосторожности</div>
                            <div class="info-iPhone8__accordion-content-description">
                                Для беременных женщин проконсультируйтесь с врачом.
                                Не может заменить разнообразное и сбалансированное питание или здоровый образ жизни.
                                Не превышайте указанную суточную дозу.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info__main--center-container">
            <div class="info-desktop__box-save">
                <svg class="info-iPhone8__box-save-icon">
                    <use href="#paper"></use>
                </svg>
                <div class="info-iPhone8__box-save-box">
                    <div class="info-iPhone8__box-save-text">Скачать брошюру</div>
                    <svg class="info-iPhone8__box-save-arrow">
                        <use href="#Arrow-1"></use>
                    </svg>
                </div>
            </div>
            <div class="info__main--tab double-cover__details-tab">
                <div class="mytabs">
                    <input type="radio" id="tabfree" name="mytabs" checked="checked">
                    <label for="tabfree">Преимущество</label>
                    <div class="tab info__main--benefits">
                        <div class="info__benefits-item">
                            <div class="info__benefits-header">
                                <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                                <div class="info-iPhone8__accordion-content-icon">
                                    <svg>
                                        <use href="#cup"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="info__benefits-description">
                                Запатентованная технология
                                во всем мире. Обеспечивает выживаемость этих бактерий в кишечнике в 100 раз выше, чем у
                                бактерий, лишенных этой защиты.
                            </div>
                        </div>
                        <div class="info__benefits-item">
                            <div class="info__benefits-header">
                                <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                                <div class="info-iPhone8__accordion-content-icon">
                                    <svg>
                                        <use href="#cup"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="info__benefits-description"></div>
                        </div>
                        <div class="info__benefits-item">
                            <div class="info__benefits-header">
                                <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                                <div class="info-iPhone8__accordion-content-icon">
                                    <svg>
                                        <use href="#cup"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="info__benefits-description"></div>
                        </div>
                        <div class="info__benefits-item">
                            <div class="info__benefits-header">
                                <div class="info__benefits-title">Штаммы с удвоенной защитой</div>
                                <div class="info-iPhone8__accordion-content-icon">
                                    <svg>
                                        <use href="#cup"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="info__benefits-description"></div>
                        </div>
                    </div>

                    <input type="radio" id="tabsilver" name="mytabs">
                    <label for="tabsilver">Состав</label>
                    <div class="tab info__main--composition">
                        <div class="flex flex__justify-center">
                            <div class="info-iPhone8__accordion-content-row">
                                <div class="info-iPhone8__accordion-content-icon">
                                    <svg>
                                        <use href="#lactic-bacteria"></use>
                                    </svg>
                                </div>
                                <div class="info-iPhone8__accordion-content-box">
                                    <div class="info-iPhone8__accordion-content-title">Молочные бактерии</div>
                                    <div class="info-iPhone8__accordion-content-description">
                                        2,5 млрд активных пробиотиков
                                    </div>
                                </div>
                            </div>
                            <div class="info-iPhone8__accordion-content-row">
                                <div class="info-iPhone8__accordion-content-icon">
                                    <svg>
                                        <use href="#pipette"></use>
                                    </svg>
                                </div>
                                <div class="info-iPhone8__accordion-content-box">
                                    <div class="info-iPhone8__accordion-content-title">Молочные бактерии</div>
                                    <div class="info-iPhone8__accordion-content-description">
                                        2,5 млрд активных пробиотиков
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-iPhone8__accordion-content-table">

                            <div class="table table__color-purple">
                                <div>Активные ингредиенты</div>
                                <div>Количество в 1 саше</div>
                            </div>

                            <div class="table table__header table__color-blue ">
                                <div>Пробиотические микроорганизмы</div>
                                <div>2,5 млрд полезных бактерий</div>
                            </div>
                            <div class="table table__color-blue ">
                                <div>Streptococcus thermophilus</div>
                                <div>&nbsp &nbsp 8,2 х 108 КОЕ</div>
                            </div>
                            <div class="table table__color-blue ">
                                <div>Streptococcus thermophilus</div>
                                <div>&nbsp &nbsp 8,2 х 108 КОЕ</div>
                            </div>
                            <div class="table table__color-blue ">
                                <div>Streptococcus thermophilus</div>
                                <div>&nbsp &nbsp 8,2 х 108 КОЕ</div>
                            </div>
                            <div class="table table__color-blue ">
                                <div>Streptococcus thermophilus</div>
                                <div>&nbsp &nbsp8,2 х 108 КОЕ</div>
                            </div>

                            <div class="table table__header table__color-yellow table__row">
                                <div>Пребиотики</div>
                            </div>
                            <div class="table table__color-yellow table__row">
                                <div>Полидкстроза (клечатка 74%)</div>
                                <div>&nbsp &nbsp 562,5 мг</div>
                            </div>

                            <div class="table table__header table__color-red table__row">
                                <div>Витамины</div>
                            </div>
                            <div class="table table__color-red table__row">
                                <div>L-аскорбиновая кислота (Витамин С)</div>
                                <div>&nbsp &nbsp75 мг</div>
                            </div>
                        </div>
                    </div>

                    <input type="radio" id="tabgold" name="mytabs">
                    <label for="tabgold">Использование</label>
                    <div class="tab info-iPhone8__accordion-panel">
                        <div class="info-iPhone8__accordion-content-row">
                            <div class="info-iPhone8__accordion-content-icon">
                                <svg>
                                    <use href="#cup"></use>
                                </svg>
                            </div>
                            <div class="info-iPhone8__accordion-content-box">
                                <div class="info-iPhone8__accordion-content-title">Совет</div>
                                <div class="info-iPhone8__accordion-content-description">
                                    1–2 капсулы в день или 2 капсулы в день утром или вечером, курс 5 дней.
                                </div>
                            </div>
                        </div>
                        <div class="info-iPhone8__accordion-content-row">
                            <div class="info-iPhone8__accordion-content-icon">
                                <svg>
                                    <use href="#thermometer"></use>
                                </svg>
                            </div>
                            <div class="info-iPhone8__accordion-content-box">
                                <div class="info-iPhone8__accordion-content-title">Условие хранения</div>
                                <div class="info-iPhone8__accordion-content-description">
                                    Хранить при комнатной температуре,
                                    в сухом прохладном месте.
                                    Хранить в недоступном для маленьких детей месте.

                                </div>
                            </div>
                        </div>
                        <div class="info-iPhone8__accordion-content-row">
                            <div class="info-iPhone8__accordion-content-icon">
                                <svg>
                                    <use href="#warning"></use>
                                </svg>
                            </div>
                            <div class="info-iPhone8__accordion-content-box">
                                <div class="info-iPhone8__accordion-content-title">Меры предосторожности</div>
                                <div class="info-iPhone8__accordion-content-description">
                                    Для беременных женщин проконсультируйтесь с врачом.
                                    Не может заменить разнообразное и сбалансированное питание или здоровый образ жизни.
                                    Не превышайте указанную суточную дозу.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info__when-help">
                <div class="info__when-help--title">Когда помогают</div>
                <div class="info__description--list">
                    <ul>
                        <li>Профилактика и лечение инфекционной диареи, связанной как с вирусами, так и с применением
                            антибиотиков;
                        </li>
                        <li>При функциональных нарушениях кишечника: тяжесть, дискомфорт, газообразование, боль в
                            желудке
                        </li>
                        <li>Улучшение рабо ты иммунной системы (за счет подавления болезнетворных бактерий в кишечнике);
                        </li>
                        <li>Избавление от симптомов и снятие болей при синдроме раздраженного кишечника;
                        </li>
                        <li>Синдром хронических запоров, синдром хронической усталости;
                            Облегчение симптомов ферментопатии и снижение рисков развития рака толстой кишки.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="products-detail__right">
        <div class="products-detail__right__box-save">
            <svg class="info-iPhone8__box-save-icon">
                <use href="#paper"></use>
            </svg>
            <div class="info-iPhone8__box-save-box">
                <div class="info-iPhone8__box-save-text">Скачать брошюру</div>
                <svg class="info-iPhone8__box-save-arrow">
                    <use href="#Arrow-1"></use>
                </svg>
            </div>
        </div>
        <div class="info__product-line">
            <div class="info__product-line--title">Линейка продуктов</div>
            <div class="product-detail-item">
                <div class="product-detail-item__img-box">
                    <svg>
                        <use href="#d11"></use>
                    </svg>
                </div>
                <div class="product-detail-item__container">
                    <div class="product-detail-item__text-box">
                        <div class="product-detail-item__text-box-title">NBL ATP</div>
                        <div class="product-detail-item__text-box-description">Для детей</div>
                    </div>
                    <div class="product-detail-item__button">
                        <svg>
                            <use href="#Arrow-1"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="product-detail-item">
                <div class="product-detail-item__img-box">
                    <svg>
                        <use href="#d11"></use>
                    </svg>
                </div>
                <div class="product-detail-item__container">
                    <div class="product-detail-item__text-box">
                        <div class="product-detail-item__text-box-title">NBL ATP</div>
                        <div class="product-detail-item__text-box-description">Для детей</div>
                    </div>
                    <div class="product-detail-item__button">
                        <svg>
                            <use href="#Arrow-1"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="product-detail-item">
                <div class="product-detail-item__img-box">
                    <svg>
                        <use href="#d11"></use>
                    </svg>
                </div>
                <div class="product-detail-item__container">
                    <div class="product-detail-item__text-box">
                        <div class="product-detail-item__text-box-title">NBL ATP</div>
                        <div class="product-detail-item__text-box-description">Для детей</div>
                    </div>
                    <div class="product-detail-item__button">
                        <svg>
                            <use href="#Arrow-1"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="reviews">
    <div class="reviews__title">Отзывы</div>
    <div class="mytabs reviews__table">
        <input type="radio" id="s1" name="mytabs1" checked="checked">
        <label class="reviews__table--label" for="s1">все</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>
        <input type="radio" id="s2" name="mytabs1" checked="checked">
        <label for="s2">instagram</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s3" name="mytabs1" checked="checked">
        <label for="s3">facebook</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s4" name="mytabs1" checked="checked">
        <label for="s4">Вконтакте</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s5" name="mytabs1" checked="checked">
        <label for="s5">Whatsupp</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
                <img
                        class="reviews__table--item"
                        src="./src/resources/images/probiotic-atp-large.png"
                        alt="Science"
                />
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>
    </div>


</section>
<section class="questions">
    <div class="reviews__title">Вопросы и ответы</div>
    <div class="questions__body">
        <div class="questions__item">
            Как часто стоит их употреблять?
        </div>
        <div class="questions__item">
            Как часто стоит их употреблять?
        </div>
        <div class="questions__item">
            Как часто стоит их употреблять?
        </div>
        <div class="questions__item">
            Как часто стоит их употреблять?
        </div>
    </div>
    <div class="reviews__table--fetch-more">Смотреть все</div>
</section>


<%= _.template(require('../includes/footer.html').default)() %>

</body>
</html>

