<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product-detail</title>
</head>
<body>
<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>

<section class="products">
    <div class="products__first">
        <div class="products__first--title-container">
            <div class="title__main info-iPhone8__title-text">NBL Продукты</div>
            <div class="products__first--description-container">
                <div class="products__first--description">Мы официальный дистрибьютор пробиотиков NBL и продукции
                    южнокорейской
                    компании Cell Biotech на территории России.
                    <br><br><br>
                    Cell Biotech — микробиологическая компания
                    из Южной Кореи, которая разрабатывает и производит высокотехнологичные пробиотические штаммы.
                    <br><br><br>
                </div>
                <div class="products__first--action">Узнать больше</div>
            </div>
        </div>
        <div class="products__first--img-container">
            <svg>
                <use href="#products-main"></use>
            </svg>
        </div>
    </div>
    <div class="products__second">
        <a href="./product-detail.html" class="products__item">
            <div class="products__item--img">
                <svg>
                    <use href="#probiotic-gold-main"></use>
                </svg>
            </div>
            <div class="products__item--description-container">
                <div class="products__item--title">NBL PROBIOTIC GOLD</div>
                <div class="products__item--description">Пробиотики — живые микроорганизмы, которые положительно влияют на хозяина при приеме в достаточном количестве.</div>
                <div class="products__item--arrow">
                    <svg>
                        <use href="#Arrow-1"></use>
                    </svg>
                </div>
            </div>
            <svg class="products__item--someimg">
                <use href="#probiotic-gold-main"></use>
            </svg>
        </a>
        <div class="products__item">
            <div class="products__item--img">
                <svg>
                    <use href="#probiotic-gold-main"></use>
                </svg>
            </div>
            <div class="products__item--description-container">
                <div class="products__item--title">NBL PROBIOTIC GOLD</div>
                <div class="products__item--description">Пробиотики — живые микроорганизмы, которые положительно влияют на хозяина при приеме в достаточном количестве.</div>
                <div class="products__item--arrow">
                    <svg>
                        <use href="#Arrow-1"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="products__item">
            <div class="products__item--img">
                <svg>
                    <use href="#probiotic-gold-main"></use>
                </svg>
            </div>
            <div class="products__item--description-container">
                <div class="products__item--title">NBL PROBIOTIC GOLD</div>
                <div class="products__item--description">Пробиотики — живые микроорганизмы, которые положительно влияют на хозяина при приеме в достаточном количестве.</div>
                <div class="products__item--arrow">
                    <svg>
                        <use href="#Arrow-1"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>

