<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статьи</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<main class="main">
    <section class="vitamins">
        <div class="vitamins__image_wrap">
            <div class="vitamins__img">
                <img
                        src="./src/resources/images/honey.png"
                        alt="honey">
            </div>
        </div>

        <div class="vitamins__header">
            <div class="vitamins__header-text-date">
                24 апреля
            </div>
            <div class="vitamins__header-text-big">
                Витамины и их<br/>
                роль для здоровья
            </div>
            <div class="vitamins__header-description">
                Нарушение требований личной гигиены может <br/>
                негативно сказаться на здоровье не только одного<br/>
                человека,<br class="vitamins__header-description-iphone-only"/> но и больших групп людей ...
            </div>
            <div class="vitamins__header-more-btn">
                Узнать больше
            </div>
        </div>
    </section>

    <section class="states">
        <img
                src="./src/resources/images/science.png"
                alt="Science"
                class="states__science_picture"
        />
        <div class="states__wrap">
            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state1.png"
                                    alt="state1"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Пробиотики и пребиотики:
                                какие бактерии полезны
                            </div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state2.png"
                                    alt="state2"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">Что такое про- и пребиотики
                                и зачем они нужны организму?
                            </div>
                            <div class="state__description">Пробиотики — это полезные бактерии, которые живут в
                                кишечнике
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state3.png"
                                    alt="state3"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Как сезонный грипп влияет на беременных</div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state4.png"
                                    alt="state4"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">Почему он так важен, сколько нужно спать</div>
                            <div class="state__description">Пробиотики — это полезные бактерии, которые живут в
                                кишечнике
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state5.png"
                                    alt="state5"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Пробиотики и пребиотики:
                                какие бактерии полезны
                            </div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state6.png"
                                    alt="state6"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">7 важных вещей, которые мы должны знать о мытье рук</div>
                            <div class="state__description">Пробиотики — это полезные бактерии, которые живут в
                                кишечнике
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state7.png"
                                    alt="state7"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Пробиотики и пребиотики:
                                какие бактерии полезны
                            </div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <img
                                    class="state__image"
                                    src="./src/resources/images/state8.png"
                                    alt="state8"
                            />
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">Что такое про- и пребиотики
                                и зачем они нужны организму?
                            </div>
                            <div class="state__description">
                                Пробиотики — это полезные бактерии, которые живут в кишечнике...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="states__load_more_wrap">
                <div class="states__load_more">
                    загрузить еще 15
                </div>
            </div>
        </div>
    </section>


    <section class="nbl_atp">
        <div class="nbl_atp__about">
            <div class="nbl_atp__about_big_text">NBL ATP</div>
            <div class="nbl_atp__about_small_text">рекомендовано при:</div>
            <div class="nbl_atp__about_list">
                <ul>
                    <li class="nbl_atp__about_list_item">Атопический дерматит;</li>
                    <li class="nbl_atp__about_list_item">Аллергический ринит;</li>
                    <li class="nbl_atp__about_list_item">Бронхиальная астма;</li>
                    <li class="nbl_atp__about_list_item">Крапивница;</li>
                    <li class="nbl_atp__about_list_item">Себорейный дерматит;</li>
                    <li class="nbl_atp__about_list_item">Частые простудные заболевания;</li>
                    <li class="nbl_atp__about_list_item">Проблемы со стулом (запоры, поносы);</li>
                    <li class="nbl_atp__about_list_item">Метеоризм;</li>
                </ul>
            </div>
            <div class="nbl_atp__about_btn">Подробнее</div>
        </div>

        <div class="nbl_atp__image_wrap">
            <img
                    class="nbl_atp__image_wrap_big"
                    src="./src/resources/images/probiotic-atp-large.png"
                    alt="nbl_atp__image_big"
            />
            <div class="nbl_atp__image_wrap_bg"></div>
            <div class="nbl_atp__image_wrap_bg"></div>
        </div>

        <div class="nbl_atp__arrow">
            <svg>
                <use href="#Arrow-2"/>
            </svg>
        </div>

        <div class="nbl_atp__images">
            <img
                    class="nbl_atp__image_small"
                    src="./src/resources/images/probiotic-atp-small.png"
                    alt="nbl_atp__image_big"
            />
            <img
                    class="nbl_atp__image_small"
                    src="./src/resources/images/probiotic-gold-small.png"
                    alt="nbl_atp__image_big"
            />
            <img
                    class="nbl_atp__image_small"
                    src="./src/resources/images/ginobiotic-small.png"
                    alt="nbl_atp__image_big"
            />
        </div>
    </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>
</body>
</html>

