<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статьи</title>
</head>
<body>


<div class="honey_img__wrap">
    <img
            class="honey_img"
            src="./src/resources/images/honey-big.png"
            alt="nbl_atp__image_big"
    />
</div>


<header class="header">
    <div id="menu" class="header__menu">
        <div class="logo--container"></div>
    </div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
        <div class="bred__item-text">Статьи</div>
    </div>
</header>


<main class="main">
    <section class="state">

        <div class="state__header">
            <div class="state__header-text-date">
                24 апреля
            </div>
            <div class="state__header-text-big">
                Витамины и их<br class="state__header-description-iphone-only"/>
                роль для здоровья
            </div>
            <div class="state__header-description">
                Нарушение требований личной гигиены может <br class="state__header-description-iphone-only"/>
                негативно сказаться на здоровье не только одного<br />
                человека,<br class="state__header-description-iphone-only"/> но и больших групп людей ...
            </div>
        </div>

        <div class="vitamin">
            <div class="vitamin__header">
                Витамин А
            </div>
            <div class="vitamin__list">
                <ul>
                    <li>
                        Продукты с витамином А; яичные желтки, печень, рыбий жир, масло, овощи желто – оранжевого цвета (морковь).
                    </li>
                    <li>
                        Все позвоночные животные
                        нуждаются в витамине А или
                        его предшественнике, каротине. Структура всего класса каротина,
                        в основном бета-каротина, очень близка к витамину А, и поскольку
                        они легко превращаются в этот витамин в печени, они распознаются
                        как провитамин А.
                    </li>
                    <li>
                        Витамин А играет роль в метаболизме ретиноидов и визуальных функциях, клеточной дифференциации, связанной с эмбриональным развитием, созреванием легких, развитием иммунной системы, ростом,
                        развитием и восстановлением клеток, появлением и восстановлением зубов и соединительной ткани.
                    </li>
                </ul>
            </div>
        </div>

        <div class="vitamin">
            <div class="vitamin__header">
                Витамин B1 (Тиамин)
            </div>
            <div class="vitamin__list">
                <ul>
                    <li>
                        Продукты, содержащие витамин В1 (тиамин); цельный хлеб, крупы, красное мясо, молоко и рыба.
                    </li>
                    <li>
                        Витамин В1 очень важен для углеводного обмена. Это также необходимо для производства энергии в мозге.
                    </li>
                    <li>
                        Способствует нормальному образованию энергии, нормальной функции сердца.
                    </li>
                    <li>
                        При его недостатке может развиться усталость, депрессия, покалывание в ногах и онемение, а также запор. При его серьезном дефиците может наблюдаться авитаминозная болезнь.
                    </li>
                </ul>
            </div>
        </div>
        <div class="horizontal_line"></div>
    </section>

    <div>
        <div class="vertical-hr"></div>
    </div>



    <section class="states">
        <div class="states__nbl_atp_wrap">
            <img src="./src/resources/images/probiotic-atp-stateDetail.png" alt="nbl_atp" class="states__nbl_atp_wrap_img">
            <div class="states__nbl_atp_wrap_header">
                <div class="states__nbl_atp_wrap_header__text">
                    <div class="states__nbl_atp_wrap_header__text_big">NBL ATP</div>
                    <div class="states__nbl_atp_wrap_header__text_small">Для детей</div>
                </div>
                <img
                        class="states__nbl_atp_wrap_header__arrow"
                        src="./src/resources/images/arrow.png"
                />
            </div>
        </div>
        <div class="horizontal_line ipad_only"></div>
        <div class="states__state">
            <div class="states__state_wrap">
                <img
                        src="./src/resources/images/man-in-bed.png"
                        alt="man-in-bed"
                />
            </div>

            <div class="states__state_text">
                <div class="states__state_text_date">
                    03.06
                </div>
                <div class="states__state_text_big">
                    Почему он так важен, сколько нужно спать
                </div>
                <div class="states__state_text_small">
                    Диетологи называют кишечник
                    вторым мозгом, хотя он скорее ...
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>

