<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статьи</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu">
        <div class="logo--container"></div>
    </div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
        <div class="bred__item-text">Статьи</div>
    </div>
</header>


<main class="main">
    <section class="vitamins">
        <div class="vitamins__header">
            <div class="vitamins__text_date">
                24 апреля
            </div>
            <div class="vitamins__text_big">
                Витамины и их<br/>
                роль для здоровья
            </div>
            <div class="vitamins__text_gray">
                Нарушение требований личной гигиены может <br/>
                негативно сказаться на здоровье не только одного<br/>
                человека, но и больших групп людей ...
            </div>
            <div class="vitamins__more_btn">
                Узнать больше
            </div>
        </div>
        <div class="vitamins__image_wrap">
            <div class="vitamins__img">
            </div>
        </div>
    </section>

    <section class="states">
        <div class="states__wrap">
            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Пробиотики и пребиотики:
                                какие бактерии полезны
                            </div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">Что такое про- и пребиотики
                                и зачем они нужны организму?
                            </div>
                            <div class="state__description">Пробиотики — это полезные бактерии, которые живут в
                                кишечнике
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Как сезонный грипп влияет на беременных</div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">Почему он так важен, сколько нужно спать</div>
                            <div class="state__description">Пробиотики — это полезные бактерии, которые живут в
                                кишечнике
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Пробиотики и пребиотики:
                                какие бактерии полезны
                            </div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">7 важных вещей, которые мы должны знать о мытье рук</div>
                            <div class="state__description">Пробиотики — это полезные бактерии, которые живут в
                                кишечнике
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">03.06</div>
                            <div class="state__header">Пробиотики и пребиотики:
                                какие бактерии полезны
                            </div>
                            <div class="state__description">Диетологи называют кишечник
                                вторым мозгом, хотя он скорее ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="state">
                        <div class="state__image_wrap">
                            <div class="state__image"></div>
                        </div>
                        <div class="text">
                            <div class="state__date">08.06</div>
                            <div class="state__header">Что такое про- и пребиотики
                                и зачем они нужны организму?
                            </div>
                            <div class="state__description">
                                Пробиотики — это полезные бактерии, которые живут в кишечнике...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>

