<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статьи</title>
</head>
<body>


<header class="header">
    <div id="menu" class="header__menu"></div>
    <span class="header__line line"></span>
    <div class="bred">
        <div class="bred__house">
            <svg>
                <use href="#house"/>
            </svg>
        </div>
        <div class="bred__item-text">О нас</div>
    </div>
</header>


<main class="main">
    <section class="vitamins">
        <div class="vitamins__image_wrap">
            <div class="vitamins__img">
                <img
                        src="./src/resources/images/honey.png"
                        alt="honey">
            </div>
        </div>

        <div class="vitamins__header">
            <div class="vitamins__header-text-date">
                24 апреля
            </div>
            <div class="vitamins__header-text-big">
                Витамины и их<br/>
                роль для здоровья
            </div>
            <div class="vitamins__header-description">
                Нарушение требований личной гигиены может <br/>
                негативно сказаться на здоровье не только одного<br/>
                человека,<br class="vitamins__header-description-iphone-only"/> но и больших групп людей ...
            </div>
            <div class="vitamins__header-more-btn">
                Узнать больше
            </div>
        </div>
    </section>

    <section class="states">
        <div class="states__science">
            <img src="<%=require('../../resources/images/science.png').default%>"/>
        </div>
        <div class="states__container">
            <div class="states__container--item">
                <div class="states-item__img-box">
                    <img src="<%=require('../../resources/images/state1.png').default%>"/>
                </div>
                <div class="states-item__box">
                    <div class="states-item__box--date">03.06</div>
                    <div class="states-item__box--title">Пробиотики и пребиотики:
                        какие бактерии полезны
                    </div>
                    <div class="states-item__box--description">Диетологи называют кишечник
                        вторым мозгом, хотя он скорее ...
                    </div>
                </div>
            </div>
            <div class="states__container--item">
                <div class="states-item__img-box">
                    <img src="<%=require('../../resources/images/state1.png').default%>"/>
                </div>
                <div class="states-item__box">
                    <div class="states-item__box--date">03.06</div>
                    <div class="states-item__box--title">Пробиотики и пребиотики:
                        какие бактерии полезны
                    </div>
                    <div class="states-item__box--description">Диетологи называют кишечник
                        вторым мозгом, хотя он скорее ...
                    </div>
                </div>
            </div>
            <button class="states__container--action">загрузить еще 15 </button>
        </div>
    </section>


    <section class="nbl_atp">
        <div class="tab-js nbl_atp__container--tab">
            <div class="tab-js__links-container">
                <button class="tab-js__link" data-target="London" data-active="true">
                    <svg class="tab-js__link--arrow">
                        <use href="#Arrow-1"></use>
                    </svg>
                    <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
                </button>
                <button class="tab-js__link" data-target="Paris" data-active="false">
                    <svg class="tab-js__link--arrow">
                        <use href="#Arrow-1"></use>
                    </svg>
                    <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
                </button>
                <button class="tab-js__link" data-target="Tokyo" data-active="false">
                    <svg class="tab-js__link--arrow">
                        <use href="#Arrow-1"></use>
                    </svg>
                    <img src="<%=require('../../resources/images/probiotic-atp-small.png').default%>"/>
                </button>
            </div>
            <div class="tab-js__content-container nbl_atp__tab-content">
                <div id="London" class="tab-js__content-item nbl_atp__tab-content--item tab-js__content-item--active">
                    <div class="nbl_atp__about">
                        <div class="nbl_atp__about--title">NBL ATP</div>
                        <div class="nbl_atp__about--description">рекомендовано при:</div>
                        <div class="nbl_atp__about--list">
                            <ul>
                                <li>Атопический дерматит;</li>
                                <li>Аллергический ринит;</li>
                                <li>Бронхиальная астма;</li>
                                <li>Крапивница;</li>
                                <li>Себорейный дерматит;</li>
                                <li>Частые простудные заболевания;</li>
                                <li>Проблемы со стулом (запоры, поносы);</li>
                                <li>Метеоризм;</li>
                            </ul>
                        </div>
                        <div class="nbl_atp__about--action">Подробнее</div>
                    </div>
                    <div class="nbl_atp__img-burger">
                        <img
                                class="nbl_atp__img-burger--img-front"
                                src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                                alt="nbl_atp__image_big"
                        />
                        <div class="nbl_atp__img-burger--img-back"></div>
                        <div class="nbl_atp__img-burger--img-back"></div>
                    </div>
                </div>

                <div id="Paris" class="tab-js__content-item nbl_atp__tab-content--item">
                    <div class="nbl_atp__about">
                        <div class="nbl_atp__about--title">NBL ATP</div>
                        <div class="nbl_atp__about--description">рекомендовано при:</div>
                        <div class="nbl_atp__about--list">
                            <ul>
                                <li>Атопический дерматит;</li>
                                <li>Аллергический ринит;</li>
                                <li>Бронхиальная астма;</li>
                                <li>Крапивница;</li>
                                <li>Себорейный дерматит;</li>
                                <li>Частые простудные заболевания;</li>
                                <li>Проблемы со стулом (запоры, поносы);</li>
                                <li>Метеоризм;</li>
                            </ul>
                        </div>
                        <div class="nbl_atp__about--action">Подробнее</div>
                    </div>
                    <div class="nbl_atp__img-burger">
                        <img
                                class="nbl_atp__img-burger--img-front"
                                src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                                alt="nbl_atp__image_big"
                        />
                        <div class="nbl_atp__img-burger--img-back"></div>
                        <div class="nbl_atp__img-burger--img-back"></div>
                    </div>
                </div>

                <div id="Tokyo" class="tab-js__content-item nbl_atp__tab-content--item">
                    <div class="nbl_atp__about">
                        <div class="nbl_atp__about--title">NBL ATP</div>
                        <div class="nbl_atp__about--description">рекомендовано при:</div>
                        <div class="nbl_atp__about--list">
                            <ul>
                                <li>Атопический дерматит;</li>
                                <li>Аллергический ринит;</li>
                                <li>Бронхиальная астма;</li>
                                <li>Крапивница;</li>
                                <li>Себорейный дерматит;</li>
                                <li>Частые простудные заболевания;</li>
                                <li>Проблемы со стулом (запоры, поносы);</li>
                                <li>Метеоризм;</li>
                            </ul>
                        </div>
                        <div class="nbl_atp__about--action">Подробнее</div>
                    </div>
                    <div class="nbl_atp__img-burger">
                        <img
                                class="nbl_atp__img-burger--img-front"
                                src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                                alt="nbl_atp__image_big"
                        />
                        <div class="nbl_atp__img-burger--img-back"></div>
                        <div class="nbl_atp__img-burger--img-back"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nbl_atp__container--accordion">
            <button class="new-accordion__button" data-is-hide-active>
                <img
                        class="nbl_atp__accordion-header--button-img"
                        src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                        alt="nbl_atp__image_big"
                />
                <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
            </button>
            <div class="new-accordion__panel nbl_atp__accordion-content">
                <div class="nbl_atp__accordion-content--title">NBL ATP</div>
                <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
                <img
                        class="nbl_atp__accordion-content--img"
                        src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                        alt="nbl_atp__image_big"
                />
                <div class="nbl_atp__accordion-content--list">
                    <ul>
                        <li>Атопический дерматит;</li>
                        <li>Аллергический ринит;</li>
                        <li>Бронхиальная астма;</li>
                        <li>Крапивница;</li>
                        <li>Себорейный дерматит;</li>
                        <li>Частые простудные заболевания;</li>
                        <li>Проблемы со стулом (запоры, поносы);</li>
                        <li>Метеоризм;</li>
                    </ul>
                </div>
                <div class="nbl_atp__accordion-content--action">Подробнее</div>
            </div>

            <button class="new-accordion__button" data-is-hide-active>
                <img
                        class="nbl_atp__accordion-header--button-img"
                        src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                        alt="nbl_atp__image_big"
                />
                <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
            </button>
            <div class="new-accordion__panel nbl_atp__accordion-content">
                <div class="nbl_atp__accordion-content--title">NBL ATP</div>
                <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
                <img
                        class="nbl_atp__accordion-content--img"
                        src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                        alt="nbl_atp__image_big"
                />
                <div class="nbl_atp__accordion-content--list">
                    <ul>
                        <li>Атопический дерматит;</li>
                        <li>Аллергический ринит;</li>
                        <li>Бронхиальная астма;</li>
                        <li>Крапивница;</li>
                        <li>Себорейный дерматит;</li>
                        <li>Частые простудные заболевания;</li>
                        <li>Проблемы со стулом (запоры, поносы);</li>
                        <li>Метеоризм;</li>
                    </ul>
                </div>
                <div class="nbl_atp__accordion-content--action">Подробнее</div>
            </div>

            <button class="new-accordion__button" data-is-hide-active>
                <img
                        class="nbl_atp__accordion-header--button-img"
                        src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                        alt="nbl_atp__image_big"
                />
                <div class="nbl_atp__accordion-header--button-title">NBL GOLD</div>
            </button>
            <div class="new-accordion__panel nbl_atp__accordion-content">
                <div class="nbl_atp__accordion-content--title">NBL ATP</div>
                <div class="nbl_atp__accordion-content--description">рекомендовано при:</div>
                <img
                        class="nbl_atp__accordion-content--img"
                        src="<%=require('../../resources/images/probiotic-atp-large.png').default%>"
                        alt="nbl_atp__image_big"
                />
                <div class="nbl_atp__accordion-content--list">
                    <ul>
                        <li>Атопический дерматит;</li>
                        <li>Аллергический ринит;</li>
                        <li>Бронхиальная астма;</li>
                        <li>Крапивница;</li>
                        <li>Себорейный дерматит;</li>
                        <li>Частые простудные заболевания;</li>
                        <li>Проблемы со стулом (запоры, поносы);</li>
                        <li>Метеоризм;</li>
                    </ul>
                </div>
                <div class="nbl_atp__accordion-content--action">Подробнее</div>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>
</body>
</html>

