@import './functions';
@import './mediaQueries';
@import './mixins';

$border: rem(1) solid var(--Color-Line);
$sectionMarginTop: rem(50);


:root {
  --BaseFontSize: 15px;
  
  --FontFamily: 'Mont';

  --FontWeight-Light: 300;
  --FontWeight-Regular: 400;
  --FontWeight-Medium: 600;
  --FontWeight-Bold: 800;
}

html {
  @include text($color: 'black', $weight: 'regular');
  font-family: var(--FontFamily);
  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  line-height: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: var(--FontWeight-Regular);
}

p, span {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

section, main {
  position: relative;
  z-index: 1;
}

input {
  background: transparent;
}

header {
  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
    padding-top: rem(60);
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
    padding-top: rem(71);
  }
}

.main__bcg {
  position: fixed;
  width: 100vw;
  z-index: -1;
  left: 0;
  top: 0;
}

.circle {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  max-width: rem(1000);
  @include iPadProp11 {
    display: flex;
  }
}


.active {
  display: flex;
}

.tab {
  &__content {
    display: none;
    align-items: center;
    
    &-description {
      height: fit-content;
      font-size: rem(12);
      text-transform: uppercase;
      color: var(--Color-Text-Grey);
      padding-left: rem(15);
      position: relative;
      flex: 1;
      
      &:before {
        content: '';
        position: absolute;
        left: rem(5);
        height: 100%;
        border-left: 1px solid var(--Color-Text-Green);
      }
    }
  }
  
  &__img {
    &-container {
      flex: 3;
      
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  &__header {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    
    &-links {
      outline: none;
      cursor: pointer;
      color: var(--Color-Text-Green);
      font-weight: var(--FontWeight-Medium);
      position: relative;
      opacity: .15;
      
      &-active {
        color: var(--Color-Text-Green);
        opacity: 1;
      }
    }
  }
  
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .a-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: rem(5);
    border-bottom: rem(1) solid var(--Color-Line);
    
    &:first-child {
      border-bottom: rem(1) solid var(--Color-Line);
    }
    
    .a-btn {
      margin: 0;
      position: relative;
      padding: rem(30) 0;
      width: 100%;
      color: var(--Color-Text-Green);
      font-weight: var(--FontWeight-Medium);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      font-size: rem(35);
      transition: all 0.3s ease-in-out;
      
      &__text {
        opacity: .15;
      }
      
      &__icon {
        display: flex;
        height: rem(20);
        justify-content: center;
        align-items: center;
        padding-right: rem(10);
        z-index: -1;
        
        &:after {
          content: '';
          width: rem(20);
          height: rem(1);
          background-color: var(--Color-Text-Green);
          position: absolute;
        }
        
        &:before {
          content: '';
          width: rem(20);
          height: rem(1);
          background-color: var(--Color-Text-Green);
          position: absolute;
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out;
        }
      }
      
    }
    
    .a-panel {
      width: 100%;
      opacity: 0;
      height: 0;
      transition: all 0.2s ease-in-out;
    }
    
    
    &.active {
      .a-btn {
        &__text {
          opacity: 1;
        }
        
        &__icon {
          &::before {
            transform: rotate(0deg);
          }
        }
      }
      
      .a-panel {
        opacity: 1;
        height: auto;
        transition: all 0.2s ease-in-out;
        
        &__text {
          color: var(--Color-Text-Grey);
          text-transform: uppercase;
          font-size: rem(12);
        }
        
        &__img {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


.table {
  @include flex($justify: space-between);
  padding: rem(15) rem(24);
  white-space: break-spaces;
  
  :first-child, :last-child {
    width: 50%;
  }
  
  &__color {
    &-purple {
      background: var(--Color-Table-Purple);
      @include text($size: 11, $transform: uppercase, $color: 'grey');
      @include iPadProp11 {
        @include text($size: 13, $transform: uppercase, $color: 'grey');
      }
      @include Main {
        @include text($size: 15, $transform: uppercase, $color: 'grey');
      }
    }
    
    &-blue {
      background: var(--Color-Table-Blue);
    }
    
    &-yellow {
      background: var(--Color-Table-Yellow);
    }
    
    &-red {
      background: var(--Color-Table-Red);
    }
  }
  
  &__header {
    @include text($size: 13, $color: 'black', $weight: 'medium');
    border-bottom: rem(1) solid var(--Color-Line);
    margin-top: rem(21);
    
    @include Main {
      @include text($size: 14, $color: 'black', $weight: 'medium');
    }
  }
}

.product-detail-item {
  @include flex($direction: row, $align-items: center, $justify: center);
  margin: rem(15) 0;
  
  @include iPadProp11 {
    @include flex($direction: column);
    width: 33.33%;
  }
  
  @include MacBook {
    width: 50%;
  }
  @include Main {
    margin: rem(35) 0;
  }
  
  &__img-box {
    @include flex();
    
    @include iPadProp11 {
      height: rem(245);
    }
    @include Main {
      height: rem(258);
    }
    
    & img {
      height: 100%;
    }
  }
  
  &__container {
    @include flex($direction: column);
    margin-left: rem(19);
    margin-top: rem(20);
    
    @include MacBook {
      @include flex($direction: row, $justify: space-between);
      width: 100%;
      margin-left: 0;
    }
  }
  
  &__text-box {
    @include flex($direction: column);
    white-space: nowrap;
    
    &-title {
      @include text($size: 17, $color: 'black');
      
      @include MacBook {
        @include text($size: 19, $color: 'black');
      }
    }
    
    &-description {
      @include text($size: 13, $color: 'black', $weight: 'light');
      margin-top: rem(2);
      
      @include MacBook {
        @include text($size: 15, $color: 'black', $weight: 'light');
      }
    }
  }
  
  &__button {
    @include flex();
    margin-top: rem(20);
    width: rem(100);
    height: rem(20);
    @include MacBook {
      height: rem(5);
      width: 100%;
    }
  }
  
}

.mytabs {
  @include flex($wrap: wrap);
  
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 25px;
  cursor: pointer;
  @include text($size: 17, $transform: uppercase, $weight: 'light');
  @include MacBook {
    @include text($size: 21, $weight: 'light');
  }
  @include Main {
    @include text($size: 25, $weight: 'light');
  }
}

.mytabs .tab {
  width: 100%;
  order: 1;
  display: none;
  border-top: rem(1) solid var(--Color-Line);
}

.mytabs input[type='radio']:checked + label + .tab {
  @include flex();
  border-bottom: rem(1) solid var(--Color-Line);
}

.mytabs input[type="radio"]:checked + label {
  @include text($size: 17, $transform: uppercase, $weight: 'medium');
  @include flex($justify: center);
  text-align: center;
  position: relative;
  
  @include MacBook {
    @include text($size: 21, $weight: 'medium');
  }
  @include Main {
    @include text($size: 25, $weight: 'medium');
  }
  
  &:after {
    content: '';
    background-color: var(--Color-Text-Green);
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    width: rem(5);
    height: rem(5);
  }
}

.new-accordion {
  &__button {
    @include flex($align-items: center);
    @include text($transform: uppercase);
    border-bottom: $border;
    cursor: pointer;
    padding: rem(10);
    width: 100%;
    outline: none;
    transition: 0.4s;
    
    &:first-child {
      border-top: $border;
    }
    
    &:after {
      content: '';
      width: rem(20);
      height: rem(1);
      background-color: var(--Color-Text-Green);
      position: absolute;
      transform: rotate(0deg);
      right: 0;
    }
    
    &:before {
      content: '';
      width: rem(20);
      height: rem(1);
      background-color: var(--Color-Text-Green);
      position: absolute;
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
      right: 0;
    }
    
    &--active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }
  
  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.tab-js {
  @include flex($direction: row-reverse);
  width: 100%;
  
  &__links-container {
    @include flex($direction: column);
  }
  
  &__link {
    $this: &;
    position: relative;
    margin: 0;
    
    @include iphone {
      margin: rem(15) 0;
    }
    
    @include iPadProp11 {
      margin: rem(20) 0;
      max-width: rem(80);
    }
    
    @include MacBook {
      margin: rem(25) 0;
      max-width: rem(105);
      height: 100%;
    }
    
    &--arrow {
      display: none;
      position: absolute;
      z-index: 1;
      left: -100%;
      top: 50%;
      width: rem(100);
      height: rem(5);
      
      @include iphone {
        left: -180%;
      }
      
      @include iPadProp11 {
        left: -140%;
      }
      
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    
    &.active {
      & #{$this}--arrow {
        display: flex;
      }
    }
    
    & img {
      width: 100%;
      height: 100%;
    }
    
  }
  
  &__content-container {
    width: 100%;
  }
  
  &__content-item {
    display: none;
    width: 100%;
  }
}

.active {
  display: flex;
  opacity: 1 !important;
}

//Отзывы
.reviews {
  @include section-margin;
  @include sectionTop;
  
  &__container {
    @include flex($direction: column);
    
    &--img-box {
      @include flex(wrap, $justify: space-between);
      width: 100%;
    }
    
    &--img-item {
      display: flex;
      justify-content: center;
      flex: 0 1 45%;
      box-sizing: border-box;
      padding: rem(15);
      margin: rem(4.5);
      background: var(--Color-Light--100);
      height: rem(200);
      
      @include iPadProp11 {
        width: 30%;
        flex: 0 1 30%;
        height: rem(320);
      }
      @include MacBook {
        flex: 0 1 24%;
        width: 24%;
      }
      @include MacBook {
        height: rem(400);
      }
      
    }
    
    & .tab-js {
      &__links-container {
        @include flex($direction: row, $justify: center);
        
        .active {
          font-weight: var(--FontWeight-Bold) !important;
          color: var(--Color-Text-Green) !important;
        }
      }
      
      &__link {
        @include tabHeader;
        padding: rem(10);
        margin-top: rem(0);
      }
      
      &__content-item {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  &__title {
    @include headerUpperCase;
    @include flex($justify: flex-start);
    margin-bottom: rem(11);
    
    @include iPadProp11 {
      @include flex($justify: center);
    }
  }
  
  &__fetch-more {
    @include actionButton(11, 13, 13, 13);
    @include flex($justify: flex-start);
    margin-top: rem(32);
    
    @include iPadProp11 {
      @include flex($justify: center);
      margin-top: rem(56);
    }
  }
}
