:root {
  --Color-Light--100: #ffffff;
  --Color-Black--100: #000000;
  
  
  --Color-Text-Grey: #535353;
  --Color-Text-Green: #005350;
  --Color-Line: rgba(85, 85, 85, 0.2);
  --Color-Lab2Pro: rgba(0, 83, 80, 0.1);
  
  --Color-Table-Purple: linear-gradient(270deg, #DAD9EB 0%, #F0F0F7 31.67%, #F0F0F7 63.54%, #DAD9EB 100%);
  --Color-Table-Blue: linear-gradient(90deg, #DAEBF6 0%, #EEF6FB 31.67%, #EEF6FB 63.54%, #DAEBF6 100%);
  --Color-Table-Yellow: linear-gradient(90deg, #F9F3D3 0%, #FCFAEB 31.67%, #FCFAEB 63.54%, #F9F3D3 100%);
  --Color-Table-Red: linear-gradient(90deg, #F1DBDB 0.77%, #FAF1F1 32.2%, #FAF1F1 63.82%, #F1DBDB 100%);
}

