:root {
  --Color-Light--100: #ffffff;
  --Color-Black--100: #000000;
  
  
  --Color-Text-Grey: #535353;
  --Color-Text-Green: #005350;
  --Color-Line: rgba(85, 85, 85, 0.2);
  --Color-Lab2Pro: rgba(0, 83, 80, 0.1);
  
}

