@use "functions" as *;

@mixin padding-iPhone8($param) {
  @if $param=='absolute' {
    left: rem(30);
    right: rem(30);
  } @else {
    padding-left: rem(30);
    padding-right: rem(30);
  }
}

@mixin padding-iPadProp11($param) {
  @if $param=='absolute' {
    left: rem(36);
    right: rem(23);
  } @else {
    padding-left: rem(36);
    padding-right: rem(23);
  }
}

@mixin padding-MacBook($param) {
  @if $param=='absolute' {
    left: rem(60);
    right: rem(80);
  } @else {
    padding-left: rem(60);
    padding-right: rem(80);
  }
}

@mixin padding-Main($param) {
  @if $param=='absolute' {
    left: rem(108);
    right: rem(108);
  } @else {
    padding-left: rem(108);
    padding-right: rem(108);
    
  }
}

@mixin section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@mixin back-box {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  display: flex;
  
  &-img {
    position: absolute;
    
    @media (min-width: $break-iPhone8) {
      width: rem(318);
      height: rem(277);
    }
    @media (min-width: $break-iPadProp11) {
      width: rem(487);
      height: rem(426);
    }
    @media (min-width: $break-MacBook) {
      width: rem(653);
      height: rem(571);
    }
    @media (min-width: $break-Main) {
      width: rem(650);
      height: rem(568);
    }
  }
}

@mixin flex($wrap: false, $direction: false, $justify: false, $align-items: false, $align-content: false) {
  display: flex;
  @if $wrap {
    flex-wrap: $wrap;
  };
  @if $justify {
    justify-content: $justify;
  };
  @if $align-items {
    align-items: $align-items;
  };
  @if $align-content {
    align-content: $align-content;
  };
  @if $direction {
    flex-direction: $direction;
  };
}

@mixin iphone {
  @media (min-width: $break-iPhone8) {
    @content
  }
}

@mixin iPadProp11 {
  @media (min-width: $break-iPadProp11) {
    @content
  }
}

@mixin MacBook {
  @media (min-width: $break-MacBook) {
    @content
  }
}

@mixin Main {
  @media (min-width: $break-Main) {
    @content
  }
}

@mixin list($iPhone8: 13 , $iPadProp11: 15, $MacBook: 17, $Main: 15 ) {
  color: var(--Color-Text-Grey);
  padding-left: rem(15);
  font-size: rem($iPhone8);
  
  @include iPadProp11 {
    font-size: rem($iPadProp11);
  }
  @include MacBook {
    font-size: rem($MacBook);
  }
  @include Main {
    font-size: rem($Main);
  }
  
  & > ul li {
    padding: rem(5) 0;
    list-style: disc;
  }
}

@mixin text($size: 15, $transform: false, $color: 'green', $weight: 'medium') {
  font-size: rem($size);
  
  @if ($color == 'green') {
    color: var(--Color-Text-Green);
  } @else if ($color == 'grey') {
    color: var(--Color-Text-Grey);
  } @else if ($color == 'light') {
    color: var(--Color-Light--100);
  } @else if ($color == 'black') {
    color: var(--Color-Black--100);
  }
  
  @if ($weight == 'medium') {
    font-weight: var(--FontWeight-Medium);
  } @else if ($weight == 'regular') {
    font-weight: var(--FontWeight-Regular);
  } @else if ($weight == 'light') {
    font-weight: var(--FontWeight-Light);
  } @else if ($weight == 'bold') {
    font-weight: var(--FontWeight-Bold);
  }
  @if ($transform) {
    text-transform: $transform;
  }
}

@mixin actionButton($iPhone8: 15, $iPadProp11: 17, $MacBook: 17, $Main: 19) {
  width: fit-content;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--Color-Text-Green);
  font-weight: var(--FontWeight-Medium);
  font-size: rem($iPhone8);
  
  @include iPadProp11 {
    font-size: rem($iPadProp11);
  }
  @include MacBook {
    font-size: rem($MacBook);
  }
  @include Main {
    font-size: rem($Main);
  }
}

@mixin description {
  line-height: rem(25);
  @include text($size: 13, $color: 'grey', $weight: 'light');
  @include MacBook {
    @include text($size: 15, $color: 'grey', $weight: 'light');
    line-height: rem(30);
  }
  @include Main {
    @include text($size: 17, $color: 'grey', $weight: 'light');
    line-height: rem(32);
  }
}

@mixin headerUpperCase {
  @include text($size: 25, $color: 'black', $weight: 'medium', $transform: uppercase);
  @include iPadProp11 {
    @include text($size: 30, $color: 'black', $weight: 'medium', $transform: uppercase);
  }
  
  @include MacBook {
    @include text($size: 45, $color: 'black', $weight: 'medium', $transform: uppercase);
  }
}

@mixin section-margin {
  margin: rem(150) rem(30) 0 rem(30);
  
  @include iphone {
    margin-top: rem(200);
  }
  @include iPadProp11 {
    margin-left: rem(76);
    margin-right: rem(76);
  }
  @include MacBook {
    margin-top: rem(200);
  }
  @include Main {
    margin-left: rem(108);
    margin-right: rem(108);
  }
}
