@import './src/styles/main/mixins';
@import './src/styles/main/mediaQueries';
@import './src/styles/main/mixins';
@import './src/styles/main/base';

$headerPaddingTopS: 26;
$headerPaddingTopM: 56;
$headerHeightS: 24 + $headerPaddingTopS;
$headerHeightM: 48 + $headerPaddingTopM;


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-top: rem(42);
  z-index: 999999999;
  
  &__menu {
    @include flex($justify: space-between, $align-items: center);
    width: 100%;
    height: fit-content;
  }
  
  &__line {
    height: rem(31);
    display: block;
    @media (max-width: $break-iPhone8) {
      height: rem(13);
    }
  }
}

.logo--container {
  @include flex();
  background: url("../../resources/images/logo.png") no-repeat center/contain;
  width: rem(145);
  height: rem(40);
  
  @media (min-width: $break-MacBook) {
    width: rem(195);
    height: rem(53);
  }
  @media (min-width: $break-Main) {
    width: rem(235);
    height: rem(64);
  }
}

.bred {
  @include flex($align-items: center);
  height: rem(25);
  padding-top: rem(16);
  
  &__house {
    @include flex();
    height: rem(14);
    width: rem(14);
  }
  
  &__item-text {
    @include text($size: 13, $weight: 'medium');
    padding: 0 rem(10);
  }
}

.burger {
  @include flex();
  width: rem(21);
  height: rem(14);
  
  @media (min-width: $break-iPhone8) {
    display: none;
  }
  
  &__icon {
    height: inherit;
  }
}

.menu {
  @include flex($justify: space-between, $wrap: wrap);
  border-bottom: $border;
  width: 100%;
  
  &:hover{
    border-bottom: 0;
  }
}

.menu-list {
  @include flex($justify: center, $align-items: center);
  
  &__line {
    display: none;
    border-bottom: $border;
    position: absolute;
    height: rem(56);
    color: var(--Color-Black--100);
    left: rem(108);
    right: rem(108);
    
  }
  
  &__item {
    &-link {
      @include flex();
      @include text($size: 17, $color: 'black', $weight: 'medium');
      position: relative;
      line-height: rem(22);
      
      @media (max-width: $break-iPhone8) {
        display: none;
      }
      
      &:hover {
        color: var(--Color-Text-Green);
        
        &:after {
          content: '';
          height: rem(7);
          width: rem(7);
          background-color: var(--Color-Text-Green);
          border-radius: 50%;
          position: absolute;
          bottom: rem(-20);
          left: 50%;
        }
      }
      
      @media (max-width: $break-MacBook) {
        font-size: rem(15);
      }
      @media (max-width: $break-iPadProp11) {
        font-size: rem(11.5)
      }
    }
    
    &:hover > .submenu-list {
      @include flex();
    }
    
    &:hover > .menu-list__line {
      @include flex();
    }
  }
}

.submenu-list {
  @include padding-iPadProp11('absolute');
  @include flex($wrap: wrap, $justify: center, $align-items: center);
  border-bottom: $border;
  color: var(--Color-Black--100);
  display: none;
  left: 0;
  width: 100%;
  position: absolute;
  height: rem(43);
  //margin-top: rem(30);
  padding: rem(15) 0;
  padding-top: rem(30);
  
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    border-top: $border;
    transform: translateY(rem(-10));
  }
  
  &__item {
    margin: 0 rem(20);
    
    &-link {
      @include flex($justify: center);
      color: var(--Color-Text-Green);
      font-size: rem(13.8);
      line-height: rem(18);
      text-transform: uppercase;
      
      &:hover {
        font-weight: var(--FontWeight-Medium);
        
        &:after {
          content: '';
          height: rem(7);
          width: rem(7);
          background-color: var(--Color-Text-Green);
          border-radius: 50%;
          position: absolute;
          bottom: rem(-4);
        }
      }
      
      @media (max-width: $break-iPadProp11) {
        font-size: rem(11);
      }
    }
  }
  
}

.tab-menu {
  @include flex($wrap: wrap);
  
}

.tab-menu input[type="radio"] {
  display: none;
}

.tab-menu label {
  @include text($size: 16, $color: 'black', $weight: 'medium');
  padding: rem(10) rem(20) rem(10) 0;
  cursor: pointer;
  
  @include iPadProp11 {
    @include flex($align-items: flex-start);
    padding: rem(15) rem(20) rem(15) 0;
  }
  @include MacBook {
    padding: rem(25) rem(20) rem(25) 0;
  }
}

.tab-menu .tab-menu__body {
  width: 100%;
  order: 1;
  display: none;
  padding-bottom: rem(20);
  
  &:hover {
    @include flex(wrap, column)
  }
  
  @include iPadProp11 {
    &:hover {
      @include flex(wrap, row)
    }
  }
  
  & a {
    @include text($size: 16, $color: 'black', $weight: 'light');
    @include flex($align-items: center);
    margin-right: rem(10);
    
    flex: 1 1 50%;
    
    @include iPadProp11 {
      flex: 1 1 auto;
    }
  }
}

.tab-menu input[type='radio']:hover + label + .tab-menu__body {
  @include flex($direction: column, $wrap: wrap);
  
  @include iPadProp11 {
    @include flex($direction: row);
  }
}

.tab-menu input[type="radio"]:hover + label {
  @include text($size: 16);
  @include flex($justify: center);
  text-align: center;
  position: relative;
  
  &:after {
    content: '';
    background-color: var(--Color-Text-Green);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    width: rem(5);
    height: rem(5);
    
    @include iPadProp11 {
      bottom: rem(15);
    }
  }
}

.social-list {
  @include flex();
  margin-top: rem(10);
  
  @include iPadProp11 {
    margin: 0;
  }
  
  & svg {
    @include flex();
    margin: 0 rem(5);
    width: rem(15);
    height: rem(15);
  }
}
