@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.questions {
  @include section-margin;
  
  &__title {
    @include headerUpperCase
  }
  
  &__container {
    @include flex($wrap: wrap, $justify: space-between);
    margin-top: rem(38);
  }
}

.new-accordion__button {
  @include text(27, uppercase, 'black', 'light');
  padding-left: 0;
  line-height: rem(43);
  text-align: start;
  border-bottom: 0;
  
  &:first-child{
    border-top: 0;
  }
  &--active{
    @include text(27, uppercase, 'black');
  }
}

.new-accordion__panel {
  @include text($size: 17, $color: 'grey');
  border-top: $border;
  line-height: rem(35);
  
  &--active{
    padding: rem(28) 0;
    border-bottom: $border;
  }
}
