@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.contacts {
  @include section-margin;
  margin-top: rem(200);
  
  &__title {
    @include headerUpperCase;
  }
  
  &__container {
    line-height: rem(35);
    margin-top: rem(47);
  }
  
  &__form {
    width: 70%;
    padding-top: rem(62);
    
    @include iPadProp11 {
      width: 70%;
    }
    
    &--title {
      @include text(27, uppercase, 'black');
    }
  }
}

.сontact-details {
  @include flex($direction: column);
  margin-top: rem(100);
  
  @include iPadProp11 {
    @include flex(wrap, row);
  }
  
  &__item {
    @include text($size: 17, $color: 'black', $weight: 'light');
    line-height: rem(45);
    flex: 1 1 50%;
    margin-bottom: rem(32);
    
    @include iPadProp11 {
      @include text($size: 27, $color: 'black', $weight: 'light');
    }
    
    &:last-child {
      @include text($size: 17, $color: 'black', $weight: 'light');
    }
  }
}

.map {
  @include flex;
  width: 100%;
  height: rem(233);
  
  &__img {
    width: 100%;
  }
}


.accordion {
  @include flex();
  
  @include iPadProp11 {
    display: none;
  }
}


.new-accordion__button {
  padding-left: 0!important;
  line-height: rem(43)!important;
  text-align: start;
  border-bottom: 0!important;
  color: var(--Color-Black--100)!important;
  font-weight: var(--FontWeight-Light)!important;
  font-size: rem(25)!important;
  
  &--active {
    font-weight: var(--FontWeight-Medium)!important;
  }
}

.new-accordion__panel {
  @include list;
  @include text($size: 15, $color: 'grey');
  border-top: $border;
  line-height: rem(35);
  
  & ul li {
    line-height: rem(35);
    margin-left: rem(15);
  }
  
  &--active {
    padding-bottom: rem(28);
    padding-left: 0;
    border-bottom: $border;
    border-top: 0!important;
  }
}

strong {
  font-weight: var(--FontWeight-Bold);
}
