@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.delivery {
  @include section-margin;
  
  &__title {
    @include headerUpperCase
  }
  
  &__container {
    line-height: rem(35);
    margin-top: rem(47);
    
    &--list {
      @include list($Main: 17);
      
      p {
        line-height: rem(35);
      }
      
      ul {
        margin-left: rem(17);
      }
      
      ul li {
        line-height: rem(35);
      }
    }
    
    &--list-title {
      @include text(27, uppercase, 'black');
      margin-bottom: rem(22);
    }
  }
}

.payment {
  @include section-margin;
  
  &__title {
    @include headerUpperCase
  }
  
  &__container {
    overflow: hidden;
    margin-top: rem(20);
    
    @include iPadProp11 {
      margin-top: rem(80);
    }
  }
  
  &__tab {
    flex-direction: column;
    display: none;
    
    @include iPadProp11 {
      @include flex();
    }
  }
  
  &__links {
    @include flex($direction: row, $align-items: center);
    border-bottom: $border;
  }
}

.tab-js__link {
  @include text(25, uppercase, 'grey', 'light');
  margin-right: rem(20);
  margin-bottom: rem(10);
  max-width: none;

  &--active {
    @include text(25, uppercase, 'green');
    @include flex($justify: center);
    position: relative;
    
    &:after {
      content: '';
      background-color: var(--Color-Text-Green);
      border-radius: 50%;
      position: absolute;
      bottom: -13px;
      width: rem(5);
      height: rem(5);
    }
  }
}

.tab-js__content-item--active {
  @include flex($direction: column);
  @include list;
  line-height: rem(35);
  
  & ul li {
    line-height: rem(35);
    margin-left: rem(15);
  }
  
}

.tab-js__content-item--active{
  padding-top: rem(20);
}

.accordion {
  @include flex();
  
  @include iPadProp11 {
    display: none;
  }
}

.new-accordion__button {
  @include text(15, uppercase, 'grey', 'light');
  padding-left: 0;
  line-height: rem(43);
  text-align: start;
  border-bottom: 0;
  
  &:first-child {
    border-top: 0;
  }
  
  &--active {
    @include text(15, uppercase, 'green');
  }
}

.new-accordion__panel {
  @include list;
  @include text($size: 15, $color: 'grey');
  border-top: $border;
  line-height: rem(35);
  
  & ul li {
    line-height: rem(35);
    margin-left: rem(15);
  }
  
  &--active {
    padding: rem(28) 0;
    border-bottom: $border;
  }
}
