@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.delivery {
  @include section-margin;
  
  &__title {
    @include headerUpperCase
  }
  
  &__container {
    line-height: rem(35);
    margin-top: rem(47);
    
    &--list {
      @include list($Main: 17);
      
      p {
        line-height: rem(35);
      }
      
      ul {
        margin-left: rem(17);
      }
      
      ul li {
        line-height: rem(35);
      }
    }
    
    &--list-title {
      @include text(27, uppercase, 'black');
      margin-bottom: rem(22);
    }
  }
}

.payment {
  @include section-margin;
  
  &__title {
    @include headerUpperCase
  }
  
  &__container {
    overflow: hidden;
    margin-top: rem(20);
    
    @include iPadProp11 {
      margin-top: rem(80);
    }
    
    & .tab-js {
      flex-direction: column;
      display: none;
      
      @include iPadProp11 {
        @include flex();
      }
      
      &__links-container {
        @include flex($direction: row);
        
        & .tab-js__link {
          @include text(25, uppercase, 'grey', 'light');
          @include tabHeader;
          font-size: rem(25) !important;
          padding: rem(30);
          margin: 0;
          width: auto;
          max-width: fit-content;
        }
        
        .active {
          @include flex($justify: center);
          font-weight: var(--FontWeight-Bold) !important;
          color: var(--Color-Text-Green) !important;
        }
      }
    }
  }
  
  &__tab {
    flex-direction: column;
    display: none;
    
    @include iPadProp11 {
      @include flex();
    }
  }
  
  &__links {
    @include flex($direction: row, $align-items: center);
    border-bottom: $border;
  }
}

.tab-js__content-container .active {
  @include flex($direction: column);
  @include list;
  line-height: rem(35);
  padding-top: rem(62);
  
  & ul li {
    line-height: rem(35);
    margin-left: rem(15);
  }
  
}


.accordion {
  @include flex();
  
  @include iPadProp11 {
    display: none;
  }
}

.new-accordion__button {
  @include text(15, uppercase, 'grey', 'light');
  padding-left: 0;
  line-height: rem(43);
  text-align: start;
  border-bottom: 0;
  
  &:first-child {
    border-top: 0;
  }
  
  &--active {
    @include text(15, uppercase, 'green');
  }
}

.new-accordion__panel {
  @include list;
  @include text($size: 15, $color: 'grey');
  border-top: $border;
  line-height: rem(35);
  
  & ul li {
    line-height: rem(35);
    margin-left: rem(15);
  }
  
  &--active {
    padding: rem(28) 0;
    border-bottom: $border;
  }
}
