@import '../main/index';
@import '../includes/header';
@import '../includes/footer';

@mixin marginLeftAllDevices {
  margin-left: rem(30);

  @include iPadProp11 {
    margin-left: rem(40);
  }

  @include MacBook {
    margin-left: rem(88);
  }

  @include Main {
    margin-left: rem(110);
  }
}

.tab-panes .tab-pane {
  display: none
}

.tab-panes .active {
  display: block;
}

body > main > section > div.documents__select.tabs > div.documents__select_item.tab.active {
  opacity: 1;
}

.main {
  @include flex();
  width: 100%;
  max-width: 100%;
  //min-height: 100vh;
  @include section-margin();
  margin-left: 0!important;
  box-sizing: border-box;
  overflow: hidden;
  //background: url("../../resources/images/main-bcg.png") no-repeat center /cover;
}

.documents {
  @include marginLeftAllDevices;
  display: none;

  @include iPadProp11 {
    display: block;
  }


  &__header {
    @include headerUpperCase();
  }

  &__select {
    @include flex();


    @include iPadProp11 {
      margin-top: rem(36);
    }

    @include MacBook {
      margin-top: rem(31);
    }

    &_item {
      opacity: 0.2;
      @include iPadProp11 {
        @include text($size: 25, $transform: uppercase);
      }

      @include MacBook {
        @include text($size: 30, $transform: uppercase);
      }

      @include Main {
        @include text($size: 35, $transform: uppercase);
      }
    }

    .vertical_line {
      width: rem(1);
      display: none;
      background: rgba(85, 85, 85, 0.2);

      @include iPadProp11 {
        height: rem(33);
        display: block;

        $marginBoth: 35;
        margin-left: rem($marginBoth);
        margin-right: rem($marginBoth);
      }

      @include MacBook {
        height: rem(44);
        $marginBoth: 45;
        margin-left: rem($marginBoth);
        margin-right: rem($marginBoth);
      }

      @include Main {
        height: rem(54);
        $marginBoth: 52;
        margin-left: rem($marginBoth);
        margin-right: rem($marginBoth);
      }
    }
  }

  &__main {
    width: 90%;
    @include flex();


    @include iPadProp11 {
      width: 100%;
      margin-top: rem(52);
    }

    @include MacBook {
      margin-top: rem(78);
    }

    @include Main {
      margin-top: rem(34);
      width: 95%;
    }

    &_description {
      width: 100%;
      @include iPadProp11 {
        width: 40%;
      }

      @include MacBook {
        width: 30%;
      }

      @include Main {
        width: 35%;
      }


      &_header {
        @include text($size: 17, $weight: 'light', $color: 'black');
        margin-top: rem(32);
        @include iPadProp11 {
          @include text($size: 20, $weight: 'light', $color: 'black');
          margin-top: rem(0);
        }

        @include MacBook {
          @include text($size: 25, $weight: 'light', $color: 'black');
        }

        @include Main {
          @include text($size: 27, $weight: 'light', $color: 'black');
        }
      }

      &_text {
        @include text($size: 13, $color: 'grey');
        line-height: rem(25);
        margin-top: rem(40);

        @include iPadProp11 {
          @include text($size: 15, $color: 'grey');
          line-height: rem(30);
          margin-top: 0;
        }

        @include Main {
          @include text($size: 17, $color: 'grey');
          line-height: rem(35);
        }

      }

      :nth-child(2) {
        @include iPadProp11 {
          margin-top: rem(20);
        }

        @include MacBook {
          margin-top: rem(40);
        }

        @include Main {
          margin-top: rem(30);
        }
      }

      :nth-child(3) {
        @include iPadProp11 {
          margin-top: rem(20);
        }

        @include MacBook {
          margin-top: rem(40);
        }
      }
    }

    &_image_big {
      position: relative;
      @include iPadProp11 {
        margin-left: rem(500);
        width: rem(335);
      }

      @include MacBook {
        margin-left: rem(188);
        width: rem(630);
      }

      @include Main {
        margin-left: rem(149);
        width: rem(540);
      }
    }

    &_images {
      width: rem(315);
      height: rem(415);
      @include flex($direction: column, $justify: space-between);

      @include iPadProp11 {
        margin-left: rem(45);
      }

      @include MacBook {
        margin-left: rem(60);
      }

      @include Main {
        margin-left: rem(200);
      }

      @include iPadProp11 {
        width: rem(325);
        height: rem(428);
      }

      @include MacBook {
        width: rem(426);
        height: rem(562);
      }

      @include Main {
        width: rem(520);
        height: rem(685);
      }
    }
  }

  &__dots {
    @include flex($justify: center);
    transform: translateY(rem(15));
    z-index: 100;

    .dot {
      @include iPadProp11 {
        width: rem(6);
        height: rem(6);
        background: var(--Color-Text-Grey);
        border-radius: 10px;
        margin: 0 rem(10);
      }

      @include MacBook {
        margin: 0 rem(15);
      }

      @include Main {
        margin: 0 rem(20);
      }

      &_active {
        @include iPadProp11 {
          background: var(--Color-Text-Green);
        }
      }
    }
  }

  &__nlb_img-wrap {
    position: absolute;


    img {
      @include iPadProp11 {
        width: rem(352);
        height: rem(140);
        margin-top: rem(260);
        margin-left: rem(70);
      }

      @include MacBook {
        width: rem(514);
        height: rem(183);
        margin-top: rem(350);
        margin-left: rem(100);
      }

      @include Main {
        width: rem(626);
        height: rem(223);
        margin-top: rem(410);
        margin-left: rem(100);
      }
    }
  }
}

.documents_iphone {
  @include flex($justify: center);
  margin-left: rem(30);
  margin-right: rem(30);
}

.nbl_atp {
  @include flex($justify: center);
  margin: 0 rem(30) 0 rem(30);

  &__img-burger {
    @include flex($direction: column);
    position: relative;
    @include iphone {
      height: rem(382+20);
    }
    @include iPadProp11 {
      height: rem(393+36);
    }
    @include MacBook {
      height: rem(516+47);
    }

    @include Main {
      height: rem(629+57);
    }

    &--img-back {
      position: absolute;
      height: 95%;
      width: 95%;

      &:nth-child(2) {
        transform: translate(10px, 10px);
        z-index: 3;
        background: var(--Color-Light--100);
        box-shadow: 0 rem(4) rem(10) rgba(0, 0, 0, 0.1);
      }

      &:nth-child(3) {
        transform: translate(20px, 20px);
        z-index: 2;
        background: var(--Color-Light--100);
        box-shadow: 0 rem(4) rem(10) rgba(0, 0, 0, 0.1);
      }
    }

    &--img-front {
      height: 95%;
      width: 95%;
      z-index: 4;
      box-shadow: 0 rem(4) rem(10) rgba(0, 0, 0, 0.1);
    }
  }

  &__img-dots{
    @include iphone {
      height: rem(382+20);
    }
    @include iPadProp11 {
      height: rem(393+36+25);
    }
    @include MacBook {
      height: rem(516+47+30);
    }

    @include Main {
      height: rem(629+57+35);
    }
  }

  &__tab-content {
    @include flex();
    margin-right: 7%;

    &--item {
      @include flex($justify: space-between);
    }
  }

  &__container {
    &--tab {
      display: none !important;
      width: 85% !important;

      @include iPadProp11 {
        display: flex !important;
        width: 100% !important;
      }
    }

    &--accordion {
      @include flex($direction: column);
      width: 100%;

      @include iPadProp11 {
        display: none !important;
      }
    }

  }

  &__accordion-content--list {
    margin-top: rem(35);
  }
}

.tab-js {
  @include flex($direction: row-reverse);
  width: 100%;

  &__links-container {
    @include flex($direction: column);
  }


  &__link {
    $this: &;
    position: relative;
    margin: 0;

    @include iphone {
      height: rem(100);
      margin: rem(15) 0;
    }


    @include iPadProp11 {
      margin: rem(21) 0;
      max-width: rem(80);
      height: rem(68);
    }

    @include MacBook {
      margin: rem(28) 0;
      max-width: rem(105);
      height: rem(88);
    }

    @include Main {
      height: rem(108);
      margin: rem(34) 0;
    }


    &--arrow {
      display: none;
      position: absolute;
      z-index: 3;
      left: -100%;
      top: 50%;
      width: rem(100);
      height: rem(5);

      @include iphone {
        left: -180%;
      }

      @include iPadProp11 {
        left: -240%;
      }

      @include MacBook{
        left: -200%;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &--active {
      & #{$this}--arrow {
        @include flex();
      }
    }

    & img {
      height: rem(66);
      @include iPadProp11 {
        height: rem(68);
      }

      @include MacBook {
        height: rem(88);
      }

      @include Main {
        height: rem(108);
      }
    }

  }

  &__content-container {
    width: 100%;
  }

  &__content-item {
    display: none;
    width: 100%;

    &--active {
      display: flex;
    }
  }

}

.new-accordion__button {
  padding-left: 0 !important;
  display: flex!important;
  &:nth-child(3){
    margin-top: rem(60);
  }
}

.new-accordion__slider {
  margin-top: rem(25);

  &-big_image {
    width: 100%;
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.1);
    display: none;

    &-active{
      display: flex;
    }
  }

  &-arrows {
    @include flex($justify: space-between, $align-items: flex-start);
    position: relative;
  }

  &-arrow {
    transform: rotate(90deg) translate(rem(-15));
    opacity: 0;
    width: rem(70);
    height: rem(100);
    top: 0;

    &-active {
      opacity: 1;
    }
  }

  &-arrow:first-child {
    transform: rotate(90deg) translate(rem(-15), rem(10));
  }

  &-images {
    margin-top: rem(9);
    @include flex($justify: space-between);

    img {
      height: rem(66);
    }
  }
}


.nbl_atp__accordion-header {
  &--button-title {
    @include text(13, uppercase, 'black');
  }

  &--button-img {
    width: rem(40);
    height: rem(54);
  }
}