@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding-top: rem(339);
  box-sizing: border-box;
  overflow: hidden;
  background: url("../../resources/images/main-bcg.png") no-repeat center /cover;

  &:after {
    content: '';
    right: 0;
    top: 0;
    background: url("../../resources/images/circle.png") no-repeat center/cover;
    position: absolute;
    width: 100%;
    height: rem(354);

    @media (min-width: $break-iPadProp11) {
      width: rem(697);
      height: rem(651);
    }
    @media (min-width: $break-MacBook) {
      width: rem(849);
      height: rem(792);
    }
    @media (min-width: $break-Main) {
      width: rem(1023);
      height: rem(954);
    }
  }

  @media (max-width: $break-iPhone8) {
    padding-top: rem(107);
  }
}

.effective {
  align-content: flex-start;
  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
  }

  .description {
    display: flex;
    width: 50%;
    z-index: 3;

    @media (max-width: $break-iPhone8) {
      order: 1;
      width: 100%;
    }
  }

  .probiotic-group {
    display: flex;
    width: 50%;
    z-index: 3;

    @media (max-width: $break-iPhone8) {
      order: 0;
      width: 100%;
    }
  }

  .Lab2Pro {
    display: flex;
    color: var(--Color-Lab2Pro);
    font-size: rem(72);
    text-transform: uppercase;
    font-weight: var(--FontWeight-Medium);
    padding-top: rem(27);

    @media (max-width: $break-iPhone8) {
      order: 2;
    }
    @media (min-width: $break-iPadProp11) {
      font-size: rem(150);
      padding-top: rem(68);
    }
    @media (min-width: $break-MacBook) {
      padding-top: rem(85);
      font-size: rem(200);
    }
    @media (min-width: $break-Main) {
      font-size: rem(230);
    }
  }
}

.probiotic-group {
  height: rem(169);
  width: 100%;
  background: url("../../resources/images/probiotic-group-iPhone8.png") no-repeat center/contain;

  @media (max-width: $break-iPhone8) {
    width: 50%;
  }
  @media (min-width: $break-iPadProp11) {
    height: rem(197);
    background: url("../../resources/images/probiotic-group-iPadProp11.png") no-repeat center/contain;
  }
  @media (min-width: $break-MacBook) {
    height: rem(268);
    background: url("../../resources/images/probiotic-group-macBook.png") no-repeat center/contain;
  }
  @media (min-width: $break-Main) {
    height: rem(331);
    background: url("../../resources/images/probiotic-group-main.png") no-repeat center/contain;
  }
}

.viability {
  @include padding-iPadProp11('padding');

  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
    height: rem(480);
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
    height: rem(600);
  }

  &--number {
    color: var(--Color-Text-Green);
    font-size: rem(35);
    display: none;
    font-weight: var(--FontWeight-Medium);
    padding-right: rem(13);

    @media (max-width: $break-iPhone8) {
      display: flex;
    }
  }

  &__title {
    @include section-title;
  }

  &__details {
    padding-top: rem(15);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;

    @media (max-width: $break-iPhone8) {
      flex-direction: column;
    }
    @media (min-width: $break-iPadProp11) {
      height: rem(250);
    }
    @media (min-width: $break-MacBook) {
      height: rem(353);
    }
    @media (min-width: $break-Main) {
      height: rem(442);
    }

    &-title {
      font-weight: var(--FontWeight-Medium);
      font-size: rem(13);
      text-transform: uppercase;

      @media (min-width: $break-MacBook) {
        font-size: rem(15);
      }
      @media (min-width: $break-Main) {
        font-size: rem(17);
      }
    }

    &-description {
      color: var(--Color-Text-Green);
      font-size: rem(11);
      padding-top: rem(3);
      padding-bottom: rem(10);

      @media (min-width: $break-MacBook) {
        font-size: rem(13);
      }
      @media (min-width: $break-Main) {
        font-size: rem(15);
      }
    }

    &-list {
      @include list
    }

    &-img-box {
      @media (max-width: $break-iPhone8) {
        order: 0;
        position: relative;
      }
    }

    &-img {
      background: url("../../resources/images/viability-probiotic-v2.png") no-repeat center/contain;
      width: rem(236);
      height: rem(182);

      @media (max-width: $break-iPhone8) {
        background: url("../../resources/images/viability-probiotic-min.png") no-repeat center/contain;
        width: rem(271);
        height: rem(182);
      }
      @media (min-width: $break-iPadProp11) {
        width: rem(255);
        height: rem(260);
      }
      @media (min-width: $break-MacBook) {
        width: rem(461);
        height: rem(353);
      }
      @media (min-width: $break-Main) {
        width: rem(577);
        height: rem(442);
      }

      &-min {
        display: none;
        @media (max-width: $break-iPhone8) {
          background: url("../../resources/images/viability-probiotic-min.png") no-repeat center/contain;
          display: block;
          width: rem(271);
          height: rem(182);
        }
      }
    }

    &-item {
      padding-top: 10%;
    }

    &-first {
      @media (max-width: $break-iPhone8) {
        order: 1;
      }
    }

    &-second {
      @media (max-width: $break-iPhone8) {
        order: 2;
      }
    }

    &-third {
      align-self: flex-end;
      margin-right: 20%;
      @media (max-width: $break-iPhone8) {
        order: 3;
        align-self: flex-start;
      }
    }
  }
}

.double-cover {
  //height: rem(900)!important;

  @include padding-iPadProp11('padding');

  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
    //height: rem(480);
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
    //height: rem(600);
  }

  &__title {
    @include section-title;
  }

  &__details {
    &-tab {
      display: none;
      @media (min-width: $break-iPhone8) {
        display: block;
      }
    }
  }

  &__details {
    &-accordion {
      display: none;
      @media (max-width: $break-iPhone8) {
        display: block;
      }
    }
  }
}

.bacterial-survival {
  display: flex;
  justify-content: center;
  padding-top: rem(20);
  flex-wrap: wrap;

  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
  }

  &__header {
    display: flex;
    justify-content: center;
    height: rem(170);
    width: 80%;

    @media (max-width: $break-iPadProp11) {
      width: 100%;
      height: fit-content;
      align-items: center;
    }
    @media (max-width: $break-iPhone8) {
      flex-direction: column;
    }

    &-title {
      width: rem(300);
      display: flex;
      align-items: flex-start;
      text-align: center;
      text-transform: uppercase
    }

    &-info {
      align-self: flex-end;

      @media (max-width: $break-iPhone8) {
        padding-top: rem(8);
        align-self: center;
      }
    }

    &-icon-box {
      width: rem(45);
      justify-content: space-around;
      align-items: flex-end;
      @media (max-width: $break-iPhone8) {
        width: rem(30);
      }

      & > span {
        width: rem(1);
        background: var(--Color-Text-Green);

        &:nth-child(1) {
          height: 65%;
        }

        &:nth-child(2) {
          height: 75%;
        }

        &:nth-child(3) {
          height: 85%;
        }

        &:nth-child(4) {
          height: 100%;
        }
      }
    }

    &-number {
      color: var(--Color-Text-Green);
      font-size: rem(125);
      padding-left: rem(24);
      line-height: rem(65);
      font-weight: 300;

      @media (max-width: $break-iPadProp11) {
        font-size: rem(110);
      }
      @media (max-width: $break-iPhone8) {
        font-size: rem(80);
        padding-left: rem(5);
      }
    }

    &-number-box {
      height: rem(110);
      justify-content: space-between;
      @media (max-width: $break-iPadProp11) {
        height: rem(100);
      }
      @media (max-width: $break-iPhone8) {
        height: rem(80);
      }
    }

    &-text-number {
      color: var(--Color-Text-Grey);
      font-size: rem(20);
      padding-left: rem(40);

      @media (max-width: $break-iPadProp11) {
        font-size: rem(17);
      }
      @media (max-width: $break-iPhone8) {
        font-size: rem(13);
        padding-left: rem(10);
      }

    }

    &-text-number2 {
      color: var(--Color-Text-Grey);
      font-size: rem(21);
      text-transform: uppercase;
      align-self: center;
      padding-left: rem(14);
      width: rem(260);

      @media (max-width: $break-iPadProp11) {
        font-size: rem(17);
        width: rem(196);
      }
      @media (max-width: $break-iPhone8) {
        font-size: rem(11);
        width: rem(132);
      }
    }
  }

  &__body {
    width: 100%;
    height: rem(182);

    @media (min-width: $break-iPhone8) {
      padding-top: rem(30);
    }

    @media (min-width: $break-iPadProp11) {
      padding-top: rem(40);
      height: rem(320);
    }
    @media (min-width: $break-MacBook) {
      padding-top: rem(56);
      height: rem(500);
    }
    @media (min-width: $break-Main) {
      padding-top: rem(58);
      height: rem(600);
    }

    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}

.classification {
  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
  }

  &__list {
    display: flex;

    @media (max-width: $break-iPhone8) {
      flex-direction: column;
    }

    &-item {
      flex: 1;
      padding-top: rem(20);
      justify-content: center;

      @media (max-width: $break-iPhone8) {
        justify-content: flex-start;

        &:not(:last-child) {
          padding: rem(28) 0;
          border-bottom: rem(1) solid var(--Color-Line);
        }
      }
    }

    &-number {
      text-transform: uppercase;
      color: var(--Color-Text-Green);
      font-weight: var(--FontWeight-Medium);
      margin-right: rem(26);
      font-size: rem(50);

      @media (min-width: $break-iPhone8) {
        font-size: rem(50);
      }
      @media (min-width: $break-iPadProp11) {
        font-size: rem(70);
      }
      @media (min-width: $break-MacBook) {
        font-size: rem(60);
      }
      @media (min-width: $break-Main) {
        font-size: rem(70);
      }
    }

    &-title {
      color: var(--Color-Text-Grey);
      font-size: rem(15);
      font-weight: var(--FontWeight-Medium);
      @media (max-width: $break-MacBook) {
        font-size: rem(13);
      }
    }

    &-description {
      color: var(--Color-Text-Grey);
      font-size: rem(15);
      @media (max-width: $break-MacBook) {
        font-size: rem(13);
      }
    }
  }

  &__age {
    &-title {
      display: flex;
      color: var(--Color-Lab2Pro);
      font-size: rem(51);
      text-transform: uppercase;
      font-weight: var(--FontWeight-Medium);
      padding-top: rem(24);

      @media (min-width: $break-iPadProp11) {
        font-size: rem(100);
        padding-top: rem(36);
      }
      @media (min-width: $break-MacBook) {
        padding-top: rem(40);
        font-size: rem(120);
      }
      @media (min-width: $break-Main) {
        padding-top: rem(31);
        font-size: rem(150);

      }

    }

    &-box {
      color: var(--Color-Text-Grey);
      position: relative;

      @media (min-width: $break-iPhone8) {
        font-size: rem(13);
      }
      @media (min-width: $break-iPadProp11) {
        font-size: rem(13);
      }
      @media (min-width: $break-MacBook) {
        font-size: rem(17);
      }
    }

    &-img {
      @media (min-width: $break-iPhone8) {
        width: rem(173);
        height: rem(140);
      }
      @media (min-width: $break-iPadProp11) {
        width: rem(384);
        height: rem(192);
      }
      @media (min-width: $break-MacBook) {
        width: rem(409);
        height: rem(258);
      }
      @media (min-width: $break-Main) {
        width: rem(511);
        height: rem(332);
      }
    }
  }
}


#nbl_apt {
  background-color: black; // убрать
  .nbl_apt__recommendation {
    .nbl_apt__header {
      .nbl_atp {
        font-family: Mont, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 75px;
        line-height: 65px;
        text-transform: uppercase;
      }

      .nbl_atp__blue_text {
        font-family: Mont, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #005350;
      }
    }

    .nbl_atp__list {
      margin-top: 50px;

      font-family: Mont, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 35px;
      color: #535353;

      .nbl_atp__about_list_item {
        //margin-top: 100px; ???
      }
    }
  }

  .nbl_apt__big-image-wrap {
    background: url("../../resources/images/probiotic-atp-large.png") no-repeat center /cover;
    width: 553px;
    height: 553px;
  }

  .nbl_apt__images {
    margin-left: rem(300);
  }

  .img-wrap {
    width: 125px;
    height: 163px;
  }

  #img-wrap1 {
    background: url("../../resources/images/probiotic-atp-small.png") no-repeat center /cover;
  }

  #img-wrap2 {
    background: url("../../resources/images/probiotic-gold-small.png") no-repeat center /cover;
  }

  #img-wrap3 {
    background: url("../../resources/images/ginobiotic-small.png") no-repeat center /cover;
  }
}


#doctor_recommendation {
  .doctor_recommendation__header {
    display: flex;
    justify-content: center;
    font-family: Mont, serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 65px;

  }

  .doctor_recommendation__list {
    display: flex;
    justify-content: center;
    width: 100%;

    .doctor_recommendation__list_item {
      margin-top: 3vh;
      text-align: center;
      width: 15%;


      button {
        font-family: Mont, serif;
        font-style: normal;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        color: #535353;
      }

      :hover {
        color: #005350;
        font-weight: 800;
      }
    }
  }

  .doctor_recommendation__cards {
    margin-top: 5vh;
    margin-left: 10vw;
    display: flex;
    justify-content: center;

    .doctor_recommendation__card {
      width: 35vw;
      height: 50vh;
      margin-left: 2vw;
      -webkit-box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.3);
      -moz-box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.3);
      box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.3);


      .doctor_recommendation__img {
        height: 70%;
      }

      .doctor_recommendation__description {
        display: flex;
        flex-direction: column;
        margin-left: 3vw;
        margin-top: 2vh;
      }

      .doctor_recommendation__card_header {
        font-family: Mont, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        color: #535353;
      }

      .doctor_recommendation__description_small {
        font-family: Mont, serif;
        font-style: normal;
        font-size: 15px;
        line-height: 153%;
        color: #535353;


      }
    }

    :nth-child(1) {
      .doctor_recommendation__img {
        height: 100%;
        background: url("../../resources/images/recomendation_pic1.png") no-repeat center /cover;
      }
    }

    :nth-child(2) {
      .doctor_recommendation__img {
        background: url("../../resources/images/recomendation_pic2.png") no-repeat center /cover;
      }
    }

    :nth-child(3) {
      .doctor_recommendation__img {
        background: url("../../resources/images/recomendation_pic3.png") no-repeat center /cover;
      }
    }
  }
}

#feedback {
  margin-top: 10vh; // TODO: поменять

  .feedback__header {
    font-family: Mont, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 186%;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }

  .feedback__list {
    display: flex;
    justify-content: center;
    width: 100%;

    .feedback__list_item {
      width: 10%;
      text-align: center;

      button {
        font-family: Mont, serif;
        font-style: normal;
        font-size: 15px;
        line-height: 140%;
        text-transform: uppercase;
        color: #535353;
      }
    }

    :hover {
      color: #005350;
      font-weight: 800;
    }
  }

  .feedback__image_list {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;

    .feedback__image_list_item {
      height: 50vh;
      width: 20vw;
      background-color: #232323;
      margin-left: 1vw;
      margin-right: 1vw;
    }

    :nth-child(1) {
      //background: url("../../resources/images/feedback1.png") no-repeat center /cover;
    }

    :nth-child(2) {
      //background: url("../../resources/images/feedback2.png") no-repeat center /cover;
    }

    :nth-child(3) {
      //background: url("../../resources/images/feedback3.png") no-repeat center /cover;
    }

    :nth-child(4) {
      //background: url("../../resources/images/feedback4.png") no-repeat center /cover;
    }
  }

  .feedback__more {
    margin-top: 5vh;
    text-align: center;

    button {
      font-family: Mont, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 162%;
      text-transform: uppercase;
      color: #005350;
    }
  }
}

#science {
  .science__header {
    font-family: Mont, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 186%;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }

  .science__list {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 100%;

    .science__item {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: center;

      .science__item_img {
        background-color: #232323;
        width: 200px;
        height: 205px;
      }

      .science__item_text {
        margin-left: 2vw;

        .science__item_date {
          font-family: Mont, serif;
          font-style: normal;
          font-weight: 800;
          font-size: 15px;
          line-height: 153%;
          text-transform: uppercase;
          color: #005350;
        }

        .science__item_header {
          font-family: Mont, serif;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 177%;
          text-transform: uppercase;
          color: #000000;
        }

        .science__item_description {
          font-family: Mont, serif;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 162%;
          color: #535353;
        }
      }
    }
  }
}

footer {
  width: 86%;
  margin-left: 3%;
  margin-right: 3%;

  .footer__list {
    display: flex;
    font-family: Mont, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #000000;

    .footer__item {
      margin-left: 1vw;

      .footer__icons_list {
        position: absolute;
        right: 0;
        display: flex;
        margin-right: 6%;

        .footer__icons_item {

        }
      }
    }
  }

  .footer__info {
    display: flex;
    width: 100%;
    margin-top: 5vh;

    .footer__info_item {
      width: 50%;

      font-family: Mont, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 188%;
      color: #535353;

      a {
        font-family: Mont, serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 153%;

        color: #005350;
      }
    }
  }

  img {
    width: 100%;
    height: 4vh;
  }
}
