@import '../main/index';
@import '../includes/header';
@import '../includes/footer';
@import '../includes/reviews';

.main {
  @include flex();
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding-top: rem(339);
  box-sizing: border-box;
  overflow: hidden;
  background: url("../../resources/images/main-bcg.png") no-repeat center /cover;

  &:after {
    content: '';
    right: 0;
    top: 0;
    background: url("../../resources/images/circle.png") no-repeat center/cover;
    position: absolute;
    width: 100%;
    height: rem(354);

    @media (min-width: $break-iPadProp11) {
      width: rem(697);
      height: rem(651);
    }
    @media (min-width: $break-MacBook) {
      width: rem(849);
      height: rem(792);
    }
    @media (min-width: $break-Main) {
      width: rem(1023);
      height: rem(954);
    }
  }

  @media (max-width: $break-iPhone8) {
    padding-top: rem(107);
  }
}

.effective {
  align-content: flex-start;
  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
  }

  .description {
    @include flex();
    width: 50%;
    z-index: 3;

    @media (max-width: $break-iPhone8) {
      order: 1;
      width: 100%;
    }
  }

  .probiotic-group {
    @include flex();
    width: 50%;
    z-index: 3;

    @media (max-width: $break-iPhone8) {
      order: 0;
      width: 100%;
    }
  }

  .Lab2Pro {
    @include flex();
    color: var(--Color-Lab2Pro);
    font-size: rem(72);
    text-transform: uppercase;
    font-weight: var(--FontWeight-Medium);
    padding-top: rem(27);

    @media (max-width: $break-iPhone8) {
      order: 2;
    }
    @media (min-width: $break-iPadProp11) {
      font-size: rem(150);
      padding-top: rem(68);
    }
    @media (min-width: $break-MacBook) {
      padding-top: rem(85);
      font-size: rem(200);
    }
    @media (min-width: $break-Main) {
      font-size: rem(230);
    }
  }
}

.probiotic-group {
  height: rem(169);
  width: 100%;
  background: url("../../resources/images/probiotic-group-iPhone8.png") no-repeat center/contain;

  @media (max-width: $break-iPhone8) {
    width: 50%;
  }
  @media (min-width: $break-iPadProp11) {
    height: rem(197);
    background: url("../../resources/images/probiotic-group-iPadProp11.png") no-repeat center/contain;
  }
  @media (min-width: $break-MacBook) {
    height: rem(268);
    background: url("../../resources/images/probiotic-group-macBook.png") no-repeat center/contain;
  }
  @media (min-width: $break-Main) {
    height: rem(331);
    background: url("../../resources/images/probiotic-group-main.png") no-repeat center/contain;
  }
}

.viability {
  @include padding-iPadProp11('padding');

  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
    height: rem(480);
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
    height: rem(600);
  }

  &--number {
    color: var(--Color-Text-Green);
    font-size: rem(35);
    display: none;
    font-weight: var(--FontWeight-Medium);
    padding-right: rem(13);

    @media (max-width: $break-iPhone8) {
      @include flex();
    }
  }

  &__title {
    @include section-title;
  }

  &__details {
    padding-top: rem(15);
    @include flex();
    justify-content: space-between;
    position: relative;
    align-items: baseline;

    @media (max-width: $break-iPhone8) {
      flex-direction: column;
    }
    @media (min-width: $break-iPadProp11) {
      height: rem(250);
    }
    @media (min-width: $break-MacBook) {
      height: rem(353);
    }
    @media (min-width: $break-Main) {
      height: rem(442);
    }

    &-title {
      font-weight: var(--FontWeight-Medium);
      font-size: rem(13);
      text-transform: uppercase;

      @media (min-width: $break-MacBook) {
        font-size: rem(15);
      }
      @media (min-width: $break-Main) {
        font-size: rem(17);
      }
    }

    &-description {
      color: var(--Color-Text-Green);
      font-size: rem(11);
      padding-top: rem(3);
      padding-bottom: rem(10);

      @media (min-width: $break-MacBook) {
        font-size: rem(13);
      }
      @media (min-width: $break-Main) {
        font-size: rem(15);
      }
    }

    &-list {
      @include list
    }

    &-img-box {
      @media (max-width: $break-iPhone8) {
        order: 0;
        position: relative;
      }
    }

    &-img {
      background: url("../../resources/images/viability-probiotic-v2.png") no-repeat center/contain;
      width: rem(236);
      height: rem(182);

      @media (max-width: $break-iPhone8) {
        background: url("../../resources/images/viability-probiotic-min.png") no-repeat center/contain;
        width: rem(271);
        height: rem(182);
      }
      @media (min-width: $break-iPadProp11) {
        width: rem(255);
        height: rem(260);
      }
      @media (min-width: $break-MacBook) {
        width: rem(461);
        height: rem(353);
      }
      @media (min-width: $break-Main) {
        width: rem(577);
        height: rem(442);
      }

      &-min {
        display: none;
        @media (max-width: $break-iPhone8) {
          background: url("../../resources/images/viability-probiotic-min.png") no-repeat center/contain;
          display: block;
          width: rem(271);
          height: rem(182);
        }
      }
    }

    &-item {
      padding-top: 10%;
    }

    &-first {
      @media (max-width: $break-iPhone8) {
        order: 1;
      }
    }

    &-second {
      @media (max-width: $break-iPhone8) {
        order: 2;
      }
    }

    &-third {
      align-self: flex-end;
      margin-right: 20%;
      @media (max-width: $break-iPhone8) {
        order: 3;
        align-self: flex-start;
      }
    }
  }
}

.double-cover {
  //height: rem(900)!important;

  @include padding-iPadProp11('padding');

  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
    //height: rem(480);
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
    //height: rem(600);
  }

  &__title {
    @include section-title;
  }

  &__details {
    &-tab {
      display: none;
      @media (min-width: $break-iPhone8) {
        display: block;
      }
    }
  }

  &__details {
    &-accordion {
      display: none;
      @media (max-width: $break-iPhone8) {
        display: block;
      }
    }
  }
}

.bacterial-survival {
  @include flex();
  justify-content: center;
  padding-top: rem(20);
  flex-wrap: wrap;

  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
  }

  &__header {
    @include flex();
    justify-content: center;
    height: rem(170);
    width: 80%;

    @media (max-width: $break-iPadProp11) {
      width: 100%;
      height: fit-content;
      align-items: center;
    }
    @media (max-width: $break-iPhone8) {
      flex-direction: column;
    }

    &-title {
      width: rem(300);
      @include flex();
      align-items: flex-start;
      text-align: center;
      text-transform: uppercase
    }

    &-info {
      align-self: flex-end;

      @media (max-width: $break-iPhone8) {
        padding-top: rem(8);
        align-self: center;
      }
    }

    &-icon-box {
      width: rem(45);
      justify-content: space-around;
      align-items: flex-end;
      @media (max-width: $break-iPhone8) {
        width: rem(30);
      }

      & > span {
        width: rem(1);
        background: var(--Color-Text-Green);

        &:nth-child(1) {
          height: 65%;
        }

        &:nth-child(2) {
          height: 75%;
        }

        &:nth-child(3) {
          height: 85%;
        }

        &:nth-child(4) {
          height: 100%;
        }
      }
    }

    &-number {
      color: var(--Color-Text-Green);
      font-size: rem(125);
      padding-left: rem(24);
      line-height: rem(65);
      font-weight: 300;

      @media (max-width: $break-iPadProp11) {
        font-size: rem(110);
      }
      @media (max-width: $break-iPhone8) {
        font-size: rem(80);
        padding-left: rem(5);
      }
    }

    &-number-box {
      height: rem(110);
      justify-content: space-between;
      @media (max-width: $break-iPadProp11) {
        height: rem(100);
      }
      @media (max-width: $break-iPhone8) {
        height: rem(80);
      }
    }

    &-text-number {
      color: var(--Color-Text-Grey);
      font-size: rem(20);
      padding-left: rem(40);

      @media (max-width: $break-iPadProp11) {
        font-size: rem(17);
      }
      @media (max-width: $break-iPhone8) {
        font-size: rem(13);
        padding-left: rem(10);
      }

    }

    &-text-number2 {
      color: var(--Color-Text-Grey);
      font-size: rem(21);
      text-transform: uppercase;
      align-self: center;
      padding-left: rem(14);
      width: rem(260);

      @media (max-width: $break-iPadProp11) {
        font-size: rem(17);
        width: rem(196);
      }
      @media (max-width: $break-iPhone8) {
        font-size: rem(11);
        width: rem(132);
      }
    }
  }

  &__body {
    width: 100%;
    height: rem(182);

    @media (min-width: $break-iPhone8) {
      padding-top: rem(30);
    }

    @media (min-width: $break-iPadProp11) {
      padding-top: rem(40);
      height: rem(320);
    }
    @media (min-width: $break-MacBook) {
      padding-top: rem(56);
      height: rem(500);
    }
    @media (min-width: $break-Main) {
      padding-top: rem(58);
      height: rem(600);
    }

    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}

.classification {
  @include padding-iPadProp11('padding');
  @media (min-width: $break-MacBook) {
    @include padding-MacBook('padding');
  }
  @media (min-width: $break-Main) {
    @include padding-Main('padding');
  }

  &__list {
    @include flex();

    @media (max-width: $break-iPhone8) {
      flex-direction: column;
    }

    &-item {
      flex: 1;
      padding-top: rem(20);
      justify-content: center;

      @media (max-width: $break-iPhone8) {
        justify-content: flex-start;

        &:not(:last-child) {
          padding: rem(28) 0;
          border-bottom: rem(1) solid var(--Color-Line);
        }
      }
    }

    &-number {
      text-transform: uppercase;
      color: var(--Color-Text-Green);
      font-weight: var(--FontWeight-Medium);
      margin-right: rem(26);
      font-size: rem(50);

      @media (min-width: $break-iPhone8) {
        font-size: rem(50);
      }
      @media (min-width: $break-iPadProp11) {
        font-size: rem(70);
      }
      @media (min-width: $break-MacBook) {
        font-size: rem(60);
      }
      @media (min-width: $break-Main) {
        font-size: rem(70);
      }
    }

    &-title {
      color: var(--Color-Text-Grey);
      font-size: rem(15);
      font-weight: var(--FontWeight-Medium);
      @media (max-width: $break-MacBook) {
        font-size: rem(13);
      }
    }

    &-description {
      color: var(--Color-Text-Grey);
      font-size: rem(15);
      @media (max-width: $break-MacBook) {
        font-size: rem(13);
      }
    }
  }

  &__age {
    &-title {
      @include flex();
      color: var(--Color-Lab2Pro);
      font-size: rem(51);
      text-transform: uppercase;
      font-weight: var(--FontWeight-Medium);
      padding-top: rem(24);

      @media (min-width: $break-iPadProp11) {
        font-size: rem(100);
        padding-top: rem(36);
      }
      @media (min-width: $break-MacBook) {
        padding-top: rem(40);
        font-size: rem(120);
      }
      @media (min-width: $break-Main) {
        padding-top: rem(31);
        font-size: rem(150);

      }

    }

    &-box {
      color: var(--Color-Text-Grey);
      position: relative;

      @media (min-width: $break-iPhone8) {
        font-size: rem(13);
      }
      @media (min-width: $break-iPadProp11) {
        font-size: rem(13);
      }
      @media (min-width: $break-MacBook) {
        font-size: rem(17);
      }
    }

    &-img {
      @media (min-width: $break-iPhone8) {
        width: rem(173);
        height: rem(140);
      }
      @media (min-width: $break-iPadProp11) {
        width: rem(384);
        height: rem(192);
      }
      @media (min-width: $break-MacBook) {
        width: rem(409);
        height: rem(258);
      }
      @media (min-width: $break-Main) {
        width: rem(511);
        height: rem(332);
      }
    }
  }
}

.nbl_atp {
  @include flex();
  margin-top: rem(49);
  margin-left: rem(25);
  width: 100%;
  flex-direction: column-reverse;

  @include iPadProp11 {
    margin-top: rem(65);
    margin-left: rem(35);
    flex-direction: row;
  }

  @include MacBook {
    margin-top: rem(83);
    margin-left: rem(81);
  }

  @include Main {
    margin-top: rem(98);
    margin-left: rem(200);
  }

  &__about {
    @include iPadProp11 {
      width: rem(200);
    }
    @include MacBook {
      width: rem(250);
      margin-top: rem(37);
    }

    @include Main {
      margin-top: rem(50);
    }

    &_big_text {
      @include text($size: 50, $color: 'black', $weight: 'bold', $transform: uppercase);
      @include MacBook {
        @include text($size: 55, $color: 'black', $weight: 'bold', $transform: uppercase);
      }

      @include Main {
        @include text($size: 60, $color: 'black', $weight: 'bold', $transform: uppercase);
      }
    }

    &_small_text {
      @include text($size: 13, $color: 'green',);
      margin-top: rem(7);
      @include MacBook {
        @include text($size: 15, $color: 'green');
      }

      @include Main {
        @include text($size: 17, $color: 'green');
        margin-top: rem(10);
      }
    }

    &_list {
      @include list;
      margin-top: rem(10);

      &_item {
        ///
      }
    }

    &_btn {
      @include actionButton($iPhone8: 11, $iPadProp11: 13, $MacBook: 13, $Main: 13);
      margin-top: rem(20);

      @include MacBook {
        margin-top: rem(25);
      }
    }
  }

  &__image_wrap {
    position: relative;
    height: rem(300);
    width: rem(340);


    @include iPadProp11 {
      margin-left: rem(30);
      height: rem(400);
      width: rem(400);
    }

    @include MacBook {
      margin-left: rem(200);
      height: rem(500);
      width: rem(500);
    }

    @include Main {
      margin-left: rem(240);
      height: rem(700);
      width: rem(700);
    }

    &_big {
      position: absolute;
      z-index: 10;
      width: rem(340);
      height: rem(300);

      @include iPadProp11 {
        height: rem(400);
        width: rem(400);
      }

      @include MacBook {
        height: rem(500);
        width: rem(500);
      }

      @include Main {
        height: rem(700);
        width: rem(700);
      }
    }

    &_bg {
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.1);

      display: none;

      @include iPadProp11 {
        display: block;
      }
    }

    &_bg:nth-child(2) {
      z-index: 9;
      transform: translate(rem(10), rem(10));

    }

    &_bg:nth-child(3) {
      z-index: 8;
      transform: translate(rem(20), rem(20));
    }
  }

  &__arrow {
    display: none;

    @include iPadProp11 {
      display: block;
    }

    svg {
      @include iPadProp11 {
        width: rem(100);
      }

      @include MacBook {
        width: rem(200);
      }

      @include Main {
        width: rem(350);
      }
    }
  }

  &__images {
    @include flex($direction: column, $justify: space-around);
    display: none;

    @include iPadProp11 {
      @include flex();
      margin-left: rem(16);
    }

    @include MacBook {
      margin-left: rem(83);
    }

    @include Main {
      margin-left: rem(26);
    }

    img {
      @include iPadProp11 {
        width: rem(75);
        height: rem(97);
      }

      @include MacBook {
        width: rem(100);
        height: rem(131);
      }

      @include Main {
        //margin-top: rem(46);
        width: rem(125);
        height: rem(163);
      }
    }
  }
}

.doctor_recommendation {
  margin-top: rem(50);
  @include iPadProp11 {
    margin-top: rem(150);
  }

  @include MacBook {
    margin-top: rem(206);
  }

  @include Main {
    margin-top: rem(256);
  }

  .doctor_recommendation__header {
    @include flex();
    justify-content: center;
    @include text($size: 20, $color: 'black', $transform: uppercase);

    @include iPadProp11 {
      @include text($size: 30, $color: 'black', $transform: uppercase);
    }

    @include MacBook {
      @include text($size: 35, $color: 'black', $transform: uppercase);
    }
  }

  .doctor_recommendation__list {
    @include flex();
    justify-content: center;
    width: 90%;
    margin-left: rem(20);
    flex-wrap: wrap;

    @include iPadProp11 {
      width: 100%;
      margin-left: 0;
    }


    .doctor_recommendation__list_item {
      text-align: center;
      width: 25%;
      flex-wrap: wrap;
      margin-top: rem(12);
      @include text($size: 11, $color: 'grey');

      @include iPadProp11 {
        margin-top: rem(31);
        @include text($size: 13, $color: 'grey');
      }

      @include MacBook {
        width: 15%;
        margin-top: rem(25);
        @include text($size: 15, $color: 'grey');

      }

      @include Main {
        margin-top: rem(14);
      }

    }
  }

  .doctor_recommendation__cards {
    @include flex();
    justify-content: center;
    flex-direction: column;
    margin-top: rem(23);
    margin-left: rem(25);
    width: 100%;

    @include iPadProp11 {
      flex-direction: row;
      margin-top: rem(53);
      margin-left: rem(35);
    }

    @include MacBook {
      margin-top: rem(70);
      margin-left: rem(81);
    }

    @include Main {
      margin-top: rem(75);
      margin-left: rem(107);
    }

    .doctor_recommendation__card {
      @include iPadProp11 {
        margin-left: rem(5);
      }

      @include MacBook {
        margin-left: rem(7);
      }

      @include Main {
        margin-left: rem(10);
      }

      .doctor_recommendation__img {
        width: 100%;

        @include iPadProp11 {
          margin-top: rem(20);
        }

        @include MacBook {
          margin-top: rem(25);
        }

        @include Main {
          margin-top: rem(50);
        }

        &_wrap{
          img {
            z-index: 4;
            $multi: 1.1;
            width: rem(153*$multi);
            height: rem(106*$multi);
            @include iPadProp11 {
              $multi: 1.2;
              width: rem(240*$multi);
              height: rem(164*$multi);
            }

            @include MacBook {
              $multi: 1.2;
              width: rem(321*$multi);
              height: rem(221*$multi);
            }

            @include Main {
              $multi: 1.4;
              width: rem(400*$multi);
              height: rem(277.25*$multi);
            }
          }
        }
      }


      .doctor_recommendation__description {
        @include flex();
        flex-direction: column;

        margin-left: rem(14);
        margin-top: rem(30);

        @include iPadProp11 {
          margin-left: rem(22);
        }

        @include MacBook {
          margin-left: rem(32);
        }

        @include Main {
          margin-left: rem(40);
        }
      }

      .doctor_recommendation__card_header {
        @include text($size: 13, $color: 'black');

        @include Main {
          @include text($size: 15, $color: 'black');
        }
      }

      .doctor_recommendation__description_small {
        @include text($size: 13, $color: 'black', $weight: 'light');

        @include Main {
          @include text($size: 15, $color: 'black', $weight: 'light');
        }
      }
    }

    .doctor_recommendation__card:hover {
      transform: scale(1.1,1.1);
      .doctor_recommendation__img{
        position: relative;
        &_wrap{
          img{
            position: absolute;
          }
        }
        .doctor_recommendation__img_bg{
          background: #000;
          opacity: 0.5;
          z-index: 0;

          //position: absolute;

          $multi: 1.1;
          width: rem(153*$multi);
          height: rem(106*$multi);
          @include iPadProp11 {
            $multi: 1.2;
            width: rem(240*$multi);
            height: rem(164*$multi);
          }

          @include MacBook {
            $multi: 1.2;
            width: rem(321*$multi);
            height: rem(221*$multi);
          }

          @include Main {
            $multi: 1.4;
            width: rem(400*$multi);
            height: rem(277.25*$multi);
          }
        }
      }

    }
  }
}



.states {
  width: 100%;
  margin-top: rem(38);

  @include iPadProp11 {
    margin-top: rem(64);
  }

  @include MacBook {
    margin-top: rem(86);
  }

  @include Main {
    margin-top: rem(84);
  }

  .states__img_wrap {
    @include flex();
    position: relative;

    &_header {
      position: absolute;
      @include flex();
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &_text {
        @include text($size: 20, $transform: uppercase, $color: 'black');

        @include iPadProp11 {
          @include text($size: 25, $transform: uppercase, $color: 'black');
        }

        @include MacBook {
          @include text($size: 35, $transform: uppercase, $color: 'black');
        }
      }
    }

    .states__science_picture {
      width: rem(355);
      margin-left: rem(30);
      @include iPadProp11 {
        width: rem(704);
        margin-left: rem(40);
      }

      @include MacBook {
        width: rem(890);
        margin-left: rem(69);
      }

      @include Main {
        width: rem(1179);
        margin-left: rem(108);
      }
    }
  }


  &__wrap {
    margin-left: rem(30);
    @include iPadProp11 {
      transform: translateY(rem(-100));
      margin-left: rem(40);
    }

    @include MacBook {
      transform: translateY(rem(-120));
      margin-left: rem(69);
    }

    @include Main {
      transform: translateY(rem(-140));
      margin-left: rem(108);
    }

    .row {
      @include flex($direction: column);
      width: 100%;
      margin-top: rem(21);

      @include iPadProp11 {
        flex-direction: row;
        margin-top: rem(43);
      }

      @include MacBook {
        margin-top: rem(50);
      }

      @include Main {
        margin-top: rem(70);
      }

      .col {
        margin-top: rem(21);

        @include iPadProp11 {
          $margin: rem(30);
          margin-left: $margin;
          margin-right: $margin;
        }

        @include MacBook {
          $margin: rem(92);
          margin-left: $margin;
          margin-right: $margin;
        }

        @include Main {
          $margin: rem(185);
          margin-left: $margin;
          margin-right: $margin;
        }
      }
    }


    .state {
      @include flex($direction: column);

      @include iPadProp11 {
        flex-direction: row;
      }

      .state__image_wrap {
        .state__image {
          width: rem(311);
          height: rem(153);

          @include iPadProp11 {
            width: rem(145);
            height: rem(146);
          }

          @include MacBook {
            width: rem(159);
            height: rem(164);
          }

          @include Main {
            width: rem(200);
            height: rem(205);
          }
        }

        @include iPadProp11 {
          margin-right: rem(28);
        }

        @include MacBook {
          margin-right: rem(37);
        }

        @include Main {
          margin-right: rem(46);
        }
      }

      .text {
        @include flex($direction: column, $justify: center);
        width: rem(300);

        .state__date {
          @include text($size: 15, $color: 'green', $weight: 'bold');
        }

        .state__header {
          font-size: rem(13);
          @include text($size: 13, $color: 'black', $weight: 'medium', $transform: uppercase);
          line-height: rem(23);
        }

        .state__description {
          font-size: rem(13);
          color: var(--Color-Text-Grey);
        }

        @include iPadProp11 {
          width: rem(170);
        }

        @include MacBook {
          width: rem(215);
        }

        @include Main {
          width: rem(220);
        }
      }
    }
  }
}

footer {
  width: 86%;
  margin-left: 3%;
  margin-right: 3%;

  .footer__list {
    @include flex();
    font-family: Mont, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #000000;

    .footer__item {
      margin-left: 1vw;

      .footer__icons_list {
        position: absolute;
        right: 0;
        @include flex();
        margin-right: 6%;

        .footer__icons_item {

        }
      }
    }
  }

  .footer__info {
    @include flex();
    width: 100%;
    margin-top: 5vh;

    .footer__info_item {
      width: 50%;

      font-family: Mont, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 188%;
      color: #535353;

      a {
        font-family: Mont, serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 153%;

        color: #005350;
      }
    }
  }

  img {
    width: 100%;
    height: 4vh;
  }
}
