@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.products-detail {
  @include flex($direction: column);
  border-bottom: $border;
  margin: rem(150) rem(30) 0 rem(30);
  
  @include iphone{
    margin-top: rem(200);
  }
  @include iPadProp11 {
    margin-left: rem(76);
    margin-right: rem(76);
  }
  @include MacBook {
    @include flex($direction: row);
    margin-top: rem(200);
  }
  @include Main {
    margin-left: rem(108);
    margin-right: rem(108);
  }
  
  &__left {
    @include flex($direction: column);
    width: 100%;
    
    
    @include MacBook {
      width: 65%;
      border-right: $border;
    }
  }
  
  &__right {
    @include flex($direction: column);
    width: 100%;
    position: relative;
    padding: rem(40) 0;
    
    @include iPadProp11 {
      @include flex($direction: row);
      margin-top: 0;
      padding: rem(68) 0;
    }
    
    @include MacBook {
      @include flex($direction: column, $align-items: center);
      width: 35%;
      margin-top: 42%;
      padding: 0 0 rem(56) 0;
    }
    @include Main {
      @include flex($direction: column, $align-items: center);
      margin-top: 50%;
      //margin-top: 35%;
    }
    @media (min-width: 1800px) {
      margin-top: 600px;
    }
    
    &__box-save {
      display: none;
      
      @include MacBook {
        display: flex;
        margin-bottom: rem(47);
      }
      @include Main {
        display: none;
      }
    }
  }
  
  
}


.info {
  @include flex($direction: column);
  margin-top: rem(150);
  padding: 0 rem(30);
  position: relative;
  
  @include iPadProp11 {
    padding: 0 rem(76);
  }
  @include MacBook {
    padding: 0 rem(86);
  }
  @include Main {
    padding: 0 rem(108);
  }
  
  
  &__benefits {
    @include flex($wrap: wrap);
    @include iPadProp11 {
      @include flex($direction: column);
    }
    
    &-item {
      @include flex($direction: column);
      width: 100%;
      margin-bottom: rem(30);
      
      @include iPadProp11 {
        width: 50%;
      }
    }
    
    &-header {
      @include flex($justify: space-between, $align-items: center);
    }
    
    &-title {
      @include text($transform: uppercase, $color: 'black');
      line-height: rem(25);
      width: 60%;
      
      @include MacBook {
        @include text($size: 17, $transform: uppercase, $color: 'black');
      }
    }
    
    &-description {
      @include text($color: 'grey', $weight: 'light');
      line-height: rem(32);
      
      @include MacBook {
        @include text($size: 17, $color: 'grey', $weight: 'light');
      }
      margin-top: rem(20);
    }
  }
  
  &__description {
    width: 100%;
    
    @include iPadProp11 {
      width: 60%;
    }
    
    &--list {
      @include list;
      margin-top: rem(17);
      //padding-bottom: rem(60);
      
      @include iPadProp11 {
        margin-top: rem(25);
      }
      @include MacBook {
        padding-right: rem(57);
        margin-top: rem(44);
      }
      @include Main {
        padding-right: rem(107);
        margin-top: rem(28);
      }
      
      ul {
        li {
          line-height: rem(25);
          
          @include iPadProp11 {
            line-height: rem(30);
          }
          @include MacBook {
            line-height: rem(32);
          }
          @include Main {
            line-height: rem(27);
          }
        }
      }
    }
  }
  
  &__when-help {
    margin-top: rem(30);
    
    &--title {
      @include text($size: 17, $transform: uppercase, $color: 'black');
      
      @include iPadProp11 {
        @include text($size: 25);
      }
      
      @include Main {
        @include text($size: 27);
      }
    }
  }
  
  &__product-line {
    @include flex($direction: column);
    width: 100%;
    padding-top: rem(40);
    position: relative;
    
    @include iPadProp11 {
      @include flex($direction: row);
    }
    @include MacBook {
      @include flex($direction: column, $align-items: center);
      padding-top: rem(100);
    }
    @include Main {
      @include flex($direction: column, $align-items: center);
      padding-top: rem(44);
    }
    
    &--title {
      display: none;
      @include MacBook {
        @include text(17, uppercase, 'black');
        display: block;
        align-self: center;
        margin-bottom: rem(20);
      }
    }
  }
  
  &__first {
    @include flex($direction: column);
    width: 100%;
    
    @include iPadProp11 {
      @include flex($direction: row, $align-items: flex-end);
      margin-bottom: 5%;
    }
    @include MacBook {
      @include flex($direction: row, $align-items: flex-end);
    }
    @include Main {
      margin-bottom: 10%;
    }
    
    &__box-save {
      @include flex;
      width: 100%;
      border-top: $border;
      border-bottom: $border;
      position: relative;
      padding: rem(30) 0;
      margin-top: rem(40);
      
      @include iPadProp11 {
        display: flex;
        border: 0;
        width: rem(350);
        margin: 0;
        padding: 0;
      }
      @include MacBook {
        display: none;
      }
    }
  }
  
  &__main {
    border-bottom: $border;
    @include iPadProp11 {
      border-top: rem(1) solid var(--Color-Line);
    }
    
    @include MacBook {
      @include flex();
      border-top: 0;
    }
    
    &--accordion {
      @include iPadProp11 {
        display: none;
      }
    }
    
    &--tab {
      display: none;
      @include iPadProp11 {
        display: flex;
      }
    }
    
    &--center-container {
      @include MacBook {
        @include flex($direction: column);
      }
      @include Main {
        padding-top: rem(20);
      }
    }
    
    &--benefits {
      @include flex($wrap: wrap, $justify: space-between);
      padding: rem(65) rem(30);
      position: relative;
      border: 0 !important;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: $border;
        
        @include MacBook {
          width: 150%;
        }
      }
      
      & > * {
        width: 35% !important;
      }
      
      :nth-child(2n) {
        margin-right: 5%;
      }
    }
    
    &--composition {
      @include flex($direction: column);
      position: relative;
      border: 0 !important;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: $border;
        
        @include MacBook {
          width: 150%;
        }
      }
    }
  }
  
  &__container {
    &-second {
      width: 100%;
      margin-top: rem(20);
      @include iPadProp11 {
        @include flex($direction: column, $justify: space-around);
        margin-top: 0;
      }
    }
  }
  
  &__action {
    &-buy {
      @include actionButton;
      margin-top: rem(20);
      
      @include iPadProp11 {
        margin-top: rem(30);
      }
      @include MacBook {
        margin-top: rem(40);
      }
      @include Main {
        margin-top: rem(50);
      }
    }
  }
  
  &-iPad {
    &__box-img {
      display: none;
      position: absolute;
      @include iPadProp11 {
        display: flex;
        right: 0;
        top: rem(60);
      }
      @include MacBook {
        display: none;
      }
    }
  }
  
  &-MacBook {
    &__box-img {
      display: none;
      position: absolute;
      z-index: 3;
      @include MacBook {
        display: flex;
        right: 0;
        top: rem(93);
      }
      @include Main {
        display: none;
      }
    }
  }
  
  &-Main {
    &__box-img {
      display: none;
      position: absolute;
      z-index: 3;
      @include Main {
        display: flex;
        right: 0;
        top: rem(118);
      }
      @media (min-width: 1800px) {
        display: none;
      }
    }
  }
  
  &-Desktop {
    &__box-img {
      display: none;
      position: absolute;
      z-index: 3;
      @media (min-width: 1800px) {
        display: flex;
        right: 0;
        top: rem(118);
      }
    }
  }
  
  &-desktop {
    &__box-save {
      display: none;
      
      @include Main {
        display: flex;
        position: absolute;
        width: rem(300);
        z-index: 3;
        right: 0;
        transform: translate(0, -20%);
      }
    }
  }
  
  &-iPhone8 {
    &__box-img {
      height: rem(255);
      display: flex;
      @include iPadProp11 {
        display: none;
      }
    }
    
    &__title {
      &-text {
        font-weight: var(--FontWeight-Regular);
      }
      
      &-sub {
        color: var(--Color-Text-Green);
        font-weight: var(--FontWeight-Medium);
      }
    }
    
    &__box-save {
      @include flex;
      width: 100%;
      border-top: $border;
      border-bottom: $border;
      position: relative;
      padding: rem(30) 0;
      margin-top: rem(40);
      
      @include iPadProp11 {
        @include flex($justify: center);
        width: 35.05%;
        margin-top: 0;
        margin-bottom: rem(30);
        padding: 0;
        border: 0;
        align-self: flex-end;
        
      }
      @include MacBook {
        transform: translateY(rem(50));
        width: 35%;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          left: 0;
          top: rem(-220);
          height: rem(300);
          border-left: $border;
          border-radius: rem(1);
        }
      }
      @include Main {
        transform: translateY(0);
        margin-bottom: 0;
      }
      
      &-icon {
        width: rem(49);
        height: rem(49);
        margin-right: rem(20);
      }
      
      &-box {
        @include flex($direction: column, $justify: space-between)
      }
      
      &-text {
        @include text($transform: uppercase, $color: 'black');
        @include iPadProp11 {
          @include text($size: 17, $transform: uppercase, $color: 'black');
        }
        @include Main {
          @include text($size: 19, $transform: uppercase, $color: 'black');
        }
        
      }
      
      &-arrow {
        width: rem(93);
        height: rem(20);
      }
    }
    
    &__accordion {
      &-title {
        @include text($transform: uppercase, $color: 'green');
      }
      
      &-panel {
        @include flex($direction: column);
        position: relative;
        border: 0 !important;
        
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          border-top: $border;
          
          @include MacBook {
            width: 150%;
          }
        }
      }
      
      &-content-row {
        @include flex();
        width: 100%;
        margin: rem(15) 0;
      }
      
      &-content-table {
        @include flex($direction: column);
        margin: rem(40) 0 rem(15) 0;
        
        @include MacBook {
          padding-right: rem(57);
        }
        @include Main {
          padding-right: rem(48);
        }
      }
      
      &-content-icon {
        @include flex();
        height: rem(50);
        width: rem(50);
      }
      
      &-content-box {
        @include flex($direction: column, $justify: space-around);
        padding: rem(10) 0;
        margin-left: rem(20);
      }
      
      &-content-title {
        @include text($transform: uppercase, $color: 'black')
      }
      
      &-content-description {
        @include text($color: 'grey', $weight: 'light');
        line-height: rem(32);
      }
    }
  }
  
  &-iPadProp11 {
    &__box-img {
      position: absolute;
      display: none;
      right: 0;
      
      @include iPadProp11 {
        background: url("../../resources/images/probiotic-gold-iPad-gold.png") no-repeat center/cover;
        display: flex;
        width: 40%;
        height: rem(406);
      }
      @include MacBook {
        height: rem(498);
      }
      @include MacBook {
        height: rem(498);
      }
      @include MacBook {
        height: rem(574);
      }
      
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  
}

.reviews {
  margin: rem(72) rem(30) 0 rem(30);
  @include iPadProp11 {
    margin-left: rem(76);
    margin-right: rem(76);
  }
  @include Main {
    margin-left: rem(108);
    margin-right: rem(108);
  }
  
  &__title {
    @include headerUpperCase;
    @include flex($justify: flex-start);
    margin-bottom: rem(11);
    
    @include iPadProp11 {
      @include flex($justify: center);
    }
  }
  
  &__table {
    justify-content: flex-start;
    @include iPadProp11 {
      justify-content: center;
    }
    
    & label {
      padding: rem(10) !important;
    }
    
    &--body {
      @include flex($direction: column, $align-items: flex-start);
      border: 0 !important;
      
      @include iPadProp11 {
        @include flex($direction: column, $align-items: center);
      }
    }
    
    &--content {
      @include flex($wrap: wrap, $justify: space-between);
      margin-top: rem(50);
    }
    
    &--item {
      @include flex();
      height: rem(189);
      width: 49%;
      margin: rem(4) 0;
      
      @include iPadProp11 {
        height: rem(299);
        width: 32%;
      }
      @include MacBook {
        height: rem(292);
        width: 24%;
      }
      @include Main {
        height: rem(364);
      }
    }
    
    &--fetch-more {
      @include actionButton(11, 13, 13, 13);
      @include flex($justify: flex-start);
      margin-top: rem(32);
      
      @include iPadProp11 {
        @include flex($justify: center);
        margin-top: rem(56);
      }
    }
  }
  
}

.questions {
  @include flex($direction: column);
  margin: rem(72) rem(30) 0 rem(30);
  
  @include iPadProp11 {
    @include flex($align-items: center);
    margin-left: rem(76);
    margin-right: rem(76);
  }
  @include Main {
    margin-left: rem(108);
    margin-right: rem(108);
  }
  
  &__body {
    @include flex($direction: column);
    @include iPadProp11 {
      @include flex($wrap: wrap, $direction: row)
    }
  }
  
  &__item {
    @include text($color: 'black', $weight: 'light');
    width: 100%;
    padding: rem(20) 0;
    border-bottom: $border;
    
    @include iPadProp11 {
      @include text($size: 17, $color: 'black', $weight: 'light');
      width: 50%;
    }
    @include Main {
      @include text($size: 21, $color: 'black', $weight: 'light');
      width: 50%;
    }
  }
}


.accordion .a-container .a-btn__text {
  opacity: 1;
  font-weight: var(--FontWeight-Light) !important;
}

.accordion .a-container.active .a-btn__text {
  font-weight: var(--FontWeight-Medium) !important;
}
