@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


.products {
  margin-top: rem(150);
  
  @include iphone{
    margin-top: rem(200);
  }
  
  &__first {
    @include flex($direction: column-reverse, $justify: space-between);
    padding: 0 rem(29);
    
    @include iPadProp11 {
      @include flex($direction: row);
      padding: 0 rem(41);
    }
    @include MacBook {
      padding: 0 rem(93);
    }
    @include Main {
      padding: 0 rem(108);
    }
    
    &--description-container {
      @include flex($direction: column);
      width: 65%;
      margin-top: rem(18);
      
      @include iPadProp11 {
        width: auto;
        margin-top: rem(20);
      }
      @include MacBook {
        margin-top: rem(41);
      }
      @include Main {
        margin-top: rem(26);
      }
    }
    
    &--title-container {
      width: 100%;
      @include iPadProp11 {
        width: 50%;
      }
      @include Main {
        width: 40%;
      }
    }
    
    &--img-container {
      @include flex($justify: center);
      position: relative;
      height: 80%;
      max-height: rem(331);
      margin-bottom: rem(42);
      
      &:after {
        @include text(160, uppercase, 'title');
        display: none;
        content: 'nlb';
        position: absolute;
        bottom: -40%;
        left: -10%;
        z-index: -1;
        
        @include iPadProp11 {
          display: flex;
        }
        
        @include MacBook {
          bottom: -50%;
          font-size: rem(220);
        }
        @include Main {
          font-size: rem(230);
        }
      }
      
      & img {
        height: 100%;
        width: 100%;
      }
    }
    
    &--title{
      @include headerUpperCase;
    }
    
    &--description {
      @include description;
    }
    
    &--action {
      @include actionButton;
    }
  }
  
  &__second {
    @include flex($direction: column);
    margin-top: 5%;
    margin-left: rem(29);
    
    @include iPadProp11 {
      margin-left: rem(41);
    }
    @include MacBook {
      margin-left: rem(93);
    }
    @include Main {
      margin-left: rem(108);
    }
  }
  
  &__item {
    @include flex();
    position: relative;
    padding: rem(35) 0;
    @include iPadProp11 {
      padding: rem(49) 0;
    }
    
    &--someimg {
      display: none;
      @include iPadProp11 {
        display: block;
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
    
    &:not(:last-child) {
      border-bottom: $border;
    }
    
    &:not(:first-child) {
      margin-right: rem(29);
      @include iPadProp11 {
        margin-right: rem(41);
      }
      @include MacBook {
        margin-right: rem(93);
      }
      @include Main {
        margin-right: rem(108);
      }
    }
    
    &--img {
      @include flex($direction: column);
      width: 45%;
      
      @include iPadProp11 {
        width: rem(115);
      }
      @include MacBook {
        width: rem(157);
      }
      @include Main {
        width: rem(194);
      }
      
      svg {
        width: 100%;
        height: 100%;
      }
    }
    
    &--img-arrow {
      @include flex();
      height: rem(4);
      width: 50%;
      margin-top: rem(27);
      
      @include iPadProp11 {
        display: none;
      }
      
      svg {
        width: 100%;
      }
    }
    
    &--title {
      @include text(17, uppercase, 'black');
      
      @include iPadProp11 {
        @include text(25, uppercase, 'black');
      }
      @include Main {
        @include text(27, uppercase, 'black');
      }
    }
    
    &--description {
      @include description;
      margin-top: rem(14);
      
      @include iPadProp11 {
        margin-top: rem(23);
      }
      @include MacBook {
        margin-top: rem(10);
      }
      @include Main {
        margin-top: rem(12);
      }
    }
    
    &--arrow {
      width: rem(55);
      height: rem(4);
      display: none;
      
      @include iphone {
        width: rem(75);
        margin-top: rem(28);
      }
      
      @include iPadProp11 {
        @include flex();
        width: rem(75);
        margin-top: rem(28);
      }
      @include MacBook {
        width: rem(93);
        margin-top: rem(29);
      }
      @include Main {
        width: rem(93);
        margin-top: rem(13);
      }
      
      svg {
        width: 100%;
        height: 100%;
      }
    }
    
    &--description-container {
      @include flex(no-wrap, column, center, flex-start);
      width: 100%;
      
      @include iPadProp11 {
        width: 40%;
      }
    }
  }
}
