@import '../main/index';
@import '../includes/header';
@import '../includes/footer';


body {
  overflow-x: hidden;
}

.honey_img__wrap {

  width: 100%;
  margin-top: rem(90+25);
  margin-left: rem(30);

  @include iPadProp11 {
    margin-left: 0;
    margin-top: rem(140);
  }

  @include MacBook {
    margin-top: rem(170);
  }

  .honey_img {
    width: rem(315);
    height: rem(166);

    @include iPadProp11 {
      width: 95%;
      height: rem(322);
      float: right;
    }

    @include MacBook {
      height: rem(445)
    }

    @include Main {
      height: rem(566);
    }
  }
}

header {
  padding: 0 !important;

  .bred {
    margin-left: rem(30);

    @include iPadProp11 {
      margin-left: rem(40);
      margin-top: rem(370+22);
    }

    @include MacBook {
      margin-top: rem(510+25);
      margin-left: rem(70);
    }

    @include Main {
      margin-top: rem(650+16);
      margin-left: rem(100);
    }

  }
}


.horizontal_line {
  width: 90%;
  border: 1px solid rgba(85, 85, 85, 0.2);
}

.ipad_only {
  display: none;

  @include iPadProp11 {
    display: block;
  }

  @include MacBook {
    display: none;
  }
}

main {
  margin-left: rem(30);

  @include iPadProp11 {
    margin-left: rem(40);
  }

  @include MacBook {
    width: 100%;
    margin-left: rem(70);
    @include flex();
  }

  @include Main {
    margin-left: rem(100);
  }

  .vertical-hr {
    @include MacBook {
      height: 100%;
      width: rem(1);
      background: rgba(85, 85, 85, 0.2);
    }
  }


  .state {
    margin-top: rem(27);
    width: 100%;

    @include iPadProp11 {
      padding-top: rem(210+61);
    }

    @include MacBook {
      padding-top: 0;
    }

    &__header {
      @include iPadProp11 {
        margin-top: rem(90+57);
      }

      @include MacBook {
        margin-top: rem(10+80);
      }

      @include Main {
        margin-top: rem(35+80);
      }

      &-text-date {
        @include text($size: 13, $color: 'black');
        line-height: rem(85);
        @include iPadProp11 {
          @include text($size: 15, $color: 'black');
        }

        @include MacBook {
          @include text($size: 17, $color: 'black');
        }

      }

      &-text-big {
        @include headerUpperCase();
        margin-top: rem(20);
        line-height: rem(35);

        @include iPadProp11 {
          margin-top: rem(31);
        }

        @include MacBook {
          margin-top: rem(32);
        }
      }

      &-description {
        @include description();
        margin-top: rem(8);
        line-height: rem(25);

        @include iPadProp11 {
          margin-top: rem(27);
        }

        @include MacBook {
          margin-top: rem(53);
        }
      }

      &-description-iphone-only {
        @include iPadProp11 {
          display: none;
        }
      }
    }

    .vitamin {
      margin-top: rem(25);

      &__header {
        @include text($size: 17, $color: 'black')
      }

      &__list {
        @include list;
        width: 80%;

        ul {
          li {
            line-height: rem(25);
          }
        }
      }
    }

    .horizontal_line {
      @include iPadProp11 {
        margin-top: rem(50);
      }

      @include MacBook {
        margin-top: rem(75);
      }

      @include Main {
        margin-top: rem(75);
      }
    }
  }

  .states {
    margin-top: rem(35);


    @include iPadProp11 {
      margin-left: 0;
    }

    @include MacBook {
      margin-left: rem(41);
    }

    &__nbl_atp_wrap {
      @include flex();

      @include iPadProp11 {

      }

      @include MacBook {
        display: block;
        transform: translateY(rem(-200));
      }


      &_img {
        width: rem(103);
        height: rem(133);

        @include iPadProp11 {
          width: rem(178);
          height: rem(231);
        }

        @include MacBook {
          width: rem(265);
          height: rem(344);
        }

        @include Main {
          width: rem(297);
          height: rem(386);
        }
      }

      &_header {
        margin-left: rem(27);
        @include flex($direction: column, $justify: center, $align-items: center);

        @include iPadProp11 {
          flex-direction: row;
          margin-left: 0;
        }

        @include MacBook {
          margin-top: rem(18);
          margin-right: rem(120);
        }

        @include Main {
          margin-right: rem(230);
        }

        &__text {
          width: rem(100);

          &_big {
            @include text($size: 17, $transform: uppercase, $color: 'black');
          }

          &_small {
            @include text($size: 13, $color: 'black', $weight: 'light');
            margin-top: rem(2);
          }
        }

        &__arrow {
          margin-top: rem(16);
          margin-left: rem(15);
          width: rem(100);
          height: rem(5);
        }
      }
    }


    &__state {
      @include flex($direction: column);
      margin-top: rem(73);
      width: 90%;

      @include iPadProp11 {
        flex-direction: row;
        margin-top: rem(70);
      }

      @include MacBook {
        flex-direction: column;
        margin-right: rem(120);
        margin-top: 0;
      }

      &_wrap {
        img {
          height: rem(153);

          @include iPadProp11 {
            height: rem(149);
            width: rem(145);
          }
          @include MacBook {
            height: auto;
            width: auto;
          }
        }
      }

      &_text {
        margin-top: rem(24);
        margin-left: rem(10);
        width: 70%;

        @include iPadProp11 {
          width: 30%;
        }

        @include MacBook {
          width: 70%;
        }

        &_date {
          @include text($size: 15, $color: 'green', $weight: 'bold');
        }

        &_big {
          @include text($size: 13, $color: 'black', $weight: 'medium');
          margin-top: rem(7);

          @include iPadProp11{

          }

          @include MacBook{

          }

          @include Main{

          }
        }

        &_small {
          @include text($size: 13, $color: 'grey', $weight: 'medium');
          margin-top: rem(3);
        }
      }


    }

    .horizontal_line {
      @include iPadProp11 {
        margin-top: rem(65);
      }

      @include MacBook {

      }

      @include Main {

      }
    }
  }
}


