<form class="form" name="order-form">
    <div class="form__item">
        <input class="form__item-input" name="fio" type="text" required/>
        <label>ФИО</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="phone" type="text" required/>
        <label>Телефон</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="email" type="email" required/>
        <label>E-mail</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="message" type="text" required/>
        <label>Сообщение</label>
        <span></span>
    </div>
    <div class="form__send-box">
        <button class="form__send-button" type="submit">
            <svg>
                <use href="#Arrow-1"></use>
            </svg>
        </button>
    </div>
</form>
