<footer>
    <ul class="footer__list">
        <div class="tab-menu">
            <input type="radio" id="be1" name="mytabs5" checked="checked">
            <label class="reviews__table--label" for="be1">все</label>
            <div class="tab-menu__body">
                <a href="#">Сферы применения</a>
                <a href="#">Документы</a>
                <a href="#">Вопросы-ответы</a>
                <a href="#">Статьи</a>
            </div>
            <input type="radio" id="be2" name="mytabs5" checked="checked">
            <label for="be2">instagram</label>
            <div class="tab-menu__body">
                2
            </div>

            <input type="radio" id="be3" name="mytabs5" checked="checked">
            <label for="be3">facebook</label>
            <div class="tab-menu__body">
                3
            </div>

            <input type="radio" id="be4" name="mytabs5" checked="checked">
            <label for="be4">Вконтакте</label>
            <div class="tab-menu__body">
                4
            </div>

            <input type="radio" id="be5" name="mytabs5" checked="checked">
            <label for="be5">Whatsupp</label>
            <div class="tab-menu__body">
                5
            </div>
        </div>
        <div class="social-list">
            <a href="#">
                <svg>
                    <use href="#vk"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="#facebook"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="#vk"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="#vk"></use>
                </svg>
            </a>
        </div>
    </ul>

    <ul class="footer__info">
        <li class="footer__info--item">
            Производитель: Cell Biotech Co., Ltd, Южная Корея, 397,<br/>
            Aegibong-ro, Wolgot-myeon, Gimpo-si, Gyeonggi-do, 415-872<br/>
            <br/>
            Импортер/Адрес организации, принимающей<br/>
            на территории Республики Казахстан претензии<br/>
            от потребителей по качеству продукции<br/>
            <br/>
            <a>
                Политика конфиденциальности
            </a>
        </li>
        <li class="footer__info--item">
            АО «Нобел Алматинская Фармацевтическая Фабрика»<br/>
            Республика Казахстан, 050008, г. Алматы, ул. Шевченко, 162 Е.<br/>
            тел: +7 (727) 399-50-50, факс: +7 (727) 399-60-60<br/>
            <br/>
            Лицензия № ИПОР 64604515Р от 09.09.2003 г.<br/>
            ISO 9001: 2015 от 10.05.18 г.<br/>
            <br/>
            <a>
                Пользовательское соглашение
            </a>

        </li>
    </ul>

    <img src="./src/resources/images/footer-text.png" alt="" />
</footer>
