<footer class="footer" id="contacts">
  <div class="fixed-wrap">
    <div class="contacts">
      <div class="contacts__head">
        <h3 class="contacts__title section-title">Contacts</h3>
        <div class="contacts__control" data-glide-el="controls">
          <button class="contacts__control-button contacts__control-button--position_left" data-glide-dir="<">
            <svg class="contacts__control-arrow">
              <use href="#arrow-triangle"/>
            </svg>
          </button>
          <button class="contacts__control-button contacts__control-button--position_right" data-glide-dir=">">
            <svg class="contacts__control-arrow">
              <use href="#arrow-triangle"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="contacts__slider-container" data-glide-el="track">
        <div class="slider">
          <div class="slide">
            <div class="slide__content slide__content--office_head">
              <h3 class="slide__title">HEAD OFFICE</h3>
              <p class="slide__description">Elm Park House, Elm Park Court, Pinner, Middlesex, HA5 3NN, United Kingdom</p>
              <span class="slide__contact-text slide__contact-text--phone">Tel: +44 20 32871026</span>
              <span class="slide__contact-text">info@wembleycs.co.uk</span>
            </div>
          </div>

          <div class="slide">
            <div class="slide__content slide__content--office_geneva">
              <h3 class="slide__title">GENEVA OFFICE</h3>
              <p class="slide__description">Rue de Villereuse 22, CH-1207 Geneva, P.O Box:CH-1211, Geneva, Switzerland, P.O. Box 5235</p>
              <span class="slide__contact-text slide__contact-text--phone">Tel: +41 22 319 6420</span>
              <span class="slide__contact-text">info@wembleycs.co.uk</span>
            </div>
          </div>

          <div class="slide">
            <div class="slide__content slide__content--office_moscow">
              <h3 class="slide__title">MOSCOW OFFICE</h3>
              <p class="slide__description">Nauchny proezd 14a bld. 1, 117246, Moscow, Russian Federation</p>
              <span class="slide__contact-text slide__contact-text--phone">Tel: +7 495 197-74-94</span>
              <span class="slide__contact-text">info@wembleycs.co.uk</span>
            </div>
          </div>

          <div class="slide">
            <div class="slide__content slide__content--office_singapore">
              <h3 class="slide__title">SINGAPORE OFFICE</h3>
              <p class="slide__description">171 Tanjong Rhu Road 314963 Singapore</p>
              <span class="slide__contact-text slide__contact-text--phone">Tel: +65 8121 9155</span>
              <span class="slide__contact-text">alexander@wembleycs.co.uk</span>
            </div>
          </div>

          <div class="slide">
            <div class="slide__content slide__content--office_brasil">
              <h3 class="slide__title">BRASIL</h3>
              <p class="slide__description">Rua Cabral do Nascimento, 10 CEP 04929-110 Alto da Riviera São Paulo - SP, Brasil</p>
              <span class="slide__contact-text slide__contact-text--phone">Tel: +55 11 95810 8713</span>
              <span class="slide__contact-text">giovani@wembleycs.co.uk</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="order-form__open_button" data-order-form-open>
      Order form
    </button>
  </div>
</footer>
