<form class="form" name="order-form">
    <div class="form__item">
        <input class="form__item-input" name="organization" type="text" required/>
        <label>Название организации *</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="town" type="text" required/>
        <label>Город</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="phone" type="text" required/>
        <label>Контактный телефон *</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="email" type="email" required/>
        <label>Контактный e-mail *</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="know" type="text" required/>
        <label>Откуда вы узнали о нас</label>
        <span></span>
    </div>
    <div class="form__item">
        <input class="form__item-input" name="comments" type="text" required/>
        <label>Комментарии</label>
        <span></span>
    </div>
    <div class="form__send-box">
        <div class="form__captcha">
            <img
                    class="form__captcha--img"
                    src="./src/resources/images/captcha.png"
                    alt="captcha"
            />
        </div>
        <button class="form__send-button" type="submit">
            <svg>
                <use href="#Arrow-1"></use>
            </svg>
        </button>
    </div>
</form>
