<section class="reviews">
    <div class="reviews__title">Отзывы</div>
    <div class="mytabs reviews__table">
        <input type="radio" id="s1" name="mytabs1" checked="checked">
        <label class="reviews__table--label" for="s1">все</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <div class=reviews__slider-container" data-glide-el="track">
                    <div class="slider">
                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s2" name="mytabs1" checked="checked">
        <label for="s2">instagram</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <div class=reviews__slider-container" data-glide-el="track">
                    <div class="slider">
                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s3" name="mytabs1" checked="checked">
        <label for="s3">facebook</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <div class=reviews__slider-container" data-glide-el="track">
                    <div class="slider">
                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s4" name="mytabs1" checked="checked">
        <label for="s4">Вконтакте</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <div class=reviews__slider-container" data-glide-el="track">
                    <div class="slider">
                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>

        <input type="radio" id="s5" name="mytabs1" checked="checked">
        <label for="s5">Whatsupp</label>
        <div class="tab reviews__table--body">
            <div class="reviews__table--content">
                <div class=reviews__slider-container" data-glide-el="track">
                    <div class="slider">
                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>

                        <div class="slide">
                            <img
                                    class="reviews__table--item"
                                    src="./src/resources/images/probiotic-atp-large.png"
                                    alt="Science"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__table--fetch-more">Смотреть все</div>
        </div>
    </div>
</section>